<form [formGroup]="form">
  <section>
    <app-section-heading class="label-for-required-input">{{ 'service-details.name' | translate }}</app-section-heading>
    <ion-item>
      <ion-input [formControlName]="formFields.name"></ion-input>
    </ion-item>
  </section>
  <section>
    <app-section-heading class="label-for-required-input">
      {{ 'service-details.duration-and-price' | translate }}
    </app-section-heading>
    <app-duration-editor class="ion-margin" [formControlName]="formFields.duration">
      <app-form-control-error [controlName]="formFields.duration" errors></app-form-control-error>
    </app-duration-editor>
    <app-full-price-control [formControlName]="formFields.price">
      <app-form-control-error
        [controlName]="formFields.price"
        [filterErrors]="['paymentMethodsRequired']"
      ></app-form-control-error>
      <app-form-control-error
        [controlName]="formFields.price"
        [showErrors]="['paymentMethodsRequired']"
      ></app-form-control-error>
    </app-full-price-control>
  </section>
</form>
