<ion-item [formGroup]="row" *ngFor="let row of controls; let i = index">
  <ion-label slot="start">
    {{ 'global.weekdays.' + getDayByIndex(row.controls[formFields.Day].value) | translate }}
  </ion-label>
  <ion-item lines="none">
    <ion-label position="stacked">{{ 'global.from' | translate }}</ion-label>
    <ion-input class="ion-text-center" type="time" [formControlName]="formFields.StartTime"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">{{ 'global.to' | translate }}</ion-label>
    <ion-input class="ion-text-center" type="time" [formControlName]="formFields.EndTime"></ion-input>
  </ion-item>
  <ion-button color="medium" fill="clear" slot="end" (click)="deleteDay(i)" *ngIf="!disabled">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>
</ion-item>
<app-add-button *ngIf="!disabled" (click)="showDaySelector()">
  {{ 'service-publish.step-seven.timetable.add-new-time' | translate }}
</app-add-button>
