ion-searchbar {
  --icon-color: var(--ion-color-medium);
  --placeholder-color: var(--ion-color-medium);
  --placeholder-opacity: 1;
  --cancel-button-color: var(--ion-color-medium);
  --clear-button-color: var(--ion-color-medium);
  --ion-text-color: var(--ion-color-medium);
  --color: var(--ion-color-medium);
}
