<form [formGroup]="loginFormService.form" (ngSubmit)="submitLoginForm()" (keydown.enter)="submitLoginForm()">
  <ion-row class="ion-justify-content-center">
    <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
      <error-flashbag [message]="errorMessage"></error-flashbag>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
      <ion-item>
        <ion-label color="medium" position="floating">{{ 'login-form.login' | translate }}</ion-label>
        <ion-input type="text" name="username" [formControlName]="formFields.Username" ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
      <ion-item>
        <ion-label color="medium" position="floating">{{ 'login-form.password' | translate }}</ion-label>
        <ion-input type="text" name="password" [formControlName]="formFields.Password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
      <ion-button
              type="submit"
              expand="block"
              fill="solid"
              color="success"
              [disabled]="loginFormService.isFormValid()"
      >{{ 'login-form.sign-in' | translate }}</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
      <ion-button
              expand="block"
              fill="solid"
              color="secondary"
              (click)="onForgotPassword()"
      >{{ 'login-form.forgot-password' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</form>
