<ng-container *ngIf="context$ | async as context">
  <ion-row *ngIf="context.canEdit" class="ion-wrap ion-align-items-start ion-justify-content-center">
    <div class="ion-margin-bottom">
    </div>
  </ion-row>
  <ion-row *ngIf="context.canEdit" class="ion-wrap ion-align-items-start ion-justify-content-center">
    <input type="file" multiple class="hidden" [accept]="acceptedImageTypes" (change)="addImages($event)" #input />
    <ion-button [disabled]="pending$ | async" (click)="input.click()">{{ 'master-profile.portfolio.add-photo' | translate }}</ion-button>
  </ion-row>
  <ng-container *ngIf="photos$ | async as masterPhotos">
    <ion-row *ngIf="masterPhotos.length > 0" class="ion-wrap ion-align-items-start ion-margin-bottom ion-justify-content-center">
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>
            <h1>{{ 'master-profile.portfolio.gallery' | translate }}</h1>
          </ion-label>
        </ion-list-header>
        <ion-item class="photo-container ion-item-no-side-padding pv5 ph5" lines="none">
          <div class="gallery" appViewImageSlider>
            <div class="gallery-element" *ngFor="let photo of masterPhotos">
              <div class="gallery-element-container">
                <ion-img
                  appViewOnClick
                  class="ion-img"
                  [src]="photo.photo_thumbnail"
                  [fullSizeSrc]="photo.photo"
                  alt="{{ photo.name }}"
                  title="{{ photo.name }}"
                ></ion-img>
                <ion-button *ngIf="context.canEdit" class="delete-button" fill="clear" color="danger" (click)="removeImage(photo.id)">
                  <ion-icon name="close-circle"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-row>
  </ng-container>
</ng-container>
