<ng-container *ngIf="context$ | async as context">
  <ion-row *ngIf="context.canEdit" class="ion-wrap ion-align-items-start ion-justify-content-center">
    <ion-item class="ion-margin-bottom ion-item-no-border">
      <ngx-dropzone class="width100" [accept]="'image/*'" (change)="dropzoneOnSelect($event)">
        <ngx-dropzone-label>
          <ion-row>
            {{ 'service-publish.step-three.dropzone-label' | translate }}
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-item class="ion-item-no-border">
              <ion-icon name="download-outline"></ion-icon>
            </ion-item>
          </ion-row>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview *ngFor="let file of files" [file]="file" [removable]="true" (removed)="dropzoneOnRemove(file)">
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </ion-item>
  </ion-row>
  <ion-row *ngIf="context.canEdit" class="ion-wrap ion-align-items-start ion-justify-content-center">
    <ion-button color="secondary" [disabled]="!files.length" (click)="addImages()">add new photo</ion-button>
  </ion-row>
  <ng-container *ngIf="photos$ | async as masterPhotos">
    <ion-row *ngIf="masterPhotos.length > 0" class="ion-wrap ion-align-items-start ion-margin-bottom ion-justify-content-center">
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>
            <h1>{{ 'master-profile.portfolio.gallery' | translate }}</h1>
          </ion-label>
        </ion-list-header>
        <ion-item class="photo-container ion-item-no-border ion-item-no-side-padding pv5 ph5">
          <div class="gallery">
            <div class="gallery-element" *ngFor="let photo of masterPhotos">
              <div class="gallery-element-container">
                <ion-img
                  spinner
                  viewOnClick
                  class="ion-img"
                  [src]="photo.photo_thumbnail"
                  [fullSizeSrc]="photo.photo"
                  alt="{{ photo.name }}"
                  title="{{ photo.name }}"
                ></ion-img>
                <ion-button *ngIf="context.canEdit" class="delete-button" fill="clear" color="secondary" (click)="removeImage(photo.id)">
                  <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-row>
  </ng-container>
</ng-container>
