.gallery {
  column-count: 3;
  column-width: 120px;
  column-gap: 10px;
  .gallery-element {
    min-height: 100%;
    margin-bottom: 10px;
    .gallery-element-container {
      height: 100%;
      position: relative;
      .ion-img {
        width: 100%;
      }
      .delete-button {
        position: absolute;
        top: 0%;
        right: 0%;
        --padding-end: 0;
        --padding-start: 0;
        --padding-top: 0;
        --padding-bottom: 0;
      }
    }
  }
}
