@media (max-width: 410px) {
  .my-orders {
    font-size: 12px;
  }
  .main-logo {
    padding-right: 0;
    padding-left: 0;
    --padding-end: 0;
    --padding-start: 0;
  }
  .my-orders {
    padding-left: 0;
    --padding-start: 0;
  }
}

.my-orders {
  white-space: nowrap;
}
