<ion-header *ngIf="context$ | async as context">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle menu="main-menu">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-item class="main-logo" lines="none" routerDirection="root" [detail]="false" routerLink="/" slot="start">
      <img src="assets/images/logo.svg" alt="" />
    </ion-item>
    <ng-container *ngIf="context.isAuthenticated">
      <ng-container *ngIf="!context.isMaster; else master">
        <ion-item *ngIf="isDesktop()" [detail]="false" lines="none" slot="end" routerLink="/service/publish">
          {{ 'layout.become-professional' | translate }}
        </ion-item>
        <ion-item class="my-orders" lines="none" slot="end" routerLink="/my-orders/outbox" [detail]="false">
          <ion-icon class="pr5" name="calendar-outline"></ion-icon>
          {{ 'layout.my-orders' | translate }}
        </ion-item>
      </ng-container>
      <ng-template #master>
        <ion-item class="my-orders" lines="none" slot="end" routerLink="/my-orders/inbox" [detail]="false">
          <ion-icon class="pr5" name="calendar-outline"></ion-icon>
          {{ 'layout.my-orders' | translate }}
        </ion-item>
      </ng-template>
    </ng-container>
    <ion-buttons slot="end">
      <ion-button *ngIf="context.isAuthenticated" routerLink="/message">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-badge *ngIf="countOfUnreadMessages$ | async as count" color="danger">{{ count }}</ion-badge>
      </ion-button>
      <ion-button *ngIf="!context.isAuthenticated" routerLink="/auth/login">
        {{ 'layout.log-in' | translate }}
      </ion-button>
      <ion-button
        *ngIf="!context.isAuthenticated && isDesktop()"
        routerLink="/auth/registration"
        fill="solid"
        color="primary"
      >
        {{ 'layout.sign-up' | translate }}
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-toggle menu="flag-menu">
        <ion-button>
          <ion-icon name="globe-outline"></ion-icon>
          <ion-label class="ion-padding-horizontal">{{ 'global.' + (currentLanguage$ | async) | translate }}</ion-label>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>
