<ion-header *ngIf="context$ | async as context">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle menu="main-menu" [autoHide]="false">
        <ion-button (click)="toggleMenu('main-menu')">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-item class="main-logo" lines="none" routerDirection="root" [detail]="false" routerLink="/" slot="start">
      <img src="assets/images/logo.svg" alt="" />
    </ion-item>

    <ng-container *ngIf="context.isAuthenticated">
      <ng-container *ngIf="!context.isMaster; else master">
        <ion-item *ngIf="isDesktop()" [detail]="false" lines="none" slot="end" routerLink="/service/publish">
          {{ 'template.become-master' | translate }}
        </ion-item>
        <ion-item class="my-orders" lines="none" slot="end" routerLink="/my-orders/outbox" [detail]="false">
          <ion-icon class="pr5" name="calendar-outline"></ion-icon>
          {{ 'template.my-orders' | translate }}
        </ion-item>
      </ng-container>
      <ng-template #master>
        <ion-item class="my-orders" lines="none" slot="end" routerLink="/my-orders/inbox" [detail]="false">
          <ion-icon class="pr5" name="calendar-outline"></ion-icon>
          {{ 'template.my-orders' | translate }}
        </ion-item>
      </ng-template>
    </ng-container>

    <ion-buttons *ngIf="context.isAuthenticated" routerLink="/message" slot="end">
      <ion-button>
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-badge *ngIf="countOfUnreadMessages$ | async as count" color="danger">{{ count }}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-item
      lines="none"
      class="text-blue"
      slot="end"
      [detail]="false"
      *ngIf="!context.isAuthenticated"
      routerLink="/auth/login"
      routerDirection="forward"
      routerLinkActive="active"
    >
      {{ 'template.sign-in' | translate }}
    </ion-item>
    <ion-item
      lines="none"
      class="text-blue"
      slot="end"
      [detail]="false"
      *ngIf="!context.isAuthenticated && isDesktop()"
      routerLink="/auth/registration"
      routerLinkActive="active"
      routerDirection="forward"
    >
      {{ 'template.sign-up' | translate }}
    </ion-item>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="flag-menu">
        <ion-button>
          <app-country-flag
            *ngIf="currentLanguage$ | async as currentLanguage"
            [lang]="currentLanguage"
          ></app-country-flag>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
