@media (max-width: 410px) {
  .my-orders {
    font-size: 12px;
  }
  .main-logo {
    padding-right: 0;
    padding-left: 0;
    --padding-end: 0;
    --padding-start: 0;
  }
  .my-orders {
    padding-left: 0;
    --padding-start: 0;
  }
}

.my-orders {
  white-space: nowrap;
}

@media (min-width: 768px) {
  ion-header {
    height: 80px;
  }
}

.toolbar {
  height: 100%;
  --min-height: 100%;
  margin: auto;
  width: min(100vw, 40rem); // TODO extract mixin
}
