<ion-content>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitPlugins()" (keydown.enter)="submitPlugins()">
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-item>
                    <ion-label color="medium" position="floating">Plugins</ion-label>
                    <ion-select [formControlName]="formFields.Plugins" multiple="true" interface="popover">
                        <ion-select-option *ngFor="let option of plugins"
                                           value="{{option.id}}">{{option.title}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-button
                        type="submit"
                        expand="block"
                        fill="solid"
                        color="success"
                        [disabled]="isSubmitDisabled()"
                >save
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
