<ion-content>
    <form [formGroup]="form" (ngSubmit)="submitPlugins()" (keydown.enter)="submitPlugins()">
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3" formGroupName="plugins">
                <ion-item *ngFor="let control of form.get('plugins').controls; let idx = index">
                    <ion-label color="medium"
                               position="floating">plugin</ion-label>
                    <ion-select placeholder="{{control.key}}" interface="popover" [formControlName]="idx">
                        <ion-select-option *ngFor="let option of plugins" value="{{option.id}}">{{option.title}}</ion-select-option>
                    </ion-select>
<!--                    <ion-button (click)="removeSelect(idx)" slot="end">remove</ion-button>-->
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-button expand="full" color="light" (click)="add()">Add Plugin</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-button
                        type="submit"
                        expand="block"
                        fill="solid"
                        color="success"
                >save</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
