<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header>{{ 'service-details.title' | translate }}</app-column-header>
    <app-info-row *ngIf="showSuccessOrderNotification$ | async">
      {{ 'order.success-title' | translate }}<br />
      {{ 'order.success-description' | translate }}
    </app-info-row>
    <ng-container *ngIf="service; else loading">
      <app-service-widget [service]="service" [master]="master" [alwaysExpanded]="true"></app-service-widget>
      <div class="ion-text-right">
        <ion-button size="default" class="ion-align-self-end" [routerLink]="'/order/' + service.id">
          {{ 'master-profile.services.service-presentation.pick' | translate }}
          <ion-icon name="calendar-outline" class="ion-padding-start"></ion-icon>
        </ion-button>
      </div>
    </ng-container>
  </app-content-wrapper>
</ion-content>
<ng-template #loading>
  <app-loading-indicator></app-loading-indicator>
</ng-template>
