<app-column-header [previousLocationFallback]="'/professional'">
  {{ 'master-profile.edit-master.title' | translate }}
</app-column-header>
<ion-item>
  <ion-label color="medium" position="floating">
    {{ 'master-profile.edit-master.name' | translate }}
  </ion-label>
  <ion-input
    type="text"
    name="first_name"
    [placeholder]="'master-profile.edit-master.name-placeholder' | translate"
    [formControl]="nameControl"
  ></ion-input>
</ion-item>
<ion-item>
  <ion-label color="medium" position="floating">
    {{ 'master-profile.edit-master.description' | translate }}
  </ion-label>
  <ion-input
    type="text"
    name="last_name"
    [placeholder]="'master-profile.edit-master.description-placeholder' | translate"
    [formControl]="descriptionControl"
  ></ion-input>
</ion-item>
<ion-item>
  <ion-label color="medium" position="floating">
    {{ 'master-profile.edit-master.company' | translate }}
  </ion-label>
  <ion-input
    type="text"
    name="patronymic"
    [placeholder]="'master-profile.edit-master.company-placeholder' | translate"
    [formControl]="companyControl"
  ></ion-input>
</ion-item>
<ion-item>
  <ion-label color="medium" position="floating">
    {{ 'master-profile.edit-master.experience' | translate }}
  </ion-label>
  <ion-input
    type="number"
    [placeholder]="'master-profile.edit-master.experience-placeholder' | translate"
    [formControl]="experienceControl"
  ></ion-input>
</ion-item>
<ion-item>
  <ion-label color="medium" position="floating">
    {{ 'master-profile.edit-master.level' | translate }}
  </ion-label>
  <ion-select
    [placeholder]="'master-profile.edit-master.level-placeholder' | translate"
    [formControl]="levelControl"
    interface="popover"
  >
    <ion-select-option *ngFor="let level of levelOptions" value="{{ level }}">
      {{ level }}
    </ion-select-option>
  </ion-select>
</ion-item>
<app-category-selector [formControl]="categoryControl"></app-category-selector>
<app-subcategory-selector
  [formControl]="subcategoryControl"
  [category]="categoryControl.value"
></app-subcategory-selector>
<ion-button
  (click)="save()"
  [disabled]="form.invalid || form.pristine"
  class="ion-margin-top"
  fill="solid"
  expand="block"
>
  {{ 'master-profile.edit-master.save' | translate }}
</ion-button>
