<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-error-flashbag [messages]="errorMessages$ | async"></app-error-flashbag>
    <app-login-form [pending]="pending$ | async" (user)="onSubmitLoginForm($event)"></app-login-form>
    <ion-button
      expand="block"
      fill="solid"
      color="success"
      routerLink="/auth/registration"
    >
      {{ 'login-form.sign-up' | translate }}
    </ion-button>
    <ion-button expand="block" fill="solid" routerLink="/auth/password-recover">
      {{ 'login-form.forgot-password' | translate }}
    </ion-button>
  </app-content-wrapper>
</ion-content>
