<ion-button
    [disabled]="isPrevButtonDisabled$ | async"
    class="button prev-button"
    size="small"
    color="secondary"
    (click)="slidePrev()"
    *ngIf="servicePhotos.length"
>
    <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
</ion-button>
<ion-spinner class="spinner" name="lines"></ion-spinner>
<ion-slides class="slides" [options]="slideOptsTwo" #slides>
    <ion-slide *ngFor="let servicePhoto of servicePhotos" (click)="zoomPhoto(servicePhoto)">
        <app-service-photo-loader [src]="servicePhoto.photo"></app-service-photo-loader>
    </ion-slide>
</ion-slides>
<ion-button
    [disabled]="isNextButtonDisabled$ | async"
    class="button next-button"
    size="small"
    color="secondary"
    (click)="slideNext()"
    *ngIf="servicePhotos.length"
>
    <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
</ion-button>
