<ion-row class="ion-justify-content-between width100">
    <ion-item [class.ion-item-no-side-padding]="noSidePadding" class="ion-item-no-border">
        <ion-label>
            <b>{{title | translate}}</b>
        </ion-label>
    </ion-item>
    <ion-item [class.ion-item-no-side-padding]="noSidePadding" class="ion-item-no-border">
        <ion-icon (click)="collapse();onClickFunc()" name="{{collapsed ? arrowDown : arrowUp}}"></ion-icon>
    </ion-item>
</ion-row>
<div *ngIf="!collapsed">
    <ng-content></ng-content>
</div>

