<ion-item *ngIf="publicReview" class="width100 ">
    <ion-col class="ion-no-padding ion-margin-bottom">
        <ion-row class="ion-align-items-center ion-justify-content-between width100">
            <ion-item
                    class="ion-item-no-border ion-item-no-side-padding ion-item-no-vertical-padding ion-item-no-min-height">
                <ion-item
                        class="ion-item-no-border ion-item-no-side-padding ion-item-no-vertical-padding ion-item-no-min-height ion-padding-end">
                    <ion-avatar>
                        <ion-img [src]="getUser().getPhotoThumbnail()"></ion-img>
                    </ion-avatar>
                </ion-item>
                <ion-item
                        class="ion-item-no-border ion-item-no-side-padding ion-item-no-vertical-padding ion-item-no-min-height">
                    {{getUser().first_name}}
                </ion-item>
            </ion-item>
            <ion-item
                    class="ion-item-no-border ion-item-no-side-padding ion-item-no-vertical-padding ion-item-no-min-height">
                flag
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item class="ion-item-no-border ion-item-no-side-padding ion-item-no-vertical-padding grey-text">
                Время отзыва: {{getDate()}}
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item
                    class="ion-item-no-border ion-item-no-side-padding ion-item-no-vertical-padding ion-item-no-min-height ion-margin-top mb10 rating-title">
                {{getRatingTitle()|translate}}&nbsp;
                <app-rating [rating]="publicReview.rating" class="ion-margin-start"></app-rating>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item
                    class="ion-item-no-border ion-item-no-side-padding ion-item-no-vertical-padding ion-item-no-min-height ion-margin-bottom grey-text">
                {{publicReview.description}}
            </ion-item>
        </ion-row>

        <ion-row *ngIf="publicReview.comment">
            <ion-item class="ion-item-no-border ion-item-no-side-padding ion-item-no-vertical-padding width100">
                <ion-col class="ion-no-padding">
                    <ion-row class="ion-align-items-center ion-justify-content-between width100 mb10">
                        Ответ мастера
                    </ion-row>
                    <ion-row>
                        <ion-item
                                class="ion-item-no-border ion-item-no-side-padding ion-item-no-vertical-padding review-comment width100">
                            {{publicReview.comment.description}}
                        </ion-item>
                    </ion-row>
                </ion-col>
            </ion-item>
        </ion-row>

    </ion-col>
</ion-item>
