<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'client'">
    <header>{{ 'service-details.location.from' | translate }}</header>
    <app-location-selector [service]="service" (selectedLocationId)="selectLocationId($event)"></app-location-selector>
    <ion-item>
      <ion-label position="floating" class="label-for-required-input">
        {{ 'service-details.location.attendance-distance' | translate }}
      </ion-label>
      <ion-input type="number" min="0" max="9999" (ionChange)="enterDistance($event)"> </ion-input>
    </ion-item>
  </ng-container>
  <ng-container *ngSwitchCase="'professional'">
    <header>{{ 'service-details.location.choose-address' | translate }}</header>
    <app-location-selector [service]="service" (selectedLocationId)="selectLocationId($event)"></app-location-selector>
  </ng-container>
</ng-container>
