.education-date {
  color: var(--ion-color-medium);
  font-size: 0.75rem;
}

.education-title {
  font-weight: bold;
  &:first-letter {
    text-transform: capitalize;
  }
}
.university {
  margin-top: 7px;
  margin-bottom: 7px;
}
