<ion-label>
  <div *ngIf="!education.is_still_here" class="education-date">
    {{ education.start_date }} - {{ education.end_date }}
  </div>
  <div *ngIf="education.is_still_here" class="education-date">
    {{ education.start_date }} - {{ 'global.experience-dates.until-now' | translate }}
  </div>
  <div class="university">
    <b>{{ education.university }}</b>
  </div>
  <div>{{ education.deegree }}</div>
  <div class="ion-text-wrap ion-margin-vertical">
    {{ education.description }}
  </div>
</ion-label>
