<ion-row class="ion-padding-vertical ion-justify-content-center ion-item-no-side-padding">
    <ion-col size="12" class="agreement-text ion-padding-horizontal" *ngIf="trans.getCurrentLang() === 'ru'">
            Нажимая клавишу «Добавить объявление», вы принимаете условия
            <a routerLink="/" routerDirection="forward" routerLinkActive="active">Пользовательского соглашения</a>,
            ознакомились
            с <a routerLink="/" routerDirection="forward" routerLinkActive="active">Правилами</a> и принимаете их.
    </ion-col>
</ion-row>
