<ion-row class="ion-padding-vertical ion-justify-content-center ion-item-no-side-padding">
  <ion-col size="12" class="agreement-text ion-padding-horizontal">
    {{ 'agreement.part-1' | translate: { publish: 'service-publish.final-step.publish' | translate } }}

    <a routerLink="/">
      {{ 'agreement.eula' | translate }}
    </a>,

    {{ 'agreement.part-2' | translate }}

    <a routerLink="/">
      {{ 'agreement.rules' | translate }}
    </a>

    {{ 'agreement.part-3' | translate }}

  </ion-col>
</ion-row>
