<app-step-container>
    <ion-list>
        <ion-list-header class="fs20">
            <ion-label>{{ 'order.location-header' | translate }}: {{ locationLabel | translate }}</ion-label>
        </ion-list-header>
        <ion-radio-group *ngIf="locations.length" [formControl]="formControl">
            <ion-item *ngFor="let location of locations">
                <ion-label>{{ location.text }}</ion-label>
                <ion-radio slot="start" [value]="location.id"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
</app-step-container>
