<div class="client-block-container">
  <ion-row class="client-block">
    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="client-promo">
      <h1 class="client-promo__title">{{ 'promo.block-1-title' | translate }}</h1>
      <p class="client-promo__note">{{ 'promo.block-1-text' | translate }}</p>
      <ion-button color="light" size="large" routerLink="/search">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>{{ 'promo.block-1-button' | translate }}</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="client-graphics">
      <img src="assets/images/introduction/hairdresser.png" alt="" class="client-graphics__photo" />
      <img src="assets/images/introduction/phone-en.png" alt="" class="client-graphics__screenshot" />
    </ion-col>
  </ion-row>
</div>

<div class="simple-steps-block">
  <h1 class="simple-steps-block__title">{{ 'promo.block-2-title' | translate }}</h1>
  <div class="simple-steps-block__steps">
    <div class="simple-step">
      <img src="assets/images/introduction/promo-publish.png" alt="" class="simple-step__picture" />
      <span class="simple-step__text">{{ 'promo.step-1-text' | translate }}</span>
      <span class="simple-step__note">{{ 'promo.step-1-note' | translate }}</span>
    </div>
    <div class="simple-step">
      <img src="assets/images/introduction/promo-schedule.png" alt="" class="simple-step__picture" />
      <span class="simple-step__text">{{ 'promo.step-2-text' | translate }}</span>
      <span class="simple-step__note">{{ 'promo.step-2-note' | translate }}</span>
    </div>
    <div class="simple-step">
      <img src="assets/images/introduction/promo-order.png" alt="" class="simple-step__picture" />
      <span class="simple-step__text">{{ 'promo.step-3-text' | translate }}</span>
      <span class="simple-step__note">{{ 'promo.step-3-note' | translate }}</span>
    </div>
  </div>
</div>

<div class="professional-block"></div>
