<!--<ion-content>-->
<!--    <form *ngIf="form" [formGroup]="form" (submit)="submitForm()">-->
<!--        <ion-row class="ion-justify-content-center">-->
<!--            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">-->
<!--                <app-tags-select-input-->
<!--                        formControlName="tags"-->
<!--                        [masterId]="masterId"-->
<!--                ></app-tags-select-input>-->
<!--            </ion-col>-->
<!--        </ion-row>-->
<!--        <ion-row class="ion-justify-content-center">-->
<!--            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">-->
<!--                <ion-button-->
<!--                        type="submit"-->
<!--                        expand="block"-->
<!--                        fill="solid"-->
<!--                        color="primary"-->
<!--                >submit</ion-button>-->
<!--            </ion-col>-->
<!--        </ion-row>-->
<!--    </form>-->
<!--</ion-content>-->
