<ion-item class="ion-item-no-border item-background-color-green">
    <ion-row class="ion-padding-vertical ion-justify-content-center">
        <ion-col size="11" class="ion-no-padding">
            <ion-item class="ion-item-no-side-padding ion-item-no-border">
                <ng-content></ng-content>
            </ion-item>
        </ion-col>
        <ion-col size="1">
            <ion-item
                    class="ion-item-no-min-height ion-item-no-side-padding ion-item-no-border ion-align-self-start ion-item-no-vertical-padding">
                <ion-icon color="success" name="alert-circle"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-item>
