<ion-item lines="none">
  <ion-label>
    {{ 'search.filters.instant-booking' | translate }}
    <app-hint hint="{{ 'issuance.filters.main-tab.instant-booking-desc' | translate }}"></app-hint>
  </ion-label>
  <ion-checkbox [formControl]="controls.isInstantBooking"></ion-checkbox>
</ion-item>
<ion-item lines="none">
  <ion-label>{{ 'search.filters.only-with-photos' | translate }}</ion-label>
  <ion-checkbox [formControl]="controls.onlyWithPhotos" class="ion-no-margin" slot="end"></ion-checkbox>
</ion-item>
<ion-item lines="none">
  <ion-label>{{ 'search.filters.only-with-fixed-price' | translate }}</ion-label>
  <ion-checkbox [formControl]="controls.onlyWithFixedPrice" slot="end"></ion-checkbox>
</ion-item>
<app-section-heading>{{ 'search.filters.price-title' | translate }}</app-section-heading>
<ion-item>
  <ionic-selectable
    itemValueField="currency"
    itemTextField="title"
    [canSearch]="true"
    [canClear]="true"
    [items]="rates$ | async"
    [formControl]="controls.priceCurrency"
    closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
    searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
    searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
  >
  </ionic-selectable>
</ion-item>
<ion-item>
  <ion-label position="floating">{{ 'search.filters.price-start' | translate }}</ion-label>
  <ion-input appNumbersOnly [formControl]="controls.priceStart"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">{{ 'search.filters.price-end' | translate }}</ion-label>
  <ion-input appNumbersOnly [formControl]="controls.priceEnd"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="medium" position="floating">
    {{ 'search.filters.payment-methods' | translate }}
  </ion-label>
  <ionic-selectable
    [items]="paymentMethods"
    [formControl]="controls.paymentMethods"
    [isMultiple]="true"
    [canClear]="true"
    itemTextField="value"
    itemValueField="value"
  >
    <ng-template ionicSelectableValueTemplate let-value="value">
      <div *ngFor="let item of value">{{ 'service-payment-options.' + item.value | translate }}</div>
    </ng-template>
    <ng-template ionicSelectableItemTemplate let-item="item">
      {{ 'service-payment-options.' + item.value | translate }}
    </ng-template>
  </ionic-selectable>
</ion-item>
<app-section-heading>{{ 'search.filters.professional-traits-title' | translate }}</app-section-heading>
<ion-item lines="none">
  <ion-label>{{ 'search.filters.only-with-reviews' | translate }}</ion-label>
  <ion-checkbox [formControl]="controls.onlyWithReviews" slot="end"></ion-checkbox>
</ion-item>
<ion-item lines="none">
  <ion-label>{{ 'search.filters.only-with-certificates' | translate }}</ion-label>
  <ion-checkbox [formControl]="controls.onlyWithCertificates" slot="end"></ion-checkbox>
</ion-item>
<ion-item>
  <ion-label position="floating">{{ 'search.filters.start-age' | translate }}</ion-label>
  <ion-input [formControl]="controls.startAge" appNumbersOnly></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">{{ 'search.filters.end-age' | translate }}</ion-label>
  <ion-input [formControl]="controls.endAge" appNumbersOnly></ion-input>
</ion-item>
<app-country-selector
  [formControl]="controls.nationality"
  [isMultiple]="false"
  [title]="'search.filters.nationality' | translate"
>
</app-country-selector>
<ion-item>
  <ion-label color="medium" position="floating">
    {{ 'search.filters.languages' | translate }}
  </ion-label>
  <ionic-selectable
    [items]="languages$ | async"
    [formControl]="controls.languages"
    [isMultiple]="true"
    [canClear]="true"
    [canSearch]="true"
    itemTextField="name"
    itemValueField="code"
  >
  </ionic-selectable>
</ion-item>
<ion-item lines="none">
  <ion-label color="medium" position="floating">
    {{ 'search.filters.professional-level' | translate }}
  </ion-label>
  <ionic-selectable
    [items]="professionalLevels"
    [formControl]="controls.professionalLevel"
    [canClear]="true"
    itemTextField="value"
    itemValueField="value"
  >
    <ng-template ionicSelectableValueTemplate let-value="value">
      {{ 'global.professional-level.' + value.value | translate }}
    </ng-template>
    <ng-template ionicSelectableItemTemplate let-item="item">
      {{ 'global.professional-level.' + item.value | translate }}
    </ng-template>
  </ionic-selectable>
</ion-item>
