<ion-segment (ionChange)="changeTab($event)" [value]="tabs.current">
  <ion-segment-button [value]="tabs.current">
    <ion-label>{{ 'sent_orders.currentTab' | translate }}</ion-label>
  </ion-segment-button>
  <ion-segment-button [value]="tabs.archive">
    <ion-label>{{ 'sent_orders.archiveTab' | translate }}</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-list>
  <app-infinite-scroll-container [doLoad$]="doLoad$">
    <ng-template appInfiniteScrollItem let-item>
      <app-sent-order-list-item [order]="item"> </app-sent-order-list-item>
    </ng-template>
    <ng-template appInfiniteScrollLoading>
      <app-loading-indicator></app-loading-indicator>
    </ng-template>
    <ng-template appInfiniteScrollEmptyList>
      <ion-item class="ion-text-center" lines="none">
        <ion-label>{{ 'sent_orders.empty-placeholder' | translate }}</ion-label>
      </ion-item>
    </ng-template>
  </app-infinite-scroll-container>
</ion-list>
