.fullName {
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
}
.companyName {
  color: #989AA2;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}

.other-text {
  font-size: 16px;
  line-height: 20px;
  color: #222428;
  font-style: normal;
}
