<ion-row *ngIf="sectionData">
    <ion-col class="ion-no-padding">
        <ion-item class="fullName ion-item-no-border ion-item-no-min-height pv5">
            {{sectionData.fullName}}
        </ion-item>
        <ion-item *ngIf="sectionData.company" class="companyName ion-item-no-border ion-item-no-min-height pv5">
            {{sectionData.company}}
        </ion-item>
        <ion-item class="ion-item-no-border ion-item-no-min-height pv5">
            <ion-img [src]="getAvatar()"></ion-img>
        </ion-item>
    </ion-col>
</ion-row>
