<ion-row *ngIf="sectionData">
    <ion-col class="ion-no-padding">
        <ion-item class="fullName ion-item-no-border ion-item-no-min-height pv5">
            {{sectionData?.fullName}}
        </ion-item>
        <ion-item *ngIf="sectionData?.company" class="companyName ion-item-no-border ion-item-no-min-height pv5">
            {{sectionData?.company}}
        </ion-item>
        <ion-item *ngIf="sectionData?.avatar" class="ion-item-no-border ion-item-no-min-height pv5">
            <ion-img [src]="sectionData?.avatar"></ion-img>
        </ion-item>
        <ion-row class="ion-justify-content-between ion-align-items-center pv5">
            <ion-item class="other-text ion-item-no-border ion-item-no-min-height ion-item-no-padding-right">
                {{"master-profile.main-info.rating"|translate}}
            </ion-item>
            <ion-row class="ion-align-items-center">
                <ion-item
                        class="ion-item-no-border ion-item-no-min-height ion-item-no-side-padding ion-align-items-center">
                    <app-rating [rating]="ratingToNumber()"></app-rating>
                </ion-item>
                <ion-item class="other-text ion-item-no-border ion-item-no-min-height">
                    {{sectionData?.rating}}
                </ion-item>
            </ion-row>
        </ion-row>
        <ion-row class="ion-justify-content-between pv5">
            <ion-item class="other-text ion-item-no-border ion-item-no-min-height">
                {{"master-profile.main-info.reviews"|translate}}
            </ion-item>
            <ion-item class="other-text ion-item-no-border ion-item-no-min-height">
                {{sectionData?.reviews?.length}} {{declinationReviews(sectionData?.reviews.length) | translate}}
            </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-between pv5">
            <ion-item class="other-text ion-item-no-border ion-item-no-min-height">
                {{"master-profile.main-info.email"|translate}}
            </ion-item>
            <ion-item class="other-text ion-item-no-border ion-item-no-min-height">
                <ion-icon *ngIf="sectionData?.is_confirmed" color="success" name="checkmark-circle-outline"></ion-icon>
                <ion-icon *ngIf="!sectionData?.is_confirmed" color="danger" name="close-circle-outline"></ion-icon>
            </ion-item>
        </ion-row>
    </ion-col>
</ion-row>
