.fullName {
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
}

.companyName {
  color: var(--ion-color-medium);
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}

.other-text {
  font-size: 16px;
  line-height: 20px;
  color: var(--ion-color-dark);
  font-style: normal;
}
