<ion-row class="width100">
  <ion-col class="ion-padding-vertical ph5">
    <ion-item class="ion-item-no-side-padding fs16 title"  lines="none" >
      {{ 'issuance.filters.additional.rating' | translate }}
    </ion-item>
    <app-rating-picker [formControl]="form.get(formFields.rating)"></app-rating-picker>

    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item class="ion-item-no-side-padding"  lines="none" >
        {{ 'issuance.filters.additional.only-with-reviews' | translate }}
      </ion-item>
      <ion-item lines="none" >
        <ion-checkbox [formControl]="form.get(formFields.onlyWithReviews)" class="ion-no-margin"></ion-checkbox>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item class="ion-item-no-side-padding"  lines="none" >
        {{ 'issuance.filters.additional.only-with-photos' | translate }}
      </ion-item>
      <ion-item lines="none" >
        <ion-checkbox [formControl]="form.get(formFields.onlyWithPhotos)" class="ion-no-margin"></ion-checkbox>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item class="ion-item-no-side-padding"  lines="none" >
        {{ 'issuance.filters.additional.only-with-fixed-price' | translate }}
      </ion-item>
      <ion-item lines="none" >
        <ion-checkbox [formControl]="form.get(formFields.onlyWithFixedPrice)" class="ion-no-margin"></ion-checkbox>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item class="ion-item-no-side-padding"  lines="none" >
        {{ 'issuance.filters.additional.only-with-certificates' | translate }}
      </ion-item>
      <ion-item lines="none" >
        <ion-checkbox [formControl]="form.get(formFields.onlyWithCertificates)" class="ion-no-margin"></ion-checkbox>
      </ion-item>
    </ion-row>
    <app-collapse-item [noSidePadding]="true" class="width100" title="{{ 'issuance.filters.additional.age' | translate }}">
      <ion-item>
        <ion-label position="floating">{{ 'issuance.filters.additional.start-age' | translate }}</ion-label>
        <ion-input [formControl]="form.get(formFields.startAge)" appNumbersOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'issuance.filters.additional.end-age' | translate }}</ion-label>
        <ion-input [formControl]="form.get(formFields.endAge)" appNumbersOnly></ion-input>
      </ion-item>
    </app-collapse-item>
    <ion-item class="ion-item-no-side-padding fs16 title"  lines="none" >
      {{ 'issuance.filters.additional.nationalities' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.additional.nationalities-placeholder' | translate }}
      </ion-label>
      <ionic-selectable
        [items]="countries$ | async"
        [formControl]="form.get(formFields.nationalities)"
        [canSearch]="true"
        [canClear]="true"
        [isMultiple]="true"
        itemTextField="name"
        itemValueField="id"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item class="ion-item-no-side-padding fs16 title"  lines="none" >
      {{ 'issuance.filters.additional.languages' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.additional.languages-placeholder' | translate }}
      </ion-label>
      <ionic-selectable
        [items]="languages$ | async"
        [formControl]="form.get(formFields.languages)"
        [isMultiple]="true"
        [canClear]="true"
        itemTextField="name"
        itemValueField="code"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item class="ion-item-no-side-padding fs16 title"  lines="none" >
      {{ 'issuance.filters.additional.professional-level' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.additional.professional-level-placeholder' | translate }}
      </ion-label>
      <ionic-selectable
        [items]="professionalLevels"
        [formControl]="form.get(formFields.professionalLevel)"
        [canClear]="true"
        itemTextField="name"
        itemValueField="value"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'issuance.filters.additional.experience' | translate }}</ion-label>
      <ion-input [formControl]="form.get(formFields.experience)" appNumbersOnly></ion-input>
    </ion-item>
    <ion-item class="ion-item-no-side-padding fs16 title"  lines="none" >
      {{ 'issuance.filters.additional.payment-methods' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.additional.payment-methods-placeholder' | translate }}
      </ion-label>
      <ionic-selectable
        [items]="paymentMethods"
        [formControl]="form.get(formFields.paymentMethods)"
        [isMultiple]="true"
        itemTextField="name"
        itemValueField="value"
      >
      </ionic-selectable>
    </ion-item>
  </ion-col>
</ion-row>
