<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header [backButtonUrl]="'/profile'">{{
      'contact-edit-page.contacts' | translate
    }}</app-column-header>
    <app-contact-edit
      *appIfSpinner="contactItems$ | ifSpinnerErrorState | async as contactItems"
      [contact]="contact$ | async"
      [contactItems]="contactItems"
      (delete)="deleteContact($event)"
      (save)="saveContact($event)"
    ></app-contact-edit>
  </app-content-wrapper>
</ion-content>
