<form [formGroup]="form">
    <ion-row>
        <ion-col>{{ 'duration.days' | translate }}</ion-col>
        <ion-col>{{ 'duration.hours' | translate }}</ion-col>
        <ion-col>{{ 'duration.minutes' | translate }}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="no-padding-right">
            <ion-item class="ion-item-bordered">
                <ion-input [formControlName]="formFields.Days" name="days" type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col class="no-padding-right">
            <ion-item class="ion-item-bordered">
                <ion-input [formControlName]="formFields.Hours" name="hours" type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col class="no-padding-right">
            <ion-item class="ion-item-bordered">
                <ion-input [formControlName]="formFields.Minutes" name="minutes" type="number"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
</form>
