.first-container {
  min-height: 25rem;
}
.centering-container {
  justify-content: center;
  align-items: center;
}
.gradient-background {
  background: linear-gradient(-90deg, var(--ion-color-secondary) 11.37%, var(--ion-color-primary) 125.68%);
}
.min-padding {
  @media (max-width: 575px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.first-title {
  color: var(--ion-color-light);
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 48px;
  @media (max-width: 575px) {
    font-size: 2rem;
    line-height: 40px;
  }
}
.first-desc {
  color: var(--ion-color-light);
  font-weight: bold;
}
.first-btn {
  --border-color: var(--ion-color-light);
  --color: var(--ion-color-primary);
  color: var(--ion-color-light);
  --border-width: 1px;
}
.first-photos {
  min-height: 300px;

  @media (max-width: 575px) {
    min-height: 250px;
  }
}
.first-photo-man {
  position: absolute;
  bottom: -50px;
  right: 0;
  z-index: 0;
  height: 400px;
  @media (max-width: 1400px) {
    height: 300px;
  }
  @media (max-width: 767px) {
    bottom: 0;
  }
  @media (max-width: 575px) {
    height: 250px;
  }
}
.first-photo-phone {
  position: absolute;
  right: 290px;
  bottom: -120px;
  z-index: 1;
  height: 400px;
  @media (max-width: 1400px) {
    height: 300px;
    right: 130px;
    bottom: -100px;
  }
  @media (max-width: 767px) {
    right: 220px;
    bottom: -40px;
  }
  @media (max-width: 575px) {
    height: 250px;
    right: 190px;
    bottom: -40px;
  }
}
.second-row {
  margin-top: 5rem;
}
.second-container {
  min-height: 25rem;
}
.second-title-block {
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
.second-title-first {
  margin-bottom: 10px;
}
.second-title-second {
  margin-top: 5px;
}
.adv-icon {
  padding-right: 0.5rem;
}
.advantage {
  padding-bottom: 0.7rem;
  display: flex;
}
.second-photos {
  min-height: 240px;
  @media (max-width: 768px) {
    min-height: 200px;
  }
}
.second-photo-service {
  height: 240px;
  position: absolute;
  bottom: -40px;
  z-index: 1;
  right: 290px;
  @media (max-width: 1300px) {
    height: 180px;
    bottom: 20px;
    right: 210px;
  }
  @media (max-width: 400px) {
    height: 170px;
    right: 180px;
  }
}
.second-photo-service-photo {
  height: 240px;
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  @media (max-width: 1300px) {
    height: 180px;
    bottom: 40px;
  }
  @media (max-width: 400px) {
    height: 170px;
  }
}
.second-photo-service-name {
  height: 50px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
  right: 60px;
  @media (max-width: 1300px) {
    height: 40px;
    bottom: 20px;
  }
  @media (max-width: 400px) {
    height: 35px;
    right: 40px;
  }
}
.third-block {
  padding: 1.5rem 2rem;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  border-radius: 10px;
  border: 1px solid var(--ion-color-primary);
  @media (max-width: 992px) {
    margin: .5rem 0;
  }
}
.third-block:first-child {
  margin-right: 1vw;
  margin-left: 0;
  @media (max-width: 992px) {
    margin: 0 0 .5rem;
  }
}
.third-block:last-child {
  margin-left: 1vw;
  margin-right: 0;
  @media (max-width: 992px) {
    margin: .5rem 0 0;
  }
}
.third-block-title {
  font-weight: bold;
}
.fourth-phone {
  position: absolute;
  right: 230px;
  top: 200px;
  z-index: 3;
  height: 350px;
  @media (max-width: 1300px) {
    height: 300px;
    right: 170px;
    top: 150px;
  }
  @media (max-width: 400px) {
    height: 240px;
    right: 140px;
    top: 120px;
  }
}
.fourth-calendar {
  height: 240px;
  position: absolute;
  top: 40px;
  z-index: 1;
  right: 290px;
  @media (max-width: 1300px) {
    height: 180px;
    right: 230px;
  }
  @media (max-width: 400px) {
    height: 160px;
    right: 180px;
  }
}
.fourth-service-photo {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  height: 240px;
  @media (max-width: 1300px) {
    height: 180px;
  }
  @media (max-width: 400px) {
    height: 160px;
  }
}
.fourth-service-name {
  height: 50px;
  position: absolute;
  top: 220px;
  z-index: 2;
  right: 40px;
  @media (max-width: 1300px) {
    height: 40px;
    top: 170px;
  }
  @media (max-width: 400px) {
    top: 150px;
  }
}
.fourth-social {
  position: absolute;
  right: 50px;
  top: 320px;
  z-index: 1;
  height: 180px;
  @media (max-width: 1300px) {
    height: 160px;
    top: 260px;
    right: 20px;
  }
  @media (max-width: 400px) {
    height: 120px;
    top: 200px;
    right: 10px;
  }
}
.fourth-photos {
  min-height: 600px;
  @media (max-width: 992px) {
    min-height: 500px;
  }
}
