<app-header></app-header>
<ion-content>
  <ion-row class="centering-container gradient-background first-container">
    <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="9" size-xs="12" class="min-padding">
      <h1 class="first-title">{{ 'landing.first.title' | translate }}</h1>
      <p class="first-desc">{{ 'landing.first.desc' | translate }}</p>
      <ion-button fill="outline" class="ion-margin-top first-btn">
        <ion-label class="ion-padding-horizontal">{{ 'landing.first.btn' | translate }}</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size-xl="4" size-lg="5" size-md="5" size-sm="9" size-xs="12" class="first-photos">
      <img src="assets/images/landing/first-man.svg" alt="" class="first-photo-man" />
      <img src="assets/images/landing/first-phone.svg" alt="" class="first-photo-phone" />
    </ion-col>
  </ion-row>
  <ion-row class="centering-container second-container second-row">
    <ion-col size-xl="2" size-lg="4" size-md="5" size-sm="9" size-xs="12" class="second-text min-padding">
      <div class="second-title-block">
        <p class="second-title-first">{{ 'landing.second.title-first' | translate }}</p>
        <p class="second-title-second">{{ 'landing.second.title-second' | translate }}</p>
      </div>
      <div class="advantage">
        <ion-icon name="heart-circle" class="adv-icon"></ion-icon>
        <ion-label>{{'landing.second.adv1' | translate}}</ion-label>
      </div>
      <div class="advantage">
        <ion-icon name="heart-circle" class="adv-icon"></ion-icon>
        <ion-label>{{'landing.second.adv2' | translate}}</ion-label>
      </div>
      <div class="advantage">
        <ion-icon name="heart-circle" class="adv-icon"></ion-icon>
        <ion-label>{{'landing.second.adv3' | translate}}</ion-label>
      </div>
      <ion-button color="primary" class="ion-margin-vertical">
        <ion-label class="ion-padding-horizontal">{{ 'landing.second.btn' | translate }}</ion-label>
      </ion-button>
    </ion-col>
    <ion-col offset-xl="1" size-xl="4" size-lg="5" size-md="5" size-sm="9" size-xs="12" class="second-photos">
      <img src="assets/images/landing/second-service.svg" alt="" class="second-photo-service" />
      <img src="assets/images/landing/second-service-photo.svg" alt="" class="second-photo-service-photo" />
      <img src="assets/images/landing/second-service-name.svg" alt="" class="second-photo-service-name" />
    </ion-col>
  </ion-row>
  <ion-row class="centering-container ion-align-items-center">
    <ion-col size-xl="2" size-lg="3" size-md="7" size-sm="9" size-xs="11" class="third-block">
      <img src="assets/images/landing/third-percent.svg" alt="">
      <p class="third-block-title">{{'landing.third.block1.title'|translate}}</p>
      <p class="third-block-desc">{{'landing.third.block1.desc'|translate}}</p>
    </ion-col>
    <ion-col size-xl="2" size-lg="3" size-md="7" size-sm="9" size-xs="11" class="third-block">
      <img src="assets/images/landing/third-chat.svg" alt="">
      <p class="third-block-title">{{'landing.third.block2.title'|translate}}</p>
      <p class="third-block-desc">{{'landing.third.block2.desc'|translate}}</p>
    </ion-col>
    <ion-col size-xl="2" size-lg="3" size-md="7" size-sm="9" size-xs="11" class="third-block">
      <img src="assets/images/landing/third-bag.svg" alt="">
      <p class="third-block-title">{{'landing.third.block3.title'|translate}}</p>
      <p class="third-block-desc">{{'landing.third.block3.desc'|translate}}</p>
    </ion-col>
  </ion-row>
  <ion-row class="centering-container second-container second-row ion-align-items-start">
    <ion-col size-xl="2" size-lg="4" size-md="7" size-sm="9" size-xs="12" class="second-text min-padding">
      <p class="second-title-block">{{ 'landing.fourth.title' | translate }}</p>
      <div class="advantage">
        <div><ion-icon name="heart-circle" class="adv-icon"></ion-icon></div>
        <ion-label>{{'landing.fourth.adv1' | translate}}</ion-label>
      </div>
      <div class="advantage">
        <div><ion-icon name="heart-circle" class="adv-icon"></ion-icon></div>
        <ion-label>{{'landing.fourth.adv2' | translate}}</ion-label>
      </div>
      <div class="advantage">
        <div><ion-icon name="heart-circle" class="adv-icon"></ion-icon></div>
        <ion-label>{{'landing.fourth.adv3' | translate}}</ion-label>
      </div>
      <div class="advantage">
        <div><ion-icon name="heart-circle" class="adv-icon"></ion-icon></div>
        <ion-label>{{'landing.fourth.adv4' | translate}}</ion-label>
      </div>
      <ion-button color="primary" class="ion-margin-vertical">
        <ion-label class="ion-padding-horizontal">{{ 'landing.fourth.btn' | translate }}</ion-label>
      </ion-button>
    </ion-col>
    <ion-col offset-xl="1" size-xl="4" size-lg="5" size-md="7" size-sm="9" size-xs="12" class="fourth-photos">
      <img src="assets/images/landing/fourth-calendar.svg" alt="" class="fourth-calendar" />
      <img src="assets/images/landing/fourth-photo.svg" alt="" class="fourth-service-photo" />
      <img src="assets/images/landing/fourth-name.svg" alt="" class="fourth-service-name" />
      <img src="assets/images/landing/fourth-phone.svg" alt="" class="fourth-phone" />
      <img src="assets/images/landing/fourth-social.svg" alt="" class="fourth-social" />
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
