<ion-item lines="none">
    <ion-label class="ion-text-wrap ion-align-self-start">
        {{serviceData.service.name}}
    </ion-label>
    <ion-label slot="end" class="ion-text-right">
        <app-price [price]="serviceData.service.price"></app-price>
        <app-duration-viewer [duration]="serviceData.service.duration"></app-duration-viewer>
    </ion-label>
</ion-item>
<ion-item lines="none" *ngIf="serviceData.service.description">
    <ion-note>
        {{serviceData.service.description}}
    </ion-note>
</ion-item>
<ion-item lines="none" *ngIf="serviceData.service.tags?.length">
    <ion-chip *ngFor="let tag of serviceData.service.tags">
        <ion-label>{{ tag.name }}</ion-label>
    </ion-chip>
</ion-item>
<ion-item lines="full">
    <ion-label slot="start" color="primary" class="cursor-pointer" [routerLink]="'/service/' + serviceData.service.id">
        {{ "master-profile.services.service-presentation.more-info" | translate }}
    </ion-label>
    <ion-button color="secondary" size="default" slot="end" [routerLink]="'/order/' + serviceData.service.id">
        {{ "master-profile.services.service-presentation.pick" | translate }}
        <ion-icon name="calendar-outline" class="ion-padding-start"></ion-icon>
    </ion-button>
</ion-item>
