<ion-item lines="full">
    <ion-label slot="start">
        <h2>
            {{serviceData.service.name}}
        </h2>
        <p>
            {{serviceData.service.description}}
        </p>
        <p *ngIf="serviceData.tags?.length">
            <span *ngFor="let tag of serviceData.tags">{{tag.name}}</span>
        </p>
    </ion-label>
    <ion-note slot="end">
        <div class="service-price-text">
            <app-price [price]="serviceData.service?.price"></app-price>
        </div>
        <div class="service-price-hour-text">
            {{ serviceData.service.duration }}
            {{ "duration.minutes-short" | translate }}
        </div>
        <ion-button color="secondary" size="default" [routerLink]="'/service/' + serviceData.service.id">
            {{ "master-profile.services.service-presentation.pick" | translate }}
        </ion-button>
    </ion-note>
</ion-item>
