.service-title {
  font-size: 16px;
  color: #222428;
  line-height: 20px;
}

.service-description {
  font-size: 16px;
  line-height: 20px;
  color: #989AA2;
}

.right-col {
  align-items: flex-end;
}

.service-price-hour-text {
  font-size: 12px;
  line-height: 16px;
}

.aie {
  align-items: flex-end;
}
