<app-column-header>{{ 'location-edit-page.address' | translate }}</app-column-header>
<ng-container *appIfSpinner="item">
  <ion-item>
    <ion-label class="label-for-required-input" color="medium" position="floating">
      {{ 'location-edit-page.country' | translate }}
    </ion-label>
    <ionic-selectable
      (onSearch)="countrySelectable.onCountrySearch($event)"
      [formControl]="form.get(formFields.country)"
      [canSearch]="true"
      itemTextField="name"
      itemValueField="id"
    >
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label color="medium" position="floating">
      {{ 'location-edit-page.region' | translate }}
    </ion-label>
    <ionic-selectable
      (onSearch)="regionSelectable.onRegionSearch($event, form.get(formFields.country).value)"
      [formControl]="form.get(formFields.region)"
      [canSearch]="true"
      itemTextField="name"
      itemValueField="id"
    >
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label color="medium" position="floating">
      {{ 'location-edit-page.subregion' | translate }}
    </ion-label>
    <ionic-selectable
      (onSearch)="selectableSubregion.onSubregionSearch($event, form.get(formFields.country).value, form.get(formFields.region).value)"
      [formControl]="form.get(formFields.subregion)"
      [canSearch]="true"
      itemTextField="name"
      itemValueField="id"
    >
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label class="label-for-required-input" color="medium" position="floating">
      {{ 'location-edit-page.city' | translate }}
    </ion-label>
    <ionic-selectable
      (onSearch)="citySelectable.onCitySearch($event, form.get(formFields.country).value)"
      [formControl]="form.get(formFields.city)"
      [canSearch]="true"
      itemTextField="name"
      itemValueField="id"
    >
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label color="medium" position="floating">
      {{ 'location-edit-page.district' | translate }}
    </ion-label>
    <ionic-selectable
      (onSearch)="districtSelectable.onDistrictSearch($event, form.get(formFields.city).value)"
      [formControl]="form.get(formFields.district)"
      [canSearch]="true"
      itemTextField="name"
      itemValueField="id"
    >
    </ionic-selectable>
  </ion-item>
  <app-user-location-map [formControl]="form.get(formFields.coordinates)" [clientCoordinates]="item.coordinates?.coordinates">
  </app-user-location-map>
  <ion-item>
    <ion-label color="medium" position="floating">
      {{ 'location-edit-page.postal-code' | translate }}
    </ion-label>
    <ion-input [formControl]="form.get(formFields.postal_code)" name="phone" type="text"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="medium" position="floating">
      {{ 'location-edit-page.address' | translate }}
    </ion-label>
    <ion-input [formControl]="form.get(formFields.address)" name="first_name" type="text"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="medium" position="floating">
      {{ 'location-edit-page.timezone' | translate }}
    </ion-label>
    <ionic-selectable
      [formControl]="form.get(formFields.timezone)"
      [canSearch]="true"
      [items]="timezoneList$ | async"
      itemTextField="display_name"
      itemValueField="value"
    >
    </ionic-selectable>
  </ion-item>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-col size="6">
      <ion-button (click)="delete()" *ngIf="!item.is_default && item.id" color="light" expand="block" fill="solid" size="medium">
        {{ 'location-edit-page.remove-location' | translate }}
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="save()" [disabled]="form.invalid || form.pristine" expand="block" fill="solid" size="medium">
        {{ 'location-edit-page.save-location' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ng-container>
