export const environment = {
    production: true,
    origin: 'http://localhost:8282',
    backend: {
        auth: '/api/auth/token/',
        certificate: '',
        cities: '/ru/api/location/cites/',
        countries: '/api/location/countries/',
        contact: '/contacts/contacts/',
        education: '',
        language: '',
        location: '/ru/api/accounts/locations/',
        master: '',
        password_recovery: '',
        plugin: '',
        refresh: '/api/auth/token/',
        register: '/ru/api/accounts/register/',
        user: '/api/accounts/profile/',
        user_contact: '/api/accounts/contacts/',
        user_plugin: '',
        url: 'http://backend:8000'
    },
    client_id: '',
    client_secret: '',
    refresh_token_expire_time: 36000
};

export const serviceSettings = {
    fileSaverService: 'aws',
    aswCredentials: {
        accessKeyId: '',
        secretAccessKey: '',
        region: '',
        bucket: ''
    }
};
