export const environment = {
    production: false,
    origin: '',
    backend: {
        url: '',
        auth: '',
        refresh: '',
        user: '',
        password_recovery: '',
        location: '',
        user_plugin: '',
        plugin: '',
        contacts: '',
        education: '',
        master: '',
        certificate: '',
        language: ''
    },
    client_id: '',
    client_secret: '',
    refresh_token_expire_time: ''
};

export const serviceSettings = {
    fileSaverService: 'aws',
    aswCredentials: {
        accessKeyId: '',
        secretAccessKey: '',
        region: '',
        bucket: ''
    }
};
