export const environment = {
    production: false,
    origin: 'http://localhost:4200',
    backend: {
        auth: '/api/auth/token/',
        certificate: '',
        cities: '/ru/api/location/cites/',
        countries: '/api/location/countries/',
        contact: '/contacts/contacts/',
        education: '',
        language: '',
        location: '/ru/api/accounts/locations/',
        master: '',
        reset_password_link: '',
        reset_password: '',
        user_settings: '',
        plugin: '',
        refresh: '/api/auth/token/',
        register: '/ru/api/accounts/register/',
        user: '/api/accounts/profile/',
        user_contact: '/api/accounts/contacts/',
        user_plugin: '',
        send_verify_registration: '/ru/api/accounts/resend-verify-registration/',
        verify_registration: '/ru/api/accounts/verify-registration/'
        url: 'http://localhost:8000'
    },
    client_id: '',
    client_secret: '',
    refresh_token_expire_time: 3600
};

export const serviceSettings = {
    fileSaverService: 'aws',
    aswCredentials: {
        accessKeyId: '',
        secretAccessKey: '',
        region: '',
        bucket: ''
    }
};
