export const environment = {
    production: false,
    origin: 'http://localhost:4200',
    backend: {
        auth: '/en/api/auth/token/',
        certificate: '',
        cities: '/en/api/location/cites/',
        contact: '/en/api/contacts/contacts/',
        countries: '/en/api/location/countries/',
        districts: '/en/api/location/districts/',
        education: '',
        language: '/en/api/location/languages/',
        location: '/en/api/accounts/locations/',
        master: '/en/api/accounts/professionals/',
        master_list: '/en/api/professionals/professionals/',
        plugin: '',
        reset_password_link: '',
        reset_password: '/en/api/accounts/reset-password/',
        refresh: '/en/api/auth/token/',
        register: '/en/api/accounts/register/',
        user: '/en/api/accounts/profile/',
        user_contact: '/en/api/accounts/contacts/',
        user_plugin: '',
        user_settings: '/en/api/accounts/settings/',
        regions: '/en/api/location/regions/',
        subregions: '/en/api/location/subregions/',
        send_verify_registration: '/en/api/accounts/resend-verify-registration/',
        subcategory: '/en/api/professionals/subcategories/',
        verify_registration: '/en/api/accounts/verify-registration/',
        professional_contact: '/en/api/accounts/professional-contacts/',
        professional_tags: '/en/api/accounts/professional-tags/',
        professional_tags_list: '/en/api/professionals/tags/',
        professional_location: '/en/api/accounts/professional-locations/',
        saved_professionals: '/en/api/accounts/saved-professionals/',
        url: 'http://localhost:8000'
    },
    client_id: '',
    client_secret: '',
    refresh_token_expire_time: 3600
};
