<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <form *ngIf="formService.form" [formGroup]="formService.form" (submit)="submitForm()">
      <ion-item lines="none" class="fs18">
        <ion-text>
          <b>{{ 'service-publish.step-seven.title' | translate }}</b>
        </ion-text>
      </ion-item>
      <app-info-row class="ion-margin-bottom">
        {{ 'service-publish.step-seven.first-info-row' | translate }}
      </app-info-row>
      <ion-item-divider color="light">
        <ion-label>
          <h1>{{ 'service-publish.step-seven.timetable-title' | translate }}</h1>
        </ion-label>
      </ion-item-divider>
      <ng-container *ngIf="renderUseMasterSchedule">
        <ion-item lines="none">
          {{ 'service-publish.step-seven.use-base-timetable' | translate }}
          <ion-checkbox
            slot="end"
            formControlName="{{ formFields.UseMasterSchedule }}"
            [value]="useMasterSchedule()"
            (ionChange)="toggleUseMasterSchedule($event)"
          >
          </ion-checkbox>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="!useMasterSchedule()" class="ion-justify-content-between ion-align-items-center">
        <ion-item lines="none" button routerLink="timetable">
          {{ 'service-publish.step-seven.timetable-desc' | translate }}
          <ion-icon slot="end" name="create-outline"></ion-icon>
        </ion-item>
      </ng-container>
      <app-schedule-viewer [schedule]="selectedSchedules"></app-schedule-viewer>

      <ion-item-divider color="light">
        <ion-label>
          <h1>{{ 'service-publish.step-seven.instant-booking' | translate }}</h1>
        </ion-label>
      </ion-item-divider>
      <ion-item lines="full">
        <ion-label>{{ 'service-publish.step-seven.instant-booking-label' | translate }}</ion-label>
        <ion-checkbox slot="end" [formControlName]="formFields.InstantBooking"></ion-checkbox>
      </ion-item>
      <ng-container *ngIf="renderLocation()">
        <ion-item-divider color="light">
          <ion-label>
            <h1>{{ 'service-publish.step-seven.location-title' | translate }}</h1>
          </ion-label>
        </ion-item-divider>

        <ng-container *ngIf="defaultLocationList?.length > 0">
          <ion-item lines="none">
            {{ 'service-publish.step-seven.use_default-location' | translate }}
          </ion-item>
          <ion-item lines="none">
            <ion-toggle
              formControlName="{{ formFields.UseDefaultLocation }}"
              [value]="useDefaultLocation()"
              (ionChange)="toggleUseDefaultLocation($event)"
            >
            </ion-toggle>
          </ion-item>
        </ng-container>

        <ng-container *ngIf="isUseDefaultLocation">
          <ion-item lines="none">
            <div class="label-for-required-input">
              <b>
                {{ 'service-publish.step-seven.select-default-location' | translate }}
              </b>
            </div>
          </ion-item>
          <ion-select [formControlName]="formFields.DefaultLocation" interface="popover" class="max-width100 no-padding-left">
            <ion-select-option *ngFor="let loc of defaultLocationList" [value]="loc">
              <app-location-viewer [location]="loc"></app-location-viewer>
            </ion-select-option>
          </ion-select>
        </ng-container>

        <ng-container *ngIf="!isUseDefaultLocation">
          <ion-item lines="none">
            <div class="label-for-required-input">
              <b>
                {{ 'service-publish.step-seven.country-title' | translate }}
              </b>
            </div>
          </ion-item>

          <ion-item class="ion-item-bordered">
            <ion-label color="medium" position="floating">
              {{ 'service-publish.step-seven.country-placeholder' | translate }}
            </ion-label>
            <ionic-selectable
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
              formControlName="{{ formFields.Country }}"
              closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
              searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
              searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
              (onSearch)="countrySelectable.onCountrySearch($event)"
              (onChange)="onCountryChange(); onThisPageDataChange()"
            >
            </ionic-selectable>
          </ion-item>
          <ion-item lines="none">
            <div class="label-for-required-input">
              <b>
                {{ 'service-publish.step-seven.city-title' | translate }}
              </b>
            </div>
          </ion-item>
          <ion-item class="ion-item-bordered">
            <ion-label color="medium" position="floating">
              {{ 'service-publish.step-seven.city-placeholder' | translate }}
            </ion-label>
            <ionic-selectable
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
              formControlName="{{ formFields.City }}"
              closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
              searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
              searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
              (onSearch)="citySelectable.onCitySearch($event, getCountryValue())"
              (onChange)="onCityChange(); onThisPageDataChange()"
            >
            </ionic-selectable>
          </ion-item>

          <ion-item lines="none">
            <div class="label-for-required-input">
              <b>
                {{ 'service-publish.step-seven.address' | translate }}
              </b>
            </div>
          </ion-item>
          <ion-item class="ion-item-bordered">
            <ion-label color="medium" position="floating">
              {{ 'service-publish.step-seven.address-placeholder' | translate }}
            </ion-label>
            <ion-textarea
              rows="4"
              type="text"
              name="address"
              (ionChange)="onThisPageDataChange()"
              [formControlName]="formFields.Address"
            ></ion-textarea>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <b>{{ 'service-publish.step-seven.postal' | translate }}</b>
            </ion-label>
          </ion-item>
          <ion-item class="ion-item-bordered">
            <ion-label color="medium" position="floating">
              {{ 'service-publish.step-seven.postal-placeholder' | translate }}
            </ion-label>

            <ionic-selectable
              itemValueField="id"
              itemTextField="code"
              [canSearch]="true"
              formControlName="{{ formFields.Postal }}"
              closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
              searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
              searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
              (onSearch)="postalSelectable.onPostalCodeSearch($event, getCityValue())"
              (onChange)="onThisPageDataChange()"
            >
            </ionic-selectable>
          </ion-item>
        </ng-container>

        <ng-container *ngIf="isClientPlaceService()">
          <ion-item lines="none">
            <div class="label-for-required-input">
              <b>
                {{ 'service-publish.step-seven.departure.description' | translate }}
              </b>
            </div>
          </ion-item>
          <ion-row>
            <ion-col size="6">
              <ion-item lines="none" class="ion-item-bordered">
                <ion-select [formControlName]="formFields.Units" interface="popover" class="max-width100 no-padding-left">
                  <ion-select-option *ngFor="let val of units; let i = index" [value]="i">
                    {{ 'units.' + i | translate }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none" class="ion-item-bordered">
                <ion-input [formControlName]="formFields.MaxDistance" name="price" appNumbersOnly></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-container>
      </ng-container>

      <ion-item-divider color="light">
        <ion-label>
          <h1>{{ 'service-publish.step-seven.payment-title' | translate }}</h1>
        </ion-label>
      </ion-item-divider>
      <ion-list (change)="onThisPageDataChange()">
        <ion-list-header class="ion-no-padding ion-item-bottom-border ion-padding-bottom ion-item-no-side-padding">
          <ion-item lines="none">
            <div class="label-for-required-input">
              <b>
                {{ 'service-publish.step-seven.payment-description' | translate }}
              </b>
            </div>
          </ion-item>
        </ion-list-header>
        <ion-item>
          <ion-label>{{ 'service-payment-options.cash' | translate }}</ion-label>
          <ion-checkbox [formControlName]="formFields.PaymentCash"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'service-payment-options.online' | translate }}</ion-label>
          <ion-checkbox [formControlName]="formFields.PaymentOnline"></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-item lines="none" class="text-grey fs14">
        {{ 'service-publish.step-seven.payment-info' | translate }}
      </ion-item>

      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-button
            size="medium"
            color="light"
            (click)="serviceStepsNavigationService.previous()"
            class="ion-margin-top"
            fill="solid"
            expand="block"
          >
            {{ 'service-publish.back-button' | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button size="medium" type="submit" [disabled]="isSubmitDisabled()" class="ion-margin-top" fill="solid" expand="block">
            {{ 'service-publish.forward-button' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
