<ion-item lines="full" color="light">
  <ion-button
    *ngIf="showBackButton"
    fill="clear"
    color="dark"
    routerDirection="back"
    routerLink="/search"
    routerLinkActive="active"
  >
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-label class="title">
    {{ 'issuance.filters.title' | translate }}
  </ion-label>
  <ion-icon name="funnel-outline"></ion-icon>
  <ion-button (click)="submitFilters()" color="primary" size="medium" slot="end">
    {{ 'issuance.filters.main-tab.apply' | translate }}
  </ion-button>
</ion-item>

<ion-item lines="none" class="ion-item-no-side-padding">
  <app-search-filters-submenu (selectedTab)="setTab($event)" class="width100" defaultTab="{{ defaultTab }}">
  </app-search-filters-submenu>
</ion-item>
<ion-col [ngSwitch]="tab" size="12">
  <app-search-filters-main-tab *ngSwitchCase="tabs.Main"></app-search-filters-main-tab>
  <app-search-filters-additional-tab *ngSwitchCase="tabs.Additional"></app-search-filters-additional-tab>
</ion-col>
<ion-item lines="none">
  <ion-button (click)="submitFilters()" color="primary" size="medium" slot="end">
    {{ 'issuance.filters.main-tab.apply' | translate }}
  </ion-button>
</ion-item>
