<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <ion-item lines="none" class="fs18">
      <ion-text>
        <b>{{ 'service-publish.final-step.title' | translate }}</b>
      </ion-text>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button
            color="light"
            size="medium"
            (click)="serviceStepsNavigationService.previous()"
            class="ion-margin-top"
            fill="solid"
            expand="block"
          >
            {{ 'service-publish.back-button' | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="publish()" color="success" size="medium" class="ion-margin-top" fill="solid" expand="block">
            {{ 'service-publish.final-step.publish' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none">
      <app-service-publish-agreement></app-service-publish-agreement>
    </ion-item>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
