<app-header></app-header>
<ion-content class="ion-padding-top">
    <ion-row class="ion-justify-content-center">
        <ion-col appMainColumn>
            <ion-item
                    class="ion-item-no-border ion-item-bordered-first ion-item-no-side-padding">
                <ion-col class="ion-no-padding">
                    <ion-row class="ion-justify-content-start ion-align-items-center ion-padding-vertical">
                        <ion-item class="ion-item-no-border fs18">
                            <b>
                                {{"service-publish.final-step.title" | translate}}
                            </b>
                        </ion-item>
                    </ion-row>
                </ion-col>
            </ion-item>
            <app-info-row class="ion-margin-bottom">
                {{"service-publish.final-step.first-info-row"|translate}}
            </app-info-row>

            <app-contacts-add></app-contacts-add>

            <ion-item class="ion-item-no-border ion-item-no-side-padding">
                <ion-col size="12" class="ion-align-items-center ion-justify-content-center">
                    <ion-button color="light"
                                size="medium"
                                (click)="serviceStepsNavigationService.previous()"
                                class="ion-margin-top" fill="solid" expand="block">
                        {{"service-publish.back-button" | translate}}
                    </ion-button>
                    <ion-button color="light"
                                size="medium"
                                class="ion-margin-top" fill="solid" expand="block">
                        {{"service-publish.final-step.view" | translate}}
                    </ion-button>
                    <ion-button (click)="publish()"
                                color="success"
                                size="medium"
                                class="ion-margin-top" fill="solid" expand="block">
                        {{"service-publish.final-step.publish" | translate}}
                    </ion-button>

                </ion-col>
            </ion-item>

            <ion-item class="ion-item-no-border ion-item-no-side-padding">
                <app-service-publish-agreement></app-service-publish-agreement>
            </ion-item>


        </ion-col>
    </ion-row>
    <app-footer></app-footer>
</ion-content>
