<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <ng-container *appIfSpinner="context$ | async as context">
      <app-error-flashbag [messages]="errorMessages$ | async"></app-error-flashbag>
      <form [formGroup]="form" (submit)="submitForm(context.isUserExisting)">
        <ion-item lines="none" class="fs18">
          <ion-text>
            <p>
              <b>{{ 'service-publish.step-four.title' | translate }}</b>
            </p>
            <p>{{ 'service-publish.step-four.subtitle' | translate }}</p>
          </ion-text>
        </ion-item>
        <app-info-row>
          {{ 'service-publish.step-four.first-info-row' | translate }}
        </app-info-row>
        <ion-item lines="none">
          <div class="label-for-required-input">
            {{ 'service-publish.step-four.email-title' | translate }}
          </div>
        </ion-item>
        <ion-item class="ion-item-bordered">
          <ion-label color="medium" position="floating">
            {{ 'service-publish.step-four.email-placeholder' | translate }}
          </ion-label>
          <ion-input
            (ionChange)="onEmailChange()"
            type="email"
            autocomplete="email"
            [formControlName]="formFields.Email"
          ></ion-input>
        </ion-item>
        <app-form-control-error [controlName]="formFields.Email"> </app-form-control-error>

        <ng-container *ngIf="!context.isAuthenticated && isEmailValid()">
          <ng-container *ngIf="!context.isUserExisting">
            <ion-item lines="none" class="fs13">
              <ion-text>
                <div>{{ 'service-publish.step-four.new-user' | translate }}</div>
                <div>{{ 'service-publish.step-four.name-title' | translate }}</div>
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-label color="medium" position="floating" class="label-for-required-input">
                {{ 'service-publish.step-four.first-name-placeholder' | translate }}
              </ion-label>
              <ion-input [formControlName]="formFields.FirstName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="medium" position="floating">
                {{ 'service-publish.step-four.last-name-placeholder' | translate }}
              </ion-label>
              <ion-input [formControlName]="formFields.LastName"></ion-input>
            </ion-item>
            <ion-item lines="none" class="fs13">
              <ion-text>
                <div>{{ 'service-publish.step-four.create-password' | translate }}</div>
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-label color="medium" position="floating" class="label-for-required-input">
                {{ 'service-publish.step-four.password-placeholder' | translate }}
              </ion-label>
              <ion-input type="password" [formControlName]="formFields.Password"></ion-input>
            </ion-item>
            <app-form-control-error [controlName]="formFields.Password"></app-form-control-error>
            <ion-item>
              <ion-label color="medium" position="floating" class="label-for-required-input">
                {{ 'service-publish.step-four.password-confirm' | translate }}
              </ion-label>
              <ion-input type="password" [formControlName]="formFields.Confirm"></ion-input>
            </ion-item>
            <app-form-control-error [controlName]="formFields.Confirm"></app-form-control-error>
            <app-form-control-error [control]="form"> </app-form-control-error>
            <app-country-selector [formControlName]="formFields.Country" [required]="true"></app-country-selector>
            <app-city-selector
              [formControlName]="formFields.City"
              [country]="form.controls[formFields.Country].value"
              [required]="true"
            ></app-city-selector>
          </ng-container>
          <ng-container *ngIf="context.isUserExisting">
            <ion-item lines="none" class="fs13">
              <ion-text>
                <div>{{ 'service-publish.step-four.user-exists' | translate }}</div>
                <div>{{ 'service-publish.step-four.enter-password' | translate }}</div>
              </ion-text>
            </ion-item>
            <ion-item class="ion-item-bordered ion-margin-top">
              <ion-label color="medium" position="floating" class="label-for-required-input">
                {{ 'service-publish.step-four.password-placeholder' | translate }}
              </ion-label>
              <ion-input type="password" [formControlName]="formFields.Password"></ion-input>
            </ion-item>
            <app-form-control-error [controlName]="formFields.Password"></app-form-control-error>
            <ion-item lines="none" class="ion-item-no-side-padding fs13 ion-item-no-min-height pt10">
              <a routerLink="/auth/password-recover" routerDirection="forward">
                {{ 'service-publish.step-four.forgot-password' | translate }}
              </a>
            </ion-item>
          </ng-container>
        </ng-container>

        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-button
              size="medium"
              color="light"
              (click)="serviceStepsNavigationService.previous()"
              class="ion-margin-top"
              fill="solid"
              expand="block"
            >
              {{ 'service-publish.back-button' | translate }}
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button
              size="medium"
              type="submit"
              [disabled]="isSubmitDisabled()"
              class="ion-margin-top"
              fill="solid"
              expand="block"
            >
              {{ 'service-publish.forward-button' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ng-container>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
