<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header [backButtonUrl]="getProfessionalServicesUrl(service?.professional)">
      {{ 'service-viewer.title' | translate }}
    </app-column-header>
    <ng-container *appIfSpinner="service">
      <app-service-widget [service]="service" [master]="master" [alwaysExpanded]="true"></app-service-widget>
      <div class="ion-text-right">
        <ion-button [routerLink]="'/order/' + service.id">
          {{ 'master-profile.services.service-presentation.pick' | translate }}
          <ion-icon name="calendar-outline" class="ion-padding-start"></ion-icon>
        </ion-button>
      </div>
    </ng-container>
  </app-content-wrapper>
</ion-content>
