<app-header></app-header>
<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
            <ion-col sizeXs="12" sizeSm="8" sizeMd="8" sizeLg="7" sizeXl="5" offset-xl="-1" offset-lg="-1">
                <ion-item color="light" lines="full">
                    <ion-buttons slot="start">
                        <ion-button routerLink="/service/{{(service$ | async)?.id}}" routerDirection="back">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-title>{{ currentStepTitle | translate }}</ion-title>
                </ion-item>
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-list-header class="fs20">
                                {{ 'order.selected-service' | translate }}
                            </ion-list-header>
                            <app-service-widget [service]="service$ | async" [master]="master$ | async"></app-service-widget>
                            <app-order-details [order]="order$ | async"></app-order-details>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ng-container [ngSwitch]="currentStepIndex">
                    <app-date-time-step *ngSwitchCase="0"></app-date-time-step>
                    <app-location-step *ngSwitchCase="1"></app-location-step>
                    <app-client-details-step *ngSwitchCase="2"></app-client-details-step>
                    <app-summary-step *ngSwitchCase="3" (submit)="submit()"></app-summary-step>
                    <app-date-time-step *ngSwitchDefault></app-date-time-step>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
