<ion-content>
  <form *ngIf="formService.form" [formGroup]="formService.form" (ngSubmit)="submitContacts()" (keydown.enter)="submitContacts()">

    <div *ngFor="let control of formService.controls">
      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label color="medium" position="floating">{{control}}</ion-label>
            <ion-input type="text" name="email" [formControlName]="control"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="ion-justify-content-center">
      <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
        <ion-button
                type="submit"
                expand="block"
                fill="solid"
                color="success"
                [disabled]="formService.isDisabled()"
        >{{'contacts-tab.save'|translate}}
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
