<ion-content>
  <app-certificates-item
          *ngFor="let cert of items; let i=index"
          [item]="cert"
          [index]="i"
          (saveEmitter)="saveItem($event)"
          (deleteEmitter)="deleteItem($event)"
          [interactive]="interactive"
  >
  </app-certificates-item>

  <ion-row *ngIf="interactive" class="ion-justify-content-center">
    <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
      <ion-button
              expand="block"
              fill="solid"
              color="success"
              (click)="addNewItem()"
      >{{ 'certificates.add_certificates' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
