:host {
  display: block;
  min-height: 100%;
}

ion-grid {
  --ion-grid-padding: 0;
  --ion-grid-column-padding-xs: 0;
  --ion-grid-column-padding-sm: 1rem;
  --ion-grid-column-padding-md: 1rem;
  --ion-grid-column-padding-lg: 1rem;
  --ion-grid-column-padding-xl: 2rem;
  background-color: var(--ion-color-light);

  ion-col {
    background: var(--ion-background-color);
    padding-top: 0;
  }
}
