<form [formGroup]="formService.form" (ngSubmit)="recover()" (keydown.enter)="recover()">
  <ion-row class="ion-justify-content-center">
    <ion-col appMainColumn>
<!--      <error-flashbag [message]="errorMessage"></error-flashbag>-->
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col appMainColumn>
      <ion-item>
        <ion-label color="medium" position="floating">email</ion-label>
        <ion-input type="text" name="email" [formControlName]="formFields.Login"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col appMainColumn>
      <ion-button
              type="submit"
              expand="block"
              fill="solid"
              color="success"
      >submit</ion-button>
    </ion-col>
  </ion-row>
</form>
