<form [formGroup]="formService.form" (ngSubmit)="recover()" (keydown.enter)="recover()">
    <ion-row class="ion-justify-content-center">
        <ion-col appMainColumn>
            <error-flashbag [messages]="errorMessages"></error-flashbag>
            <app-success-flashbag [messages]="successMessages"></app-success-flashbag>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col appMainColumn>
            <ion-item>
                <ion-label color="medium" position="floating">
                    {{ 'password-recovery.email' | translate }}
                </ion-label>
                <ion-input type="text" name="email" [formControlName]="formFields.Login"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col appMainColumn>
            <ion-button
                    type="submit"
                    expand="block"
                    fill="solid"
                    color="success"
                    [disabled]="formService.form.invalid">
                {{ 'password-recovery.submit' | translate }}
            </ion-button>
        </ion-col>
    </ion-row>
</form>
