<ion-row *ngIf="serviceData$ | async as serviceData">
  <ion-col class="ion-no-padding" size="12">
    <ion-item class="ion-item-no-border ion-item-bottom-border ion-justify-content-start">
      <ion-label color="medium" position="floating">
        <ion-icon name="search-outline"></ion-icon>
        {{"master-profile.services.services-tab.master-services"|translate}}
      </ion-label>
      <ion-input (ionChange)="search($event)" (keydown.escape)="clearSearchModel()" [value]="searchModel">
      </ion-input>
    </ion-item>

    <ion-item
      class="ion-item-no-border ion-item-bottom-border ion-justify-content-start master-profile-tab-title ion-margin-top">
      {{"master-profile.services.services-tab.master-services"|translate}}&nbsp;({{serviceData.length}})
    </ion-item>

    <ion-list *ngIf="masterId"
              class="ion-item-no-border ion-item-no-min-height ion-item-no-side-padding ion-item-no-vertical-padding">
      <app-master-profile-service-presentation *ngFor="let service of serviceData | serviceDataFilter:searchModel"
                                               [serviceData]="service"
                                               class="pv5">
      </app-master-profile-service-presentation>
    </ion-list>
    <ion-list *ngIf="!masterId"
              class="ion-item-no-border ion-item-no-min-height ion-item-no-side-padding ion-item-no-vertical-padding">
      <app-master-profile-service-edit *ngFor="let service of serviceData | serviceDataFilter:searchModel"
                                       (enableService)="enableService($event)"
                                       (disableService)="disableService($event)"
                                       (deleteService)="deleteService($event)"
                                       [service]="service.service"
                                       class="pv5">
      </app-master-profile-service-edit>
    </ion-list>
  </ion-col>
</ion-row>
