<app-header></app-header>
<ion-content>
  <app-content-wrapper *ngIf="context$ | async as context">
    <app-column-header [previousLocationFallback]="'/service/' + context.service.id">{{ 'order.title' | translate }}</app-column-header>
    <ion-list>
      <ion-list-header class="fs20">
        {{ 'order.selected-service' | translate }}
      </ion-list-header>
      <app-service-widget [service]="context.service" [master]="context.professional"></app-service-widget>
    </ion-list>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-list>
        <ion-list-header>
          {{ 'order.identification' | translate }}
        </ion-list-header>
        <ion-item>
          <ion-label position="floating">{{ 'order.email' | translate }}</ion-label>
          <ion-input type="email" inputmode="email" [formControl]="email"></ion-input>
        </ion-item>
      </ion-list>

      <ion-row class="registration-form">
        <ion-col *ngIf="showRegistrationForm">
          <ng-container *ngIf="isRegistered">
            <ion-item>
              <ion-label position="stacked" class="ion-text-wrap">
                {{ 'order.registered-user' | translate }}
              </ion-label>
              <ion-input type="password" inputmode="password" [formControl]="password"></ion-input>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="!isRegistered">
            <ion-item>
              <ion-label position="stacked" class="ion-text-wrap">
                {{ 'order.new-user' | translate }}
              </ion-label>
              <ion-input type="password" inputmode="password" [formControl]="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="ion-text-wrap">
                {{ 'registration-form.confirm' | translate }}
              </ion-label>
              <ion-input type="password" inputmode="password" [formControl]="passwordConfirm"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="ion-text-wrap">
                {{ 'registration-form.name' | translate }}
              </ion-label>
              <ion-input [formControl]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="ion-text-wrap">
                {{ 'registration-form.country' | translate }}
              </ion-label>
              <ionic-selectable
                id="country-selectable"
                itemValueField="id"
                itemTextField="name"
                [canSearch]="true"
                [formControl]="country"
                (onSearch)="countrySelectable.onCountrySearch($event)"
              >
              </ionic-selectable>
            </ion-item>
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium" (click)="reset()" [disabled]="!showRegistrationForm">
            {{ 'global.back' | translate }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="email.invalid || (showRegistrationForm && form.invalid)">
            {{ 'global.forward' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </app-content-wrapper>
</ion-content>
