<app-header></app-header>
<ion-content>
  <app-content-wrapper *ngIf="context$ | async as context">
    <app-column-header [backButtonUrl]="'/service/' + context.service.id">
      {{ 'order.title' | translate }}
    </app-column-header>
    <ion-list>
      <ion-list-header class="fs20">
        {{ 'order.selected-service' | translate }}
      </ion-list-header>
      <app-service-widget [service]="context.service" [master]="context.professional"></app-service-widget>
    </ion-list>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-list>
        <ion-list-header>
          {{ 'order.identification' | translate }}
        </ion-list-header>
        <ion-item>
          <ion-label position="floating">{{ 'order.email' | translate }}</ion-label>
          <ion-input type="email" inputmode="email" [formControl]="email"></ion-input>
        </ion-item>
        <app-form-control-error [control]="email"></app-form-control-error>
      </ion-list>

      <div class="registration-form">
        <ng-container *ngIf="showRegistrationForm && isRegistered">
          <ion-item>
            <ion-label position="stacked" class="ion-text-wrap">
              {{ 'order.registered-user' | translate }}
            </ion-label>
            <ion-input type="password" inputmode="password" [formControl]="password"></ion-input>
          </ion-item>
        </ng-container>
        <ng-container *ngIf="showRegistrationForm && !isRegistered">
          <ion-item>
            <ion-label position="stacked" class="ion-text-wrap label-for-required-input">
              {{ 'order.new-user' | translate }}
            </ion-label>
            <ion-input type="password" inputmode="password" [formControl]="password"></ion-input>
          </ion-item>
          <app-form-control-error [control]="password"></app-form-control-error>
          <ion-item>
            <ion-label position="stacked" class="ion-text-wrap label-for-required-input">
              {{ 'registration-form.confirm' | translate }}
            </ion-label>
            <ion-input type="password" inputmode="password" [formControl]="passwordConfirm"></ion-input>
          </ion-item>
          <app-form-control-error [control]="passwordConfirm"></app-form-control-error>
          <app-form-control-error [control]="form"></app-form-control-error>
          <app-country-selector [formControl]="country" [required]="true"></app-country-selector>
          <ion-item>
            <ion-label position="floating" class="ion-text-wrap label-for-required-input">
              {{ 'registration-form.name' | translate }}
            </ion-label>
            <ion-input [formControl]="name"></ion-input>
          </ion-item>
          <app-form-control-error [control]="name"></app-form-control-error>
          <ion-item>
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'registration-form.last-name' | translate }}
            </ion-label>
            <ion-input [formControl]="lastName"></ion-input>
          </ion-item>
        </ng-container>
      </div>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium" (click)="reset()" [disabled]="!showRegistrationForm">
            {{ 'global.back' | translate }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="email.invalid || (showRegistrationForm && form.invalid)">
            {{ 'global.forward' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </app-content-wrapper>
</ion-content>
