section {
  margin-bottom: 1rem;
}

section:not(:last-of-type) {
  border-bottom: 1px solid var(--ion-color-light);
}

ion-list:not(:last-of-type) {
  border-bottom: 1px solid var(--ion-color-light);
}

a {
  text-decoration: none;
}
