<app-step-container>
    <form [formGroup]="form">
        <ion-item lines="none">
            <ion-label>{{ 'order.is-for-me' | translate }}</ion-label>
            <ion-checkbox [formControlName]="formFields.IsForMe"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="!form.get(formFields.IsForMe).value" lines="none">
            {{ 'order.is-not-for-me-description' | translate }}
        </ion-item>
        <ion-list>
            <ion-item>
                <ion-label
                    position="floating"
                    class="label-for-required-input"
                    >{{ 'order.name' | translate }}</ion-label
                >
                <ion-input [formControlName]="formFields.FirstName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{
                    'order.surname' | translate
                }}</ion-label>
                <ion-input [formControlName]="formFields.LastName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{
                    'order.email' | translate
                }}</ion-label>
                <ion-input
                    type="email"
                    inputmode="email"
                    email
                    [formControlName]="formFields.Email"
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label
                    position="floating"
                    class="label-for-required-input"
                    >{{ 'order.phone' | translate }}</ion-label
                >
                <ion-input
                    type="tel"
                    inputmode="tel"
                    [formControlName]="formFields.Phone"
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{
                    'order.comment-header' | translate
                }}</ion-label>
                <ion-textarea
                    [formControlName]="formFields.Comment"
                ></ion-textarea>
            </ion-item>
        </ion-list>
    </form>
</app-step-container>
