<form>
    <ion-item lines="none">
        <ion-label>Запись для меня</ion-label>
        <ion-checkbox (ionChange)="toggleIsForMe($event)"></ion-checkbox>
    </ion-item>
    <ion-list>
        <ion-item [disabled]="isForMe">
            <ion-label position="floating">{{ 'Имя' | translate }}</ion-label>
            <ion-input [required]="true"></ion-input>
        </ion-item>
        <ion-item [disabled]="isForMe">
            <ion-label position="floating">{{ 'Фамилия' | translate }}</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item [disabled]="isForMe">
            <ion-label position="floating">E-{{ 'E-mail' | translate }}</ion-label>
            <ion-input type="email" pattern="email" [required]="true"></ion-input>
        </ion-item>
        <ion-item [disabled]="isForMe">
            <ion-label position="floating">{{ 'Телефон' | translate }}</ion-label>
            <ion-input type="tel" inputmode="tel" pattern="tel"></ion-input>
        </ion-item>
        <ion-item [disabled]="isForMe">
            <ion-label position="floating">{{ 'order.comment-header' | translate }}</ion-label>
            <ion-textarea></ion-textarea>
        </ion-item>
    </ion-list>
</form>

<ion-row>
    <ion-col>
        <ion-button expand="block" color="medium" (click)="prevStep()">
            {{ 'global.back' | translate }}
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="block" (click)="nextStep()" [disabled]="!valid">{{ 'global.forward' | translate }}</ion-button>
    </ion-col>
</ion-row>
