<ion-card class="review">
  <ion-row class="ion-padding-start">
    <ion-col size="2">
      <ion-avatar class="avatar" style="width: 100%; height: 100%">
        <ion-img [src]="review?.user.avatar_thumbnail || defaultAvatar"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="10">
      <div class="name">
        {{ review?.user.first_name }}
        {{ review?.user.last_name }}
      </div>
      <div class="review-date">
        <ng-container *ngFor="let star of ratings">
          <ion-icon *ngIf="star <= review?.rating" name="star" class="star star-rating"></ion-icon>
        </ng-container>
        {{ review?.created | date: 'd.M.y h:m' }}
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-start ion-margin-top">
    <ion-text class="ion-padding-bottom text">{{ review?.description }}</ion-text>
  </ion-row>

  <ng-container *ngIf="showComment">
    <ng-container *ngIf="isAbleToEditComment$ | async; else notProfessionalComment">
      <ion-item class="comment-label" lines="none">
        <ion-label>{{ 'reviews.yours-comment' | translate }}</ion-label>
        <ion-button
          routerLink="/reviews/{{ review?.professional }}/edit-comment/{{ review?.id }}"
          [state]="{ review: review }"
          color="medium"
          fill="clear"
        >
          <ion-icon slot="end" name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="review?.comment" class="comment" lines="none">
        <div class="ion-padding-vertical">
          {{ review?.comment?.description }}
        </div>
      </ion-item>
    </ng-container>
    <ng-template #notProfessionalComment>
      <ng-container *ngIf="review?.comment">
        <ion-item class="comment-label" lines="none">
          <ion-label>{{ 'reviews.professional-comment' | translate }}</ion-label>
        </ion-item>
        <ion-item class="comment" lines="none">
          <div class="ion-padding-vertical">
            {{ review?.comment?.description }}
          </div>
        </ion-item>
      </ng-container>
    </ng-template>
  </ng-container>
</ion-card>
