<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header>{{ 'sent-orders.order-details-title' | translate }}</app-column-header>
    <ng-container *ngIf="order$ | async as order">
      <div class="order-brief-info">
        <span class="order-brief-info__icon"><img src="assets/images/sent-order.svg" alt="sent order" /></span>
        <h1 class="order-brief-info__heading">{{ 'sent-orders.order-sent' | translate: { orderNumber: order.id } }}</h1>
        <span class="order-brief-info__details">{{ 'sent-orders.available-actions' | translate }}</span>
      </div>
      <div class="order-full-info">
        <div class="order-full-info__more-info">
          <a [routerLink]="" (click)="showMoreInfo()">{{ 'sent-orders.more-info' | translate }}</a>
        </div>
      </div>
    </ng-container>
  </app-content-wrapper>
</ion-content>
