.category-container {
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.category-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  min-width: 80px;
  margin: 5px 8px;
}

.title-text {
  text-align: left;
  font-size: 1.25rem;
  padding-left: 1rem;
  @media (max-width: 768px) {
    padding: 0;
    text-align: center;
    font-size: 1rem;
  }
  @media (max-width: 480px) {
    font-size: 0.8125rem;
  }
}

@media (max-width: 576px) {
  .title-text {
    font-size: 14px;
  }
}
