<app-header></app-header>
<ion-content *ngIf="service$ | async as service">
  <app-content-wrapper>
    <app-column-header [transparent]="true" [backButtonUrl]="getProfessionalServicesUrl(service.professional)">
      {{ 'service-details.edit' | translate }}
    </app-column-header>
    <ion-item-divider color="light">
      <ion-label>
        <h1>{{ 'service-editor.essentials-title' | translate }}</h1>
      </ion-label>
      <ion-button slot="end" color="medium" fill="clear" [routerLink]="'/service/' + service.id + '/edit/info'">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h1>
          {{ service.name }}
        </h1>
      </ion-label>
      <ion-note slot="end">
        <ion-label>
          <app-price [price]="service.price"></app-price>
        </ion-label>
        <app-duration-viewer [duration]="service.duration"></app-duration-viewer>
      </ion-note>
    </ion-item>
    <app-payment-method-viewer [price]="service.price"></app-payment-method-viewer>

    <ion-item-divider color="light">
      <ion-label>
        <h1>{{ 'service-details.description-title' | translate }}</h1>
      </ion-label>
      <ion-button slot="end" color="medium" fill="clear" [routerLink]="'/service/' + service.id + '/edit/description'">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <app-image-carousel
      *appIfSpinner="photos$ | ifSpinnerErrorState | async as photos"
      class="ion-margin-top"
      [photos]="photos"
    ></app-image-carousel>
    <ion-item *ngIf="service.description" class="ion-margin-top ion-align-items-start" lines="none">
      <ion-text class="preserve-line-breaks">{{ service.description }}</ion-text>
    </ion-item>
    <ng-container *ngIf="getServiceTags(service.id) | async as tags">
      <app-service-tags-viewer *ngIf="tags.length" [tags]="tags"></app-service-tags-viewer>
    </ng-container>

    <ion-item-divider color="light">
      <ion-label>
        <h1>{{ 'service-details.location-title' | translate }}</h1>
      </ion-label>
      <ion-button
        slot="end"
        color="medium"
        fill="clear"
        [routerLink]="'/service/' + service.id + '/edit/time-and-place'"
      >
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <app-service-location [service]="service"></app-service-location>
    <section>
      <ion-item *ngIf="service.is_base_schedule" lines="none">
        {{ 'service-details.is-base-schedule' | translate }}:
      </ion-item>
      <ng-container *ngIf="schedule$ | async as schedule">
        <app-schedule-viewer [schedule]="schedule"></app-schedule-viewer>
      </ng-container>
    </section>
    <ion-item lines="none">
      <ion-label>{{ 'service-details.instant-book-title' | translate }}</ion-label>
      <ion-toggle
        [ngModel]="service.is_auto_order_confirmation"
        (ngModelChange)="setAutoConfirmation(service, $event)"
      ></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{ 'master-profile.services.service-edit.published' | translate }}</ion-label>
      <ion-toggle [ngModel]="service.is_enabled" (ngModelChange)="setIsEnabled(service, $event)"></ion-toggle>
    </ion-item>
    <ion-button *ngIf="!service.is_enabled" color="danger" expand="block" (click)="deleteService(service)">
      {{ 'master-profile.services.service-edit.delete' | translate }}
    </ion-button>
    <ion-button expand="block" [routerLink]="getServiceUrl(service.id)">
      {{ 'master-profile.services.service-edit.view' | translate }}
    </ion-button>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
