@media (max-width: 767px) {
  .back-text {
    display: none;
  }
}
.services-title {
  font-weight: bold;
  font-size: 16px;
}
.about-edit-title {
  font-size: 16px;
}
.info-title {
  margin-bottom: -12px;
  margin-top: 15px;
}
.book-btn {
  width: 100%;
}
.pl5 {
  padding-left: 5px;
}
.desc-ws {
  white-space: pre-wrap;
  padding-top: 0.25rem;
}
.card-desc {
  font-size: 12px;
}
.icon-margin {
  margin-inline-end: 0.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
}
