<app-header></app-header>
<ion-content>
  <app-content-wrapper *ngIf="context$ | async as context">
    <app-professional-card-large
      [professional]="context.professional"
      [reviewsCount]="reviewsCount$ | async"
      [canEdit]="context.canEdit"
    ></app-professional-card-large>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-justify-content-center" *ngIf="!context.canEdit">
        <ion-button
          color="primary"
          fill="outline"
          class="book-btn"
          [routerLink]="getProfessionalServicesUrl(context.professional)"
        >
          {{ 'master-profile.info.book-btn' | translate }}
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-item
          [routerLink]="getProfessionalServicesUrl(context.professional)"
          class="ion-item-no-side-padding pl5"
          lines="none"
          detail
          detail-icon="chevron-forward-outline"
        >
          <ion-label class="services-title"
            >{{ 'master-profile.navbar.services' | translate }} ({{ servicesCount$ | async }})</ion-label
          >
        </ion-item>
      </ion-col>
    </ion-row>

    <ng-container *appIfSpinner="photos$ | async as photos">
      <section *ngIf="context.canEdit || photos?.length">
        <app-section-heading>
          {{ 'master-profile.info.portfolio' | translate }}
        </app-section-heading>
        <app-image-carousel
          class="ion-margin-vertical"
          [photos]="photos"
          [editable]="context.canEdit"
          (add)="addPhotos($event)"
          (remove)="removePhoto($event)"
        ></app-image-carousel>
      </section>
    </ng-container>

    <ng-template #viewContacts>
      <app-section-heading>
        {{ 'master-profile.info.contacts' | translate }}
      </app-section-heading>
      <app-contacts-view
        *ngIf="context.professional.contacts?.length"
        [contacts]="context.professional.contacts"
      ></app-contacts-view>
    </ng-template>

    <section *ngIf="context.canEdit; else viewContacts">
      <app-section-heading>
        {{ 'master-profile.info.contacts' | translate }}
      </app-section-heading>
      <app-contacts-edit
        *appIfSpinner="contactsWithDefault$ | ifSpinnerErrorState | async as contacts"
        [contacts]="contacts"
        [addNewContactUrl]="getNewContactUrl(context.professional.id)"
        editContactUrl="{{ editUrl }}"
        editDefaultContactUrl="{{ editDefaultUrl }}"
      ></app-contacts-edit>
    </section>
    <ng-template #viewContacts>
      <app-contacts-view [contacts]="context.professional.contacts"></app-contacts-view>
    </ng-template>

    <section>
      <app-section-heading>
        {{ 'master-profile.info.master-location' | translate }}
      </app-section-heading>
      <ion-list *ngIf="context.canEdit; else viewLocations">
        <ion-item
          *ngFor="let location of editableLocations$ | async"
          detail
          detail-icon="create-outline"
          [routerLink]="'location-edit/' + location.id"
        >
          <app-location-viewer [location]="location"></app-location-viewer>
        </ion-item>
        <app-add-button [routerLink]="getNewLocationUrl(context.professional.id)">{{
          'list-item.add-new-address' | translate
        }}</app-add-button>
      </ion-list>
      <ng-template #viewLocations>
        <ng-container *ngIf="context.professional.locations?.length">
          <ion-item *ngFor="let location of context.professional.locations">
            <app-location-viewer [location]="location"></app-location-viewer>
          </ion-item>
          <app-placeholder *ngIf="!context.professional.locations?.length"></app-placeholder>
        </ng-container>
      </ng-template>
    </section>

    <app-collapse-item title="{{ 'master-profile.info.about' | translate }}" [collapsed]="false">
      <ion-list lines="none">
        <ion-item
          button
          lines="none"
          routerLink="edit"
          *ngIf="context.canEdit"
          [detail]="false"
          class="ion-item-no-min-height"
        >
          <ion-icon name="create-outline" color="primary"></ion-icon>
          <ion-label class="ion-margin-start about-edit-title" color="primary">
            {{ 'master-profile.info.edit-data' | translate }}
          </ion-label>
        </ion-item>

        <ion-item *ngIf="context.professional.description">
          <ion-label position="stacked" color="medium">
            {{ 'master-profile.info.description' | translate }}
          </ion-label>
          <ion-text class="desc-ws">
            {{ context.professional.description }}
          </ion-text>
        </ion-item>
        <ion-item *ngIf="context.professional.experience">
          <ion-label position="stacked" color="medium">
            {{ 'master-profile.info.professional-experience' | translate }}
          </ion-label>
          <ion-text>
            {{ context.professional.experience | asYears }}
          </ion-text>
        </ion-item>
        <ion-item *ngIf="context.professional.level">
          <ion-label position="stacked" color="medium">
            {{ 'master-profile.info.professional-level' | translate }}
          </ion-label>
          <ion-text>
            {{ 'global.professional-level.' + context.professional.level | translate }}
          </ion-text>
        </ion-item>
        <app-placeholder *ngIf="isDescriptionEmpty(context.professional)"></app-placeholder>

        <ng-container *ngIf="!isUserInfoEmpty(context.user) || context.canEdit">
          <ion-list-header *ngIf="context.canEdit" class="info-title">
            <ion-label>
              <h1>{{ 'master-profile.info.information' | translate }}</h1>
            </ion-label>
            <ion-button color="medium" fill="clear" routerLink="/profile/about">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-list-header>
          <ion-item *ngIf="context.user.gender">
            <ion-label position="stacked" color="medium">
              {{ 'master-profile.info.sex' | translate }}
            </ion-label>
            <ion-text>
              {{ 'global.sex.' + context.user.gender | translate }}
            </ion-text>
          </ion-item>
          <ion-item *ngIf="context.user.birthday">
            <ion-label position="stacked" color="medium">
              {{ 'master-profile.info.age' | translate }}
            </ion-label>
            <ion-text>
              {{ getYearsFromBirthday(context.user.birthday) | asYears }}
            </ion-text>
          </ion-item>
          <ion-item *ngIf="context.user.nationality">
            <ion-label position="stacked" color="medium">
              {{ 'master-profile.info.nationality' | translate }}
            </ion-label>
            <ion-text>
              {{ context.user.nationality.name }}
            </ion-text>
          </ion-item>
          <ion-item *ngIf="context.user.languages?.length">
            <ion-label position="stacked" color="medium">
              {{ 'master-profile.info.languages' | translate }}
            </ion-label>
            <ion-text>
              <ng-container *ngFor="let language of context.user.languages; let isLast = last">
                <app-language [language]="language" [inline]="true"></app-language>
                <span *ngIf="!isLast">, </span>
              </ng-container>
            </ion-text>
          </ion-item>
          <app-placeholder *ngIf="isUserInfoEmpty(context.user)"></app-placeholder>
        </ng-container>
      </ion-list>
    </app-collapse-item>

    <app-collapse-item
      title="{{ 'master-profile.info.experience' | translate }}"
      *ngIf="context.professional.experience_entries.length || context.canEdit"
    >
      <ng-container *ngIf="context.canEdit">
        <ion-item
          *ngFor="let experience of context.professional.experience_entries"
          class="ion-align-items-start ion-item-details-align-center pt10"
          routerLink="experience-edit/{{ experience.id }}"
          detail
          detail-icon="create-outline"
        >
          <app-experience [exp]="experience"></app-experience>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="!context.canEdit">
        <ion-item *ngFor="let experience of context.professional.experience_entries" class="ion-align-items-start pt10">
          <app-experience [exp]="experience"></app-experience>
        </ion-item>
      </ng-container>

      <app-placeholder *ngIf="!context.professional.experience_entries.length"></app-placeholder>
      <app-add-button *ngIf="context.canEdit" routerLink="experience-add/">
        {{ 'master-profile.info.add-new-exp' | translate }}
      </app-add-button>
    </app-collapse-item>

    <app-collapse-item
      title="{{ 'master-profile.info.education' | translate }}"
      *ngIf="context.professional.educations.length || context.canEdit"
    >
      <ng-container *ngIf="context.canEdit">
        <ion-item
          *ngFor="let education of context.professional.educations"
          class="ion-align-items-start ion-item-details-align-center pt10"
          routerLink="education-edit/{{ education.id }}"
          detail
          detail-icon="create-outline"
        >
          <app-education [education]="education"></app-education>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="!context.canEdit">
        <ion-item *ngFor="let education of context.professional.educations" class="ion-align-items-start pt10">
          <app-education [education]="education"></app-education>
        </ion-item>
      </ng-container>
      <app-placeholder *ngIf="!context.professional.educations.length"></app-placeholder>
      <app-add-button *ngIf="context.canEdit" routerLink="education-add/">
        {{ 'master-profile.info.add-new-education' | translate }}
      </app-add-button>
    </app-collapse-item>

    <app-collapse-item
      title="{{ 'master-profile.info.certificates' | translate }}"
      *ngIf="context.professional.certificates.length || context.canEdit"
    >
      <ng-container *ngIf="context.canEdit">
        <ion-item
          *ngFor="let certificate of context.professional.certificates"
          class="ion-align-items-start ion-item-details-align-center pt10"
          routerLink="certificate-edit/{{ certificate.id }}"
          detail
          detail-icon="create-outline"
        >
          <app-certificate [certificate]="certificate"></app-certificate>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="!context.canEdit">
        <ion-item *ngFor="let certificate of context.professional.certificates" class="ion-align-items-start pt10">
          <app-certificate [certificate]="certificate"></app-certificate>
        </ion-item>
      </ng-container>

      <app-placeholder *ngIf="!context.professional.certificates.length"></app-placeholder>
      <app-add-button *ngIf="context.canEdit" routerLink="certificate-add/">
        {{ 'master-profile.info.add-new-certificate' | translate }}
      </app-add-button>
    </app-collapse-item>

    <app-collapse-item title="{{ 'master-profile.info.reviews' | translate }}">
      <app-review-cards [reviews]="reviews$ | async"></app-review-cards>
      <ion-item class="ion-text-center" lines="none">
        <a [routerLink]="['/reviews', context.professional.id]" class="ion-text-center">
          {{ 'reviews.all-reviews' | translate }}
        </a>
      </ion-item>
    </app-collapse-item>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
