.pricetags-text {
  font-size: 14px;
  line-height: 18px;
  color: var(--ion-color-primary);
}

.order-type-block-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.order-type-block-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--ion-color-medium);
}

.availability-title {
  font-size: 16px;
  color: var(--ion-color-medium);
}
