<ion-row class="width100">
  <ion-col class="ion-padding-vertical ph5">
    <ion-item lines="none" class="ion-item-no-side-padding title">
      {{ 'issuance.filters.main-tab.country' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.main-tab.country-placeholder' | translate }}
      </ion-label>
      <ionic-selectable
        (onChange)="onCountryChange()"
        [items]="countries$ | async"
        [canSearch]="true"
        [shouldFocusSearchbar]="true"
        [hasVirtualScroll]="true"
        [formControl]="form.get([formGroups.location, formFields.location.country])"
        [canSearch]="true"
        [canClear]="true"
        itemTextField="name"
        itemValueField="id"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding title">
      {{ 'issuance.filters.main-tab.city' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.main-tab.city-placeholder' | translate }}
      </ion-label>
      <ionic-selectable
        (onSearch)="
          citySelectable.onCitySearch($event, form.get([formGroups.location, formFields.location.country]).value)
        "
        [formControl]="form.get([formGroups.location, formFields.location.city])"
        [canSearch]="true"
        [canClear]="true"
        [isEnabled]="!!form.get([formGroups.location, formFields.location.country]).value"
        itemTextField="name"
        itemValueField="id"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item
      lines="none"
      class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"
    ></ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding title">
      {{ 'issuance.filters.main-tab.categories' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.main-tab.categories-select' | translate }}
      </ion-label>
      <ionic-selectable
        (onChange)="initSubcategories($event.value)"
        [formControl]="form.get(formFields.category)"
        [canSearch]="true"
        [canClear]="true"
        [isMultiple]="true"
        [items]="categoryList$ | async"
        closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
        itemTextField="name"
        itemValueField="id"
        searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
        searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding title">
      {{ 'issuance.filters.main-tab.subcategories' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.main-tab.subcategories-select' | translate }}
      </ion-label>
      <ionic-selectable
        [formControl]="form.get(formFields.subcategory)"
        [canSearch]="true"
        [canClear]="true"
        [isEnabled]="!!form.get(formFields.category).value && !!subcategoriesList?.length"
        [isMultiple]="true"
        [items]="subcategoriesList"
        closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
        itemTextField="name"
        itemValueField="id"
        searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
        searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item
      lines="none"
      class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"
    ></ion-item>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item lines="none" class="ion-item-no-side-padding">
        <ion-col>
          <ion-item lines="none" class="ion-item-no-side-padding order-type-block-title ion-item-no-min-height pv5">
            {{ 'issuance.filters.main-tab.instant-booking' | translate }}
          </ion-item>
          <ion-item lines="none" class="ion-item-no-side-padding order-type-block-desc ion-item-no-min-height pv5">
            {{ 'issuance.filters.main-tab.instant-booking-desc' | translate }}
          </ion-item>
        </ion-col>
      </ion-item>
      <ion-row class="ion-justify-content-end">
        <ion-item lines="none">
          <ion-checkbox [formControl]="form.get(formFields.isInstantBooking)"></ion-checkbox>
        </ion-item>
      </ion-row>
    </ion-row>
    <ion-item
      lines="none"
      class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"
    ></ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding ion-item-bottom-border ion-padding-bottom ion-padding-end">
      <app-collapse-item
        [noSidePadding]="true"
        class="width100"
        title="{{ 'issuance.filters.main-tab.datetime' | translate }}"
      >
        <ion-item>
          <ion-label>{{ 'issuance.filters.main-tab.date-from' | translate }}</ion-label>
          <ion-datetime
            placeholder="{{ 'order.not-selected' | translate }}"
            display-format="MMM DD, YYYY HH:mm"
            picker-format="MMM DD, YYYY HH:mm"
            [min]="stateManager.minDate"
            [max]="stateManager.maxDate"
            [formControl]="form.get([formGroups.datetime, formFields.datetime.from])"
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'issuance.filters.main-tab.date-to' | translate }}</ion-label>
          <ion-datetime
            placeholder="{{ 'order.not-selected' | translate }}"
            display-format="MMM DD, YYYY HH:mm"
            picker-format="MMM DD, YYYY HH:mm"
            [min]="stateManager.minDate"
            [max]="stateManager.maxDate"
            [formControl]="form.get([formGroups.datetime, formFields.datetime.to])"
          ></ion-datetime>
        </ion-item>
      </app-collapse-item>
    </ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding">
      {{ 'issuance.filters.main-tab.availability' | translate }}
    </ion-item>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item lines="none" class="ion-item-no-side-padding availability-title">
        {{ 'service-location.online' | translate }}
      </ion-item>
      <ion-row class="ion-justify-content-end">
        <ion-item lines="none">
          <ion-checkbox [formControl]="form.get(formFields.isOnlineService)" class="ion-no-margin"></ion-checkbox>
        </ion-item>
      </ion-row>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item lines="none" class="ion-item-no-side-padding availability-title">
        {{ 'service-location.professional' | translate }}
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox
          [formControl]="form.get(formFields.isAtMasterLocationService)"
          class="ion-no-margin"
        ></ion-checkbox>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item lines="none" class="ion-item-no-side-padding availability-title">
        {{ 'service-location.client' | translate }}
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox
          [formControl]="form.get(formFields.isAtClientLocationService)"
          class="ion-no-margin"
        ></ion-checkbox>
      </ion-item>
    </ion-row>
    <ion-item
      lines="none"
      class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"
    ></ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding ion-item-bottom-border ion-padding-bottom ion-padding-end">
      <app-collapse-item
        [noSidePadding]="true"
        class="width100"
        title="{{ 'issuance.filters.main-tab.price' | translate }}"
      >
        <ion-item lines="none" class="ion-item-bordered ion-item-bottom-border">
          <ionic-selectable
            itemValueField="currency"
            itemTextField="title"
            [canSearch]="true"
            [canClear]="true"
            [items]="rates$ | async"
            [formControl]="form.get([formGroups.price, formFields.price.currency])"
            closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
            searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
            searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
          >
          </ionic-selectable>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'issuance.filters.main-tab.price-start' | translate }}</ion-label>
          <ion-input appNumbersOnly [formControl]="form.get([formGroups.price, formFields.price.start])"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'issuance.filters.main-tab.price-end' | translate }}</ion-label>
          <ion-input appNumbersOnly [formControl]="form.get([formGroups.price, formFields.price.end])"></ion-input>
        </ion-item>
      </app-collapse-item>
    </ion-item>
  </ion-col>
</ion-row>
