.bold-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.pricetags-text {
  font-size: 14px;
  line-height: 18px;
  color: #3880ff;
}

.order-type-block-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.order-type-block-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #989aa2;
}

.availability-title {
  font-size: 16px;
  color: #989aa2;
}
