<ion-row class="width100">
  <ion-col class="ion-padding-vertical ph5">
    <ion-item lines="none" class="ion-item-no-side-padding title">
      {{ 'issuance.filters.main-tab.country' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.main-tab.country-placeholder' | translate }}
      </ion-label>
      <ionic-selectable
        (onChange)="onCountryChange()"
        (onSearch)="countrySelectable.onCountrySearch($event)"
        [(ngModel)]="stateManager.data.main.location.country"
        [canSearch]="true"
        itemTextField="name"
        itemValueField="id"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding title">
      {{ 'issuance.filters.main-tab.city' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.main-tab.city-placeholder' | translate }}
      </ion-label>
      <ionic-selectable
        (onChange)="onCityChange($event)"
        (onSearch)="citySelectable.onCitySearch($event, this.getCountryValue())"
        [(ngModel)]="stateManager.data.main.location.city"
        [canSearch]="true"
        [isEnabled]="stateManager.data.main.location.country && true"
        itemTextField="name"
        itemValueField="id"
      >
      </ionic-selectable>
    </ion-item>
    <!-- <ion-item (click)="initLocationPopover()" lines="none" class="ion-item-no-side-padding cursor-pointer">
        <ion-icon class="ion-padding-end" color="secondary" name="location-outline"></ion-icon>
        {{"issuance.filters.main-tab.on-map"|translate}}
    </ion-item>
    <ion-item class="ion-item-bordered">
        <ion-label color="medium" position="floating">
            {{"issuance.filters.main-tab.radius"|translate}}
        </ion-label>
        <ion-input [(ngModel)]="stateManager.data.main.radius.distance" appNumbersOnly></ion-input>
    </ion-item> -->
    <ion-item
      lines="none" class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"
    ></ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding title">
      {{ 'issuance.filters.main-tab.categories' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.main-tab.categories-select' | translate }}
      </ion-label>
      <ionic-selectable
        (onChange)="initSubcategories($event.value)"
        [(ngModel)]="stateManager.data.main.category"
        [canSearch]="true"
        [isMultiple]="true"
        [items]="categoryList$ | async"
        closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
        itemTextField="name"
        itemValueField="id"
        searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
        searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding title">
      {{ 'issuance.filters.main-tab.subcategories' | translate }}
    </ion-item>
    <ion-item class="ion-item-bordered">
      <ion-label color="medium" position="floating">
        {{ 'issuance.filters.main-tab.subcategories-select' | translate }}
      </ion-label>
      <ionic-selectable
        [(ngModel)]="stateManager.data.main.subcategory"
        [canSearch]="true"
        [isEnabled]="(subcategoriesList$ | async).length && true"
        [isMultiple]="true"
        [items]="subcategoriesList$ | async"
        closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
        itemTextField="name"
        itemValueField="id"
        searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
        searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item
      lines="none" class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"
    ></ion-item>
    <!-- <ion-item lines="none" class="ion-item-no-side-padding title">
        {{"issuance.filters.main-tab.tags"|translate}}
    </ion-item>
    <ion-row class="ion-justify-content-start">
        <ion-item *ngFor="let tag of stateManager.data.main.tags"
                  lines="none" class="ion-item-no-min-height ion-item-tag">
            {{tag.name}}
        </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-item lines="none" class="ion-item-no-side-padding">
            <ion-button color="secondary">
                <ion-icon class="ion-padding-end" color="light" name="add-circle"></ion-icon>
                {{"issuance.filters.main-tab.add"|translate}}
            </ion-button>
        </ion-item>
    </ion-row> -->
    <!-- <ion-item
            lines="none" class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"></ion-item>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-margin-top ion-nowrap">
        <ion-item lines="none" class="ion-item-no-side-padding">
            <ion-col>
                <ion-item
                        lines="none" class="ion-item-no-side-padding order-type-block-title ion-item-no-min-height pv5">
                    {{"issuance.filters.main-tab.online-booking"|translate}}
                </ion-item>
                <ion-item
                        lines="none" class="ion-item-no-side-padding order-type-block-desc ion-item-no-min-height pv5">
                    {{"issuance.filters.main-tab.online-booking-desc"|translate}}
                </ion-item>
            </ion-col>
        </ion-item>
        <ion-row class="ion-justify-content-end">
            <ion-item lines="none">
                <ion-checkbox [(ngModel)]="stateManager.data.main.isOnlineBooking"></ion-checkbox>
            </ion-item>
        </ion-row>
    </ion-row> -->
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item lines="none" class="ion-item-no-side-padding">
        <ion-col>
          <ion-item
            lines="none" class="ion-item-no-side-padding order-type-block-title ion-item-no-min-height pv5">
            {{ 'issuance.filters.main-tab.instant-booking' | translate }}
          </ion-item>
          <ion-item
            lines="none" class="ion-item-no-side-padding order-type-block-desc ion-item-no-min-height pv5">
            {{ 'issuance.filters.main-tab.instant-booking-desc' | translate }}
          </ion-item>
        </ion-col>
      </ion-item>
      <ion-row class="ion-justify-content-end">
        <ion-item lines="none">
          <ion-checkbox [(ngModel)]="stateManager.data.main.isInstantBooking"></ion-checkbox>
        </ion-item>
      </ion-row>
    </ion-row>
    <ion-item
      lines="none" class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"
    ></ion-item>
    <ion-item
      lines="none" class="ion-item-no-side-padding ion-item-bottom-border ion-padding-bottom ion-padding-end">
      <app-collapse-item [noSidePadding]="true" class="width100"
                         title="{{ 'issuance.filters.main-tab.datetime' | translate }}">
        <ion-item>
          <ion-label>{{ 'issuance.filters.main-tab.date-from' | translate }}</ion-label>
          <ion-datetime
            placeholder="{{ 'order.not-selected' | translate }}"
            display-format="MMM DD, YYYY HH:mm"
            picker-format="MMM DD, YYYY HH:mm"
            [min]="minDate"
            [max]="maxDate"
            [(ngModel)]="stateManager.data.main.datetime.from"
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'issuance.filters.main-tab.date-to' | translate }}</ion-label>
          <ion-datetime
            placeholder="{{ 'order.not-selected' | translate }}"
            display-format="MMM DD, YYYY HH:mm"
            picker-format="MMM DD, YYYY HH:mm"
            [min]="minDate"
            [max]="maxDate"
            [(ngModel)]="stateManager.data.main.datetime.to"
          ></ion-datetime>
        </ion-item>
      </app-collapse-item>
    </ion-item>
    <ion-item lines="none" class="ion-item-no-side-padding">
      {{ 'issuance.filters.main-tab.availability' | translate }}
    </ion-item>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item lines="none" class="ion-item-no-side-padding availability-title">
        {{ 'service-location.online' | translate }}
      </ion-item>
      <ion-row class="ion-justify-content-end">
        <ion-item lines="none">
          <ion-checkbox [(ngModel)]="stateManager.data.main.isOnlineService" class="ion-no-margin"></ion-checkbox>
        </ion-item>
      </ion-row>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item lines="none" class="ion-item-no-side-padding availability-title">
        {{ 'service-location.professional' | translate }}
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="stateManager.data.main.isAtMasterLocationService"
                      class="ion-no-margin"></ion-checkbox>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
      <ion-item lines="none" class="ion-item-no-side-padding availability-title">
        {{ 'service-location.client' | translate }}
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="stateManager.data.main.isAtClientLocationService"
                      class="ion-no-margin"></ion-checkbox>
      </ion-item>
    </ion-row>
    <ion-item
      lines="none" class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"
    ></ion-item>
    <ion-item
      lines="none" class="ion-item-no-side-padding ion-item-bottom-border ion-padding-bottom ion-padding-end">
      <app-collapse-item [noSidePadding]="true" class="width100"
                         title="{{ 'issuance.filters.main-tab.price' | translate }}">
        <ion-item lines="none" class="ion-item-bordered ion-item-bottom-border">
          <ionic-selectable
            itemValueField="currency"
            itemTextField="title"
            [canSearch]="true"
            [items]="currencyList"
            [(ngModel)]="stateManager.data.main.price.currency"
            closeButtonText="{{'ion-selectable.close-button-text' | translate}}"
            searchFailText="{{'ion-selectable.search-fail-text' | translate}}"
            searchPlaceholder="{{'ion-selectable.search-text' | translate}}"
          >
          </ionic-selectable>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'issuance.filters.main-tab.price-start' | translate }}</ion-label>
          <ion-input appNumbersOnly [(ngModel)]="stateManager.data.main.price.start"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'issuance.filters.main-tab.price-end' | translate }}</ion-label>
          <ion-input appNumbersOnly [(ngModel)]="stateManager.data.main.price.end"></ion-input>
        </ion-item>
      </app-collapse-item>
    </ion-item>
  </ion-col>
</ion-row>
