<app-header></app-header>
<ion-content class="background-color-white">
  <ion-row class="d8b-gradient-bgc ion-justify-content-center ion-align-items-center">
    <div class="ion-d8b-gradient-bgc ion-padding-vertical">
      <form [formGroup]="form" (ngSubmit)="search()">
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-margin-vertical main-title">Booking made simple</ion-row>
          <ion-row>
            <ion-searchbar
              [formControl]="form.get(formFields.query)"
              animated
              class="main-page-search"
              color="light"
              [placeholder]="'main-page.search-placeholder' | translate"
            ></ion-searchbar>
          </ion-row>
          <ion-row>
            <ion-col size-lg="3" size-md="3" size-sm="6" size-xl="3" size-xs="12">
              <ion-item color="light" class="main-page-filter">
                <ion-label position="stacked">{{ 'main-page.date-from' | translate }}</ion-label>
                <ion-input
                  type="date"
                  [min]="stateManager.minDate"
                  [max]="stateManager.maxDate"
                  [formControl]="form.get([formGroups.datetime, formFields.datetime.from])"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-lg="3" size-md="3" size-sm="6" size-xl="3" size-xs="12">
              <ion-item color="light" class="main-page-filter">
                <ion-label position="stacked">{{ 'main-page.date-to' | translate }}</ion-label>
                <ion-input
                  type="date"
                  [min]="stateManager.minDate"
                  [max]="stateManager.maxDate"
                  [formControl]="form.get([formGroups.datetime, formFields.datetime.to])"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-sm="12" size-xl="6" size-xs="12">
              <app-location-picker
                class="main-page-filter"
                (emitter)="updateCity($event)"
                [enabled]="locationEnabled"
                [locationData]="form.get(formGroups.location).value"
              ></app-location-picker>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center ion-margin-vertical">
            <ion-col size-lg="4" size-md="5" size-sm="8" size-xl="3" size-xs="10">
              <ion-button type="submit" [disabled]="searchDisabled()" expand="block" fill="solid" size="medium">
                {{'main-page.find-btn'|translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col class="ion-padding-bottom" size-lg="7" size-md="8" size-sm="10" size-xl="5" size-xs="12">
      <ion-row class="ion-justify-content-center subtitle-bold ion-padding-vertical">
        {{'main-page.service-categories'|translate}}
      </ion-row>
      <div
        *appIfSpinner="defaultCategories$ | ifSpinnerErrorState | async as defaultCategories"
        class="categories-container"
      >
        <app-category-icon
          *ngFor="let category of defaultCategories"
          [icon]="category.code"
          [text]="category.name"
          (click)="searchByCategory(category)"
          size="2x"
        ></app-category-icon>
      </div>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
