.search-fields-layout {
  --ion-grid-column-padding: 1px;
  ion-row {
    background-color: var(--ion-color-light-shade);
  }
  ion-col {
    background-color: var(--ion-color-base);
  }
}

.main-page-search {
  --box-shadow: none;
  padding: 0;
}

.main-title {
  color: var(--ion-color-light);
  font-size: 2.25rem;
  font-weight: bold;
}

.subtitle-bold {
  font-size: 2rem;
  font-weight: bold;
  color: var(--ion-color-dark);
}

@media (max-width: 480px) {
  .main-title {
    font-size: 1.5rem;
  }
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
