:host {
  display: block;
}

.add-new-service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-medium);
  min-height: 4rem;
}
.search-field {
  border-radius: 0.5rem
}
.new-btn {
  width: 100%;
}

