<ion-segment (ionChange)="changeTab($event)" [value]="tabs.new">
  <ion-segment-button [value]="tabs.new">
    <ion-label>{{ 'received_orders.newTab' | translate }}</ion-label>
  </ion-segment-button>
  <ion-segment-button [value]="tabs.current">
    <ion-label>{{ 'received_orders.currentTab' | translate }}</ion-label>
  </ion-segment-button>
  <ion-segment-button [value]="tabs.archive">
    <ion-label>{{ 'received_orders.archiveTab' | translate }}</ion-label>
  </ion-segment-button>
</ion-segment>

<ng-container *ngIf="orders; else spinner">
  <ion-list *ngIf="orders.length > 0; else placeholder">
    <app-received-order-list-item *ngFor="let order of orders"
                                  [order]="order"
                                  (statusChanged)="refresh()">
    </app-received-order-list-item>
  </ion-list>
</ng-container>
<ng-template #spinner>
  <div class="ion-text-center ion-margin-top">
    <ion-spinner color="medium"></ion-spinner>
  </div>
</ng-template>
<ng-template #placeholder>
  <ion-item class="ion-text-center" lines="none">
    <ion-label>{{ 'received_orders.empty-placeholder' | translate }}</ion-label>
  </ion-item>
</ng-template>
