<ion-content>
    <ion-grid class="no-horizontal-padding">
        <ion-row class="ion-justify-content-center ion-no-padding">
            <ion-col class="ion-no-padding" [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="4">
                <form *ngIf="profileService.avatarForm" [formGroup]="profileService.avatarForm">
                    <ion-row class="ion-justify-content-center">
                        <ion-col [sizeXl]="6">
                            <ion-img class="border-img" [src]="getAvatar()"></ion-img>
                            <app-picture-selector
                                    [camera]="true"
                                    [fileSystem]="true"
                                    [formControlName]="formFields.Avatar"
                            >
                            </app-picture-selector>
                        </ion-col>
                    </ion-row>
                </form>
                <!--                Main-->
                <ion-item class="ion-item-no-border ion-item-bordered-first">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border">{{'profile-form.main'|translate}}</ion-item>
                            <ion-item routerLink="edit/"
                                      routerDirection="forward"
                                      routerLinkActive="active"
                                      id="edit-main"
                                      class="ion-item-no-border ion-align-items-center">
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-others item-background-color-white">
                    <ion-col class="ion-no-padding">
                        <ion-row *ngIf="user?.first_name || user?.last_name">
                            <ion-item id="username" class="ion-item-no-border ion-align-items-center">
                                {{user?.first_name}} {{user?.last_name}}
                            </ion-item>
                        </ion-row>
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                <ion-icon class="pr5" name="mail-outline"></ion-icon>
                                Email
                            </ion-item>
                            <ion-item id="email" class="ion-item-no-border">
                                {{user?.email}}
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
                <!--            /Main-->

                <!--            Contacts-->
                <app-contacts-add></app-contacts-add>
                <!--            /Contacts-->
                <!--            Location-->
                <ion-item class="ion-item-no-border ion-item-bordered-first">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border">{{'profile-page.your-address'|translate}}</ion-item>
                        </ion-row>
                    </ion-col>

                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-others item-background-color-white">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                {{'profile-page.main-address'|translate}}
                            </ion-item>
                            <ion-item class="no-padding-right ion-item-no-border ion-align-items-center"
                                      routerLink="location-edit/{{(defaultLocation$ | async)?.id}}"
                                      routerDirection="forward"
                                      routerLinkActive="active"
                            >
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-item>
                        </ion-row>
                        <ion-row class="ion-justify-content-start ion-align-items-center">
                            <ion-item id="default-location"
                                      class="ion-item-no-border ion-align-items-center ion-item-no-min-height ion-margin-bottom">
                                {{(defaultLocation$|async)?.country.name}}, {{(defaultLocation$|async)?.city.name}}
                            </ion-item>
                        </ion-row>

                        <ion-item *ngFor="let location of (additionalLocationsList$|async)"
                                  class="ion-item-no-border ion-no-padding ion-no-margin">
                            <ion-col class="ion-no-padding">
                                <ion-row class="ion-justify-content-between ion-align-items-center">
                                    <ion-item class="ion-item-no-border ion-align-items-center">
                                        {{'profile-page.additional-address'|translate}}
                                    </ion-item>
                                    <ion-item class="ion-item-no-side-padding ion-item-no-border ion-align-items-center"
                                              routerLink="location-edit/{{location.id}}"
                                              routerDirection="forward"
                                              routerLinkActive="active"
                                    >
                                        <ion-icon name="create-outline"></ion-icon>
                                    </ion-item>
                                </ion-row>
                                <ion-row class="ion-justify-content-start ion-align-items-center">
                                    <ion-item class="ion-item-no-border ion-align-items-center ion-item-no-min-height ion-margin-bottom">
                                        {{location.country.name}}, {{location.city.name}}
                                    </ion-item>
                                </ion-row>
                            </ion-col>
                        </ion-item>

                        <ion-row>
                            <ion-item routerLink="location-add/"
                                      routerDirection="forward"
                                      routerLinkActive="active"
                                      class="cursor-pointer ion-item-no-border ion-no-padding ion-margin-start">
                                <ion-icon color="secondary" name="add-circle"></ion-icon>
                                <ion-label class="ion-padding-start">
                                    {{'profile-page.add-new-address'|translate}}
                                </ion-label>
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
                <!--            /Location-->

<!--            About-->
                <ion-item class="ion-item-no-border ion-item-bordered-first">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border">{{'profile-page.about'|translate}}</ion-item>
                            <ion-item routerLink="about/"
                                      routerDirection="forward"
                                      routerLinkActive="active" class="ion-item-no-border ion-align-items-center">
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-item>
                        </ion-row>
                    </ion-col>

                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-others item-background-color-white">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                {{'profile-page.age'|translate}}
                            </ion-item>
                            <ion-item class="ion-item-no-border">
                                {{user?.birthday || ('profile-page.not-specified'|translate)}}
                            </ion-item>
                        </ion-row>
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                {{'profile-page.nationality'|translate}}
                            </ion-item>
                            <ion-item class="ion-item-no-border">
                                {{user?.nationality || ('profile-page.not-specified'|translate)}}
                            </ion-item>
                        </ion-row>
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                {{'profile-page.languages'|translate}}
                            </ion-item>
                            <ion-item class="ion-item-no-border">
<!--                                {{user?.nationality || ('profile-page.not-specified'|translate)}}-->
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
<!--            /About-->
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-footer></app-footer>
</ion-content>
