<ion-content>

  <form
          *ngIf="form"
          [formGroup]="form" (ngSubmit)="submit()">
    <ion-item-divider class="ion-text-center" color="medium">
      <ion-label>{{'profile-form.group.main' | translate}}</ion-label>
    </ion-item-divider>

    <ion-grid>

      <ion-row class="ion-justify-content-center" *ngIf="!(masterManager.isMaster$ | async)">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-button (click)="becomeMaster()" expand="block" >become a master</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label class="label-for-required-input" color="medium"
                       position="floating">{{'profile-form.fields.name' | translate }}</ion-label>
            <ion-input type="text" name="first_name"
                       [placeholder]="'profile-form.placeholders.name'| translate"
                       formControlName="{{formFields.FirstName}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label class="label-for-required-input" color="medium"
                       position="floating">{{'profile-form.fields.surname' | translate }}</ion-label>
            <ion-input type="text" name="last_name"
                       [placeholder]="'profile-form.placeholders.name'| translate"
                       formControlName="{{formFields.LastName}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label color="medium"
                       position="floating">{{'profile-form.fields.patronymic' | translate }}</ion-label>
            <ion-input type="text" name="patronymic"
                       [placeholder]="'profile-form.placeholders.patronymic'| translate"
                       formControlName="{{formFields.Patronymic}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label class="label-for-required-input" color="medium"
                       position="floating">{{'profile-form.fields.phone' | translate }}</ion-label>
            <ion-input type="text" name="phone"
                       [placeholder]="'profile-form.placeholders.phone'| translate"
                       formControlName="{{formFields.Phone}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label color="medium"
            >{{'profile-form.fields.avatar' | translate }}
            </ion-label>
              <ion-thumbnail class="app-thumb-mr100">
                  <ion-img [src]="getAvatar()"></ion-img>
              </ion-thumbnail>
            <app-picture-selector
                    formControlName="{{formFields.Avatar}}"
                    [camera]="true"
                    [fileSystem]="true"
            >
            </app-picture-selector>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label class="label-for-required-input" color="medium"
                       position="floating">{{'profile-form.fields.gender' | translate }}</ion-label>
            <ion-select
                    interface="popover"
                    [formControlName]="formFields.Gender"
            >
              <ion-select-option *ngFor="let gender of genderList(); let i=index" value="{{ i | number }}">
                {{ gender | titlecase}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label class="label-for-required-input" color="medium"
                       position="floating">{{'profile-form.fields.age' | translate }}</ion-label>
            <ion-datetime
                    display-format="YYYY-MM-DD"
                    formControlName="{{formFields.Birthday}}"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label color="medium"
                       position="floating">{{'profile-form.fields.main_language' | translate }}</ion-label>
            <ion-select
                    interface="popover"
                    formControlName="{{formFields.Language}}"
                    (ionChange)="recomputeAdditionalLanguages()"
            >
              <ion-select-option *ngFor="let lang of languages$ | async" value="{{ lang.code }}">
                {{ lang.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label class="label-for-required-input" color="medium"
                       position="floating">{{'profile-form.fields.languages' | translate }}</ion-label>
            <ion-select
                    multiple="true"
                    formControlName="{{formFields.AdditionalLanguages}}"
            >
              <ion-select-option *ngFor="let lang of availableAddsLanguages$ | async" value="{{ lang.code }}">
                {{ lang.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item-divider color="medium">
        <ion-label>{{'profile-form.group.credentials' | translate}}</ion-label>
      </ion-item-divider>

      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-item>
            <ion-label class="label-for-required-input" color="medium"
                       position="floating">{{'profile-form.fields.email' | translate }}</ion-label>
            <ion-input type="text" name="email"
                       [placeholder]="'profile-form.placeholders.email'| translate"
                       formControlName="{{formFields.Email}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--        <ion-row class="ion-justify-content-center">-->
      <!--            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">-->
      <!--                <ion-item>-->
      <!--                    <ion-label class="label-for-required-input" color="medium"-->
      <!--                               position="floating">{{'profile-form.fields.password' | translate }}</ion-label>-->
      <!--                    <ion-input type="password" name="password"-->
      <!--                               [placeholder]="'profile-form.placeholders.password'| translate"-->
      <!--                               formControlName="password"></ion-input>-->
      <!--                </ion-item>-->
      <!--            </ion-col>-->
      <!--        </ion-row>-->

      <ion-button type="submit" expand="block"
                  [disabled]="isSubmitDisabled()">{{'profile-form.button'| translate}}</ion-button>
    </ion-grid>
  </form>


</ion-content>
