<ion-row class="ion-justify-content-center" *ngIf="item">
  <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
    <ion-card>
      <ion-card-header>
        {{'education-tab.education.education'|translate}}
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label color="medium"
                     position="floating">{{'education-tab.education.university'|translate}}</ion-label>
          <ion-input [disabled]="!interactive" [(ngModel)]="item.university" type="text" name="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium"
                     position="floating">{{'education-tab.education.degree'|translate}}</ion-label>
          <ion-input [disabled]="!interactive" [(ngModel)]="item.deegree" type="text" name="photo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium"
                     position="floating">{{'education-tab.education.fieldOfStudy'|translate}}</ion-label>
          <ion-input [disabled]="!interactive" [(ngModel)]="item.field_of_study" type="text" name="link"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label
                  color="medium">{{'education-tab.education.isStillHere'|translate}}</ion-label>
          <ion-toggle [(ngModel)]="item.is_still_here" [disabled]="!interactive"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label color="medium"
                     position="floating">{{'education-tab.education.startDate'|translate}}</ion-label>
          <ion-datetime
                  display-format="YYYY-MM-DD"
                  [(ngModel)]="item.start_date"
                  [disabled]="!interactive"
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="medium" position="floating">{{'education-tab.education.endDate'|translate}}</ion-label>
          <ion-datetime
                  display-format="YYYY-MM-DD"
                  [(ngModel)]="item.end_date"
                  [disabled]="!interactive"
          ></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label
                  color="medium" position="floating">{{'education-tab.education.description'|translate}}</ion-label>
          <ion-input [disabled]="!interactive" [(ngModel)]="item.description" type="text" name="title"></ion-input>
        </ion-item>

        <ion-input [disabled]="!interactive" [(ngModel)]="item.id" type="hidden"></ion-input>

        <ion-button
                *ngIf="interactive"
                expand="block"
                fill="solid"
                color="danger"
                (click)="delete()"
        >{{ 'education-tab.education.remove_education' | translate }}</ion-button>

        <ion-button
                *ngIf="interactive"
                expand="block"
                (click)="save()"
        >{{ 'education-tab.education.save_education' | translate }}</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
