<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="main">
        <ion-icon name="flash"></ion-icon>
        <ion-label>{{'master-page.main'|translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tags">
        <ion-icon name="apps"></ion-icon>
        <ion-label>{{'master-page.tags'|translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="contacts">
        <ion-icon name="apps"></ion-icon>
        <ion-label>{{'master-page.contacts'|translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="location">
        <ion-icon name="apps"></ion-icon>
        <ion-label>{{'master-page.location'|translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="education">
        <ion-icon name="apps"></ion-icon>
        <ion-label>{{'master-page.education'|translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="experience">
        <ion-icon name="apps"></ion-icon>
        <ion-label>{{'master-page.experience'|translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="certificates">
        <ion-icon name="apps"></ion-icon>
        <ion-label>{{'master-page.certificates'|translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
