<ng-container *appIfSpinner="item">
  <app-country-selector [formControl]="country" [required]="true"></app-country-selector>
  <app-region-selector [formControl]="region" [country]="country.value"></app-region-selector>
  <app-subregion-selector [formControl]="subregion" [region]="region.value"></app-subregion-selector>
  <app-city-selector [formControl]="city" [country]="country.value" [required]="true"></app-city-selector>
  <app-district-selector [formControl]="district" [city]="city.value"></app-district-selector>
  <app-postal-code-selector
    [formControl]="postal"
    [countryId]="country.value?.id"
    [cityId]="city.value?.id"
  ></app-postal-code-selector>
  <ion-item>
    <ion-label color="medium" position="floating">
      {{ 'location-edit-page.address' | translate }}
    </ion-label>
    <ion-input [formControl]="address" name="first_name" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="medium" position="floating">
      {{ 'location-edit-page.timezone' | translate }}
    </ion-label>
    <ion-input [formControl]="timezone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'location-edit-page.make-default' | translate }}</ion-label>
    <ion-checkbox [formControl]="isDefault"></ion-checkbox>
  </ion-item>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-col size="6">
      <ion-button
        (click)="emitDelete()"
        *ngIf="!item.is_default && item.id"
        color="light"
        expand="block"
        fill="solid"
        size="medium"
      >
        {{ 'location-edit-page.remove-location' | translate }}
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button
        (click)="emitSave()"
        [disabled]="form.invalid || form.pristine"
        expand="block"
        fill="solid"
        size="medium"
      >
        {{ 'location-edit-page.save-location' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ng-container>
