.text-white {
  color: white;
}

ion-searchbar {
  --icon-color: var(--ion-color-light);
  --placeholder-color: var(--ion-color-light);
  --placeholder-opacity: 1;
  --cancel-button-color: var(--ion-color-light);
  --clear-button-color: var(--ion-color-light);
  --ion-text-color: var(--ion-color-light);
  --color: var(--ion-color-light);
}

.messages-count {
  border-radius: 20px;
  color: white;
  background-color: var(--ion-color-primary);
  padding: 2px 6px;
}
