<app-header></app-header>

<ion-content class="ion-margin-top">
  <app-content-wrapper>
    <app-column-header [previousLocationFallback]="'/professional'">
      {{ 'messages.chat-list-page.messages' | translate }}
    </app-column-header>
    <ion-searchbar
      animated
      (ionChange)="search($event.target.value)"
      debounce="200"
      (ionCancel)="search('')"
      (keydown.escape)="search('')"
      placeholder="{{ 'messages.chat-list-page.search' | translate }}"
    ></ion-searchbar>
    <ng-container *appIfSpinner="chatsService.chatList$ | async as chatList">
      <ion-list>
        <ion-label *ngIf="!chatList.length">
          {{ 'messages.chat-list-page.empty-list' | translate }}
        </ion-label>
        <ion-item (click)="onChatClick(chat.interlocutor_id)" button *ngFor="let chat of chatList">
          <ion-avatar slot="start">
            <img src="{{ chat.interlocutor_avatar_thumbnail }}" />
          </ion-avatar>
          <div>
            <ion-label>
              <h3>
                {{ chat.interlocutor }}
              </h3>
            </ion-label>
            <ion-label>
              <p>
                {{ chat.body | slice: 0:30 }}
              </p>
            </ion-label>
          </div>
          <div slot="end">
            <ion-label>
              <p>
                {{ chat.created }}
              </p>
            </ion-label>
            <ion-badge *ngIf="chat.unread_count">
              {{ chat.unread_count }}
            </ion-badge>
          </div>
        </ion-item>
      </ion-list>
    </ng-container>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
