<app-header></app-header>

<ion-content class="ion-margin-top">
  <ion-header class="ion-d8b-gradient-bgc">
    <ion-item class="ion-item-no-border ion-justify-content-center ion-align-items-center">
      <ion-row class="d8b-container width100 ion-align-items-center">
        <ion-col size="1" class="ion-no-margin ion-no-padding">
          <ion-item class="cursor-pointer ion-item-no-border ion-no-padding width100">
            <ion-icon color="light" name="arrow-back-outline"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col [sizeXs]="11" [sizeLg]="4" [offsetLg]="3" [offsetXs]="0" class="ion-no-margin ion-no-padding">
          <ion-item class="ion-item-no-border">
            <ion-searchbar
              animated
              (ionChange)="search($event.target.value)"
              debounce="200"
              (ionCancel)="search('')"
              (keydown.escape)="search('')"
              placeholder="{{ 'messages.chat-list-page.search' | translate }}"
            ></ion-searchbar>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-header>
  <ion-list class="d8b-container">
    <ion-label *ngIf="!(chatsService.chatList$ | async).length">
      {{ 'messages.chat-list-page.empty-list' | translate }}
    </ion-label>
    <ion-item
      (click)="onChatClick(chat.interlocutor_id)"
      class="cursor-pointer hover-bg-dark-grey"
      *ngFor="let chat of chatsService.chatList$ | async"
    >
      <ion-avatar slot="start">
        <img src="{{ chat.interlocutor_avatar_thumbnail }}" />
      </ion-avatar>
      <ion-col size="10">
        <ion-row>
          <ion-label>
            <h3>
              {{ chat.interlocutor }}
            </h3>
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-label>
            <p>
              {{ chat.body }}
            </p>
          </ion-label>
        </ion-row>
      </ion-col>
      <ion-col size="2">
        <ion-row class="ion-justify-content-end">
          <ion-label>
            <p>
              {{ chat.created }}
            </p>
            <p></p
          ></ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-end">
          <span class="messages-count" *ngIf="chat.unread_count">
            {{ chat.unread_count }}
          </span>
        </ion-row>
      </ion-col>
    </ion-item>
  </ion-list>
  <app-footer></app-footer>
</ion-content>
