<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header [previousLocationFallback]="'/profile'">{{ 'profile-edit.about' | translate }}</app-column-header>
    <form *ngIf="form" [formGroup]="form">
      <ion-item>
        <ion-label color="medium" position="floating">
          {{ 'profile-edit.birthday' | translate }}
        </ion-label>
        <ion-datetime
          display-format="YYYY-MM-DD"
          picker-format="YYYY-MM-DD"
          formControlName="{{ this.formFields.Birthday }}"
        ></ion-datetime>
      </ion-item>
      <app-country-selector formControlName="{{ this.formFields.Nationality }}"></app-country-selector>
      <ion-item>
        <ion-label color="medium" position="floating">
          {{ 'profile-edit.languages' | translate }}
        </ion-label>
        <ionic-selectable
          [canSearch]="true"
          [isMultiple]="true"
          [items]="languages$ | async"
          formControlName="{{ this.formFields.Languages }}"
          itemTextField="name"
          itemValueField="code"
        >
        </ionic-selectable>
      </ion-item>
      <ion-button [disabled]="form.invalid || form.pristine" class="ion-margin-top" (click)="submitForm()" expand="block" fill="solid">
        {{ 'profile-edit.save' | translate }}
      </ion-button>
    </form>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
