<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header [backButtonUrl]="'/profile'">
      {{ 'profile-edit.about' | translate }}
    </app-column-header>
    <form *appIfSpinner="form" [formGroup]="form">
      <ion-item>
        <ion-label color="medium" position="stacked">
          {{ 'profile-edit.birthday' | translate }}
        </ion-label>
        <ion-input type="date" formControlName="{{ this.formFields.birthday }}"></ion-input>
      </ion-item>
      <app-country-selector
        [title]="'profile-edit.nationality' | translate"
        [formControlName]="this.formFields.nationality"
      ></app-country-selector>
      <ion-item>
        <ion-label color="medium" position="floating">
          {{ 'profile-edit.languages' | translate }}
        </ion-label>
        <ionic-selectable
          [canSearch]="true"
          [isMultiple]="true"
          [canClear]="true"
          [items]="languages$ | async"
          [formControlName]="this.formFields.languages"
          itemTextField="name"
          itemValueField="code"
        >
        </ionic-selectable>
      </ion-item>
      <ion-button class="ion-margin-top" (click)="submitForm()" expand="block" fill="solid">
        {{ 'profile-edit.save' | translate }}
      </ion-button>
    </form>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
