<app-header></app-header>
<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col sizeXs="12" sizeSm="12" sizeMd="10" sizeLg="10" sizeXl="8" class="ion-no-padding ion-margin-top">
            <form *ngIf="form" [formGroup]="form">
                <ion-item class="ion-item-no-border ion-item-bordered-first">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-start ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center"
                                      routerDirection="back"
                                      routerLink="/profile" routerLinkActive="active">
                                <ion-icon name="arrow-back-outline"></ion-icon>
                            </ion-item>
                            <ion-item class="ion-item-no-border">О себе</ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>

                <ion-item class="ion-item-no-border ion-item-bordered-others item-background-color-white">
                    <ion-col class="ion-padding-vertical" size="12">

                        <ion-item>
                            <ion-label color="medium" position="floating">
                                {{ 'profile-about.birthday' | translate }}
                            </ion-label>
                            <ion-datetime
                                    display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD"
                                    formControlName="{{this.formFields.Birthday}}"
                            ></ion-datetime>
                        </ion-item>

                        <ion-item>
                            <ion-label color="medium" position="floating">
                                {{ 'profile-about.nationality' | translate }}
                            </ion-label>
                            <ionic-selectable
                                    (onSearch)="countriesSearch.onCountrySearch($event)"
                                    [canSearch]="true"
                                    formControlName="{{this.formFields.Nationality}}"
                                    itemTextField="name"
                                    itemValueField="id"
                            >
                            </ionic-selectable>
                        </ion-item>

                        <ion-item>
                            <ion-label color="medium" position="floating">
                                {{ 'profile-about.languages' | translate }}
                            </ion-label>
                            <ionic-selectable
                                    [canSearch]="true"
                                    [isMultiple]="true"
                                    [items]="languages$|async"
                                    formControlName="{{this.formFields.Languages}}"
                                    itemTextField="name"
                                    itemValueField="code"
                            >
                            </ionic-selectable>
                        </ion-item>

                        <ion-button class="ion-margin-top" color="secondary" (click)="submitForm()"
                                    expand="block" fill="solid">
                            {{'profile-about.button'| translate}}
                        </ion-button>

                    </ion-col>
                </ion-item>
            </form>
        </ion-col>
    </ion-row>
</ion-content>
