<ion-card class="ion-padding-horizontal">
  <ion-card-header class="header">
    <ion-card-title *ngIf="!service.is_enabled">
      <ion-row class="ion-align-items-center ion-no-padding ion-margin-vertical warning-row">
        <ion-icon color="warning" name="information-circle"></ion-icon>
        <span class="warning-text ion-padding-start">{{
          'master-profile.services.service-edit.not-published' | translate
        }}</span>
      </ion-row>
    </ion-card-title>
    <ion-card-subtitle>
      <a [routerLink]="'/service/' + service.id + '/edit'" *ngIf="canEdit" class="title-text">
        {{ service.name }}
      </a>
      <ion-text *ngIf="!canEdit" class="title-text">
        {{ service.name }}
      </ion-text>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-item lines="none">
    <app-price [price]="service.price"></app-price>
    <span class="duration">&nbsp;/ <app-duration-viewer [duration]="service.duration"></app-duration-viewer></span>
  </ion-item>
  <ion-item lines="none" class="desc">
    {{ service.description }}
  </ion-item>

  <app-image-carousel
    *ngIf="photos"
    class="ion-margin-vertical photos-size"
    [photos]="photos"
    [editable]="false"
    justify="ion-justify-content-start"
  ></app-image-carousel>

  <ion-item lines="none" class="ion-margin-bottom">
    <ion-button *ngIf="!service.is_enabled" class="book-btn" disabled="true" color="medium" size="medium" fill="solid">
      {{ 'master-profile.services.service-edit.book' | translate }}
    </ion-button>
    <ion-button
      [routerLink]="getServiceOrderUrl(service)"
      *ngIf="service.is_enabled"
      class="book-btn"
      color="primary"
      size="medium"
      fill="solid"
    >
      {{ 'master-profile.services.service-edit.book' | translate }}
    </ion-button>
  </ion-item>
</ion-card>
