.header {
  padding-bottom: 0;
}
.book-btn {
  width: 100%;
}
.desc {
  font-size: 14px;
  color: var(--ion-color-medium);
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.duration {
  font-size: 16px;
  color: var(--ion-color-medium);
}
.photos-size {
  margin-left: 10px;
  margin-right: 10px;
}
.title-text {
  font-size: 16px;
}
.warning-row {
  padding: 7px 15px;
  border-radius: 8px;
  background: rgba(var(--ion-color-warning-rgb), 0.1);
  border: 1px solid rgba(var(--ion-color-dark-rgb), 0.06);
}
.warning-text {
  font-size: 12px;
}
