<ion-card>
  <app-service-title [service]="service"></app-service-title>
  <ion-item lines="none">
<!--      TODO: ensure the commented code is not needed and remove it -->
<!--    <ion-label *ngIf="service.is_enabled" class="ion-align-self-end">-->
<!--      <div>-->
<!--        <ion-icon class="mr10" color="success" name="radio-button-on"></ion-icon>-->
<!--        {{ 'master-profile.services.service-edit.published' | translate }}-->
<!--      </div>-->
<!--      <div>-->
<!--        <a class="cursor-pointer" (click)="onIsEnabled(false)">-->
<!--          <ion-icon class="mr10" color="medium" name="create-outline"></ion-icon>-->
<!--          {{ 'master-profile.services.service-edit.unpublish' | translate }}-->
<!--        </a>-->
<!--      </div>-->
<!--    </ion-label>-->
    <ion-label *ngIf="!service.is_enabled"class="ion-align-self-end">
      <div>
        <ion-icon class="mr10" color="warning" name="radio-button-on"></ion-icon>
        {{ 'master-profile.services.service-edit.not-published' | translate }}
      </div>
<!--      <div>-->
<!--        <a class="cursor-pointer" (click)="onIsEnabled(true)">-->
<!--          <ion-icon class="mr10" color="medium" name="create-outline"></ion-icon>-->
<!--          {{ 'master-profile.services.service-edit.publish' | translate }}-->
<!--        </a>-->
<!--      </div>-->
<!--      <div>-->
<!--        <a class="text-color-danger cursor-pointer" (click)="delete()">-->
<!--          <ion-icon class="mr10" color="medium" name="delete-outline"></ion-icon>-->
<!--          {{ 'master-profile.services.service-edit.delete' | translate }}-->
<!--        </a>-->
<!--      </div>-->
    </ion-label>
    <ion-label slot="end" class="ion-align-self-end ion-text-end">
      <a [routerLink]="'/service/' + service.id + '/edit'">
        <ion-icon class="mr10" color="medium" name="create-outline"></ion-icon>
        {{ 'master-profile.services.service-edit.edit' | translate }}
      </a>
    </ion-label>
  </ion-item>
</ion-card>
