<ion-card *ngIf="order">
  <ion-item lines="none">
    <ion-label>
      <div>{{ order.start_datetime | date: 'mediumDate' }}</div>
      <div>{{ order.start_datetime | date: 'hh:mm' }} — {{ order.end_datetime | date: 'hh:mm' }}</div>
    </ion-label>
    <app-order-status [status]="order.status"></app-order-status>
  </ion-item>

  <app-client-widget [client]="order.client"></app-client-widget>

  <app-service-title [service]="service"></app-service-title>

  <ion-item lines="none" *ngIf="!pending; else loading">
    <ion-button [routerLink]="['/my-orders', 'inbox', order.id]" color="secondary">
      {{ 'received_orders.view' | translate }}
    </ion-button>
    <ng-container *ngIf="order.status === 'not_confirmed'">
      <ion-button slot="end" color="danger" (click)="onDiscardClick()">
        {{ 'received_orders.discard' | translate }}
      </ion-button>
      <ion-button slot="end" color="success" (click)="onAcceptClick()">
        {{ 'received_orders.accept' | translate }}
      </ion-button>
    </ng-container>
    <ng-container *ngIf="order.status === 'confirmed' || order.status === 'paid'">
      <ion-button slot="end" (click)="onCompleteClick()">
        {{ 'received_orders.complete' | translate }}
      </ion-button>
    </ng-container>
  </ion-item>
  <ng-template #loading>
    <app-loading-indicator></app-loading-indicator>
  </ng-template>
</ion-card>
