<app-header></app-header>
<ion-content *ngIf="order$ | async as order">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col appMainColumn>
        <ion-item color="light" lines="full">
          <ion-buttons slot="start">
            <ion-button routerLink="/my-orders/inbox" routerDirection="back">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{ 'received_orders.order-details-title' | translate }}</ion-title>
        </ion-item>

        <ion-list>
          <ion-list-header>
            <ion-label>{{ 'received_orders.order-details-subtitle' | translate }}:</ion-label>
          </ion-list-header>
          <app-client-widget [client]="order.client"></app-client-widget>
          <ion-item lines="none">
            <ion-label color="secondary">{{ 'received_orders.order-number' | translate }}
              : {{ order.id}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-list-header>
            <ion-label>{{ 'received_orders.ordered-service' | translate }}:</ion-label>
          </ion-list-header>
          <ng-container *ngIf="order.service | serviceById$ | async as service">
            <app-service-widget [service]="service"></app-service-widget>
          </ng-container>
          <ion-item>
            <ion-label>{{ 'order-status.title' | translate }}:</ion-label>
            <app-order-status [status]="order.status"></app-order-status>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-list-header>
            <ion-label>{{ 'received_orders.order-details' | translate }}:</ion-label>
          </ion-list-header>
          <app-order-details [order]="order"></app-order-details>
        </ion-list>

        <ion-item lines="none">
          <ng-container *ngIf="order.status === 'not_confirmed'">
            <ion-button slot="end" color="danger" (click)="onDiscardClick(order)">
              {{ 'received_orders.discard' | translate }}
            </ion-button>
            <ion-button slot="end" color="success" (click)="onAcceptClick(order)">
              {{ 'received_orders.accept' | translate }}
            </ion-button>
          </ng-container>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
