<app-header></app-header>
<ion-content class="ion-padding-top">
    <ion-row class="ion-justify-content-center">
        <ion-col appMainColumn>
            <form *ngIf="formService.form" [formGroup]="formService.form" (submit)="submitForm()">
                <ion-item class="ion-item-no-border ion-item-bordered-first item-content">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-start ion-align-items-center ion-padding-vertical">
                            <ion-item class="ion-item-no-border ion-item-no-side-padding fs18">
                                <b>
                                    {{"service-publish.step-two.title"|translate}}
                                </b>
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>

                <app-info-row>
                    {{"service-publish.step-two.first-info-row"|translate}}
                </app-info-row>

                <ion-item class="ion-item-no-border ion-item-bordered-others item-content">
                    <ion-col class="ion-padding-vertical" size="12">
                        <ion-item class="ion-item-no-border ion-item-no-side-padding">
                            <div class="label-for-required-input">
                                {{"service-publish.step-two.service-title"|translate}}
                            </div>
                        </ion-item>
                        <ion-item class="ion-item-bordered">
                            <ion-label color="medium" position="floating">
                                {{"service-publish.step-two.service-placeholder"|translate}}
                            </ion-label>
                            <ion-input type="text" name="name" [formControlName]="formFields.Name"></ion-input>
                        </ion-item>
                        <ion-item class="ion-item-no-border ion-item-no-side-padding ion-margin-top">
                            {{"service-publish.step-two.service-description"|translate}}
                        </ion-item>
                        <ion-item class="ion-item-bordered">
                            <ion-label color="medium" position="floating">
                                {{"service-publish.step-two.service-description-placeholder"|translate}}
                            </ion-label>
                            <ion-textarea rows="4" type="text" name="description"
                                          [formControlName]="formFields.Description"></ion-textarea>
                        </ion-item>
                        <ion-col size="12">
                            <ion-row>
                                <ion-item class="ion-item-no-border ion-item-no-side-padding">
                                    <div class="label-for-required-input">
                                        {{"service-publish.step-two.duration"|translate}}
                                    </div>
                                </ion-item>
                            </ion-row>
                            <app-duration [formControlName]="formFields.Duration"></app-duration>
                        </ion-col>


                        <ion-row class="ion-justify-content-between ion-align-items-center pr5">
                            <ion-item class="ion-item-no-border ion-item-no-side-padding">
                                {{"service-publish.step-two.fixed-price"|translate}}
                            </ion-item>
                            <ion-item class="ion-item-no-border">
                                <ion-checkbox [formControlName]="formFields.IsPriceFixed"
                                              color="light"></ion-checkbox>
                            </ion-item>
                        </ion-row>

                        <ion-col size="12" *ngIf="formService.form.get(formFields.IsPriceFixed).value">
                            <ion-row>
                                <ion-item class="ion-item-no-border ion-item-no-side-padding">
                                    <div class="label-for-required-input">
                                        {{"service-publish.step-two.fixed-price-title"|translate}}
                                    </div>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6" class="no-padding-left">
                                    <ion-item class="ion-item-no-border ion-item-bordered ion-item-bottom-border">
                                        <ionic-selectable
                                                itemValueField="currency"
                                                itemTextField="title"
                                                [canSearch]="true"
                                                [items]="currencyList$|async"
                                                [formControlName]="this.formFields.Currency"
                                                closeButtonText="{{trans.trans('ion-selectable.close-button-text') | async}}"
                                                searchFailText="{{trans.trans('ion-selectable.search-fail-text') | async}}"
                                                searchPlaceholder="{{trans.trans('ion-selectable.search-text') | async}}"
                                        >
                                        </ionic-selectable>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="6" class="no-padding-right">
                                    <ion-item class="ion-item-bordered">
                                        <ion-input [formControlName]="formFields.FixedPrice" appNumbersOnly
                                                   name="price"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-col>

                        <ion-col size="12" *ngIf="!formService.form.get(formFields.IsPriceFixed).value">
                            <ion-row>
                                <ion-item class="ion-item-no-border ion-item-no-side-padding">
                                    <div class="label-for-required-input">
                                        {{"service-publish.step-two.start-price"|translate}}
                                    </div>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6" class="no-padding-left">
                                    <ion-item class="ion-item-no-border ion-item-bordered ion-item-bottom-border">
                                        <ionic-selectable
                                                itemTextField="title"
                                                itemValueField="currency"
                                                [canSearch]="true"
                                                [items]="currencyList$|async"
                                                [formControlName]="this.formFields.StartPriceCurrency"
                                                closeButtonText="{{trans.trans('ion-selectable.close-button-text') | async}}"
                                                searchFailText="{{trans.trans('ion-selectable.search-fail-text') | async}}"
                                                searchPlaceholder="{{trans.trans('ion-selectable.search-text') | async}}"
                                        >
                                        </ionic-selectable>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="6" class="no-padding-right">
                                    <ion-item class="ion-item-bordered">
                                        <ion-input name="price" appNumbersOnly
                                                   [formControlName]="formFields.StartPrice"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-item class="ion-item-no-border ion-item-no-side-padding">
                                    <div class="label-for-required-input">
                                        {{"service-publish.step-two.end-price"|translate}}
                                    </div>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6" class="no-padding-left">
                                    <ion-item class="ion-item-no-border ion-item-bordered ion-item-bottom-border">
                                        <ionic-selectable
                                                itemTextField="title"
                                                itemValueField="currency"
                                                [canSearch]="true"
                                                [items]="currencyList$|async"
                                                [formControlName]="this.formFields.EndPriceCurrency"
                                                closeButtonText="{{trans.trans('ion-selectable.close-button-text') | async}}"
                                                searchFailText="{{trans.trans('ion-selectable.search-fail-text') | async}}"
                                                searchPlaceholder="{{trans.trans('ion-selectable.search-text') | async}}"
                                        >
                                        </ionic-selectable>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="6" class="no-padding-right">
                                    <ion-item class="ion-item-bordered">
                                        <ion-input [formControlName]="formFields.EndPrice" appNumbersOnly
                                                   name="price"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-col>
                </ion-item>

                <app-info-row>
                    {{"service-publish.step-two.second-info-row"|translate}}
                </app-info-row>

                <ion-item class="ion-item-no-border ion-item-bordered-others item-content">
                    <ion-col class="ion-padding-vertical" size="12">
                        <ion-list>
                            <ion-radio-group [formControlName]="formFields.Location">
                                <ion-list-header class="ion-item-bottom-border ion-item-no-side-padding">
                                    <ion-item class="ion-item-no-border ion-item-no-side-padding">
                                        <div class="label-for-required-input">
                                            {{"service-publish.step-two.location"|translate}}
                                        </div>
                                    </ion-item>
                                </ion-list-header>
                                <ion-item *ngFor="let type of serviceTypeList">
                                    <ion-label>{{"service-publish.step-two.location-" + type|translate}}</ion-label>
                                    <ion-radio value="{{type}}"></ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </ion-list>
                        <ion-row class="ion-justify-content-center">
                            <ion-col size="6">
                                <ion-button size="medium" color="light"
                                            (click)="serviceStepsNavigationService.previous()"
                                            class="ion-margin-top" fill="solid" expand="block">
                                    {{"service-publish.back-button" | translate}}
                                </ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button size="medium" color="secondary" type="submit" [disabled]="formService.isSubmitDisabled()"
                                            class="ion-margin-top" fill="solid" expand="block">
                                    {{"service-publish.forward-button" | translate}}
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-item>
            </form>
        </ion-col>
    </ion-row>
    <app-footer></app-footer>
</ion-content>
