<ion-content>
    <form *ngIf="formService.form" [formGroup]="formService.form" (ngSubmit)="submitEducationForm()">
        <div *ngFor="let e of formService.getEducationFormArray().controls; let i=index"
             [formArrayName]="formFields.Education">
            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-card [formGroupName]="i">
                        <ion-card-header>
                            {{'education-tab.education.education'|translate}}
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label color="medium"
                                           position="floating">{{'education-tab.education.university'|translate}}</ion-label>
                                <ion-input [formControlName]="formFields.University" type="text"
                                           name="title"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label color="medium"
                                           position="floating">{{'education-tab.education.degree'|translate}}</ion-label>
                                <ion-input [formControlName]="formFields.Degree" type="text" name="photo"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label color="medium"
                                           position="floating">{{'education-tab.education.fieldOfStudy'|translate}}</ion-label>
                                <ion-input [formControlName]="formFields.FieldOfStudy" type="text"
                                           name="link"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label
                                        color="medium">{{'education-tab.education.isStillHere'|translate}}</ion-label>
                                <ion-toggle [formControlName]="formFields.IsStillHere"></ion-toggle>
                            </ion-item>

                            <ion-item>
                                <ion-label color="medium"
                                           position="floating">{{'education-tab.education.startDate'|translate}}</ion-label>
                                <ion-datetime
                                        display-format="YYYY-MM-DD"
                                        [formControlName]="formFields.StartDate"
                                ></ion-datetime>
                            </ion-item>
                            <ion-item>
                                <ion-label color="medium"
                                           position="floating">{{'education-tab.education.endDate'|translate}}</ion-label>
                                <ion-datetime
                                        display-format="YYYY-MM-DD"
                                        [formControlName]="formFields.EndDate"
                                ></ion-datetime>
                            </ion-item>

                            <ion-item>
                                <ion-label
                                        color="medium" position="floating">{{'education-tab.education.description'|translate}}</ion-label>
                                <ion-input [formControlName]="formFields.Description" type="text"
                                           name="title"></ion-input>
                            </ion-item>

                            <ion-input [formControlName]="formFields.ID" type="hidden"></ion-input>

                            <ion-button
                                    expand="block"
                                    fill="solid"
                                    color="danger"
                                    (click)="formService.removeEducation(i)"
                            >{{ 'education-tab.education.remove_education' | translate }}</ion-button>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-button
                        expand="block"
                        fill="solid"
                        color="success"
                        (click)="formService.addEducation()"
                >{{ 'education-tab.education.add_education' | translate }}</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-button
                        type="submit"
                        expand="block"
                        fill="solid"
                        color="success"
                        [disabled]="formService.isSubmitDisabled()"
                >{{ 'education-tab.save' | translate }}</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
