<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <form *ngIf="form" [formGroup]="form" (submit)="submitForm()">
      <ion-item lines="none" class="ion-item-bordered-first" color="light">
        <ion-col class="ion-no-padding">
          <ion-row class="ion-justify-content-start ion-align-items-center">
            <ion-item
              routerLink="/profile"
              [detail]="false"
              routerDirection="back"
              color="light"
              routerLinkActive="active"
              lines="none" class="ion-align-items-center"
            >
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-item>
            <ion-item lines="none" color="light">
              {{ 'profile-main-edit.main' | translate }}
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-item>
      <ion-item lines="none" class="ion-item-bordered-others">
        <ion-col class="ion-padding-vertical" size="12">
          <ion-item>
            <ion-label class="label-for-required-input" color="medium" position="floating">{{
              'profile-form.fields.name' | translate
              }}</ion-label>
            <ion-input
              type="text"
              name="first_name"
              [placeholder]="'profile-form.placeholders.name' | translate"
              formControlName="{{ formFields.FirstName }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="label-for-required-input" color="medium" position="floating">{{
              'profile-form.fields.surname' | translate
              }}</ion-label>
            <ion-input
              type="text"
              name="last_name"
              [placeholder]="'profile-form.placeholders.surname' | translate"
              formControlName="{{ formFields.LastName }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="medium" position="floating">{{ 'profile-form.fields.patronymic' | translate }}</ion-label>
            <ion-input
              type="text"
              name="patronymic"
              [placeholder]="'profile-form.placeholders.patronymic' | translate"
              formControlName="{{ formFields.Patronymic }}"
            ></ion-input>
          </ion-item>
          <app-gender-selector [formControlName]="formFields.Gender"></app-gender-selector>
          <ion-item>
            <ion-label class="label-for-required-input" color="medium" position="floating">
              {{'profile-form.fields.email' | translate}}
            </ion-label>
            <ion-input
              type="text"
              name="email"
              [placeholder]="'profile-form.placeholders.email' | translate"
              formControlName="{{ formFields.Email }}"
            >
            </ion-input>
          </ion-item>
          <ion-button [disabled]="isSubmitDisabled()" type="submit" class="ion-margin-top" fill="solid" expand="block">
            {{ 'profile-form.button' | translate }}
          </ion-button>
        </ion-col>
      </ion-item>
    </form>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
