<app-header></app-header>
<ion-content class="ion-padding-top">
    <ion-row class="ion-justify-content-center">
        <ion-col appMainColumn class="ion-no-padding ion-margin-top">
            <form *ngIf="formService.form" [formGroup]="formService.form" (submit)="submitForm()">
                <ion-item class="ion-item-no-border ion-item-bordered-first" color="light">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-start ion-align-items-center">
                            <ion-item routerLink="/service/publish/step-seven" [detail]="false" color="light"
                                      routerDirection="back"
                                      routerLinkActive="active" class="ion-item-no-border ion-align-items-center">
                                <ion-icon name="arrow-back-outline"></ion-icon>
                            </ion-item>
                            <ion-item class="ion-item-no-border" color="light">
                                {{"service-publish.step-seven.departure.title"|translate}}
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>

                <ion-item class="ion-item-no-border ion-item-bordered-others">
                    <ion-col class="ion-padding-vertical" size="12">
<!--                        <ion-item class="width100 ion-item-no-side-padding ion-item-no-border ion-padding-bottom">-->
<!--                            <ion-toggle [formControlName]="formFields.NotWithinTheCity" name="radius"></ion-toggle>-->
<!--                        </ion-item>-->
<!--                        <ion-row *ngIf="formService.form.get(formFields.NotWithinTheCity).value">-->
                        <ion-row>
                            <ion-item class="ion-item-no-border">
                                <div class="label-for-required-input">
                                    <b>
                                        {{"service-publish.step-seven.departure.description"|translate}}
                                    </b>
                                </div>
                            </ion-item>
                        </ion-row>
<!--                        <ion-row *ngIf="formService.form.get(formFields.NotWithinTheCity).value">-->
                        <ion-row>
                            <ion-col size="6">
                                <ion-item class="ion-item-no-border ion-item-bordered ion-item-bottom-border">
                                    <ion-select
                                            [formControlName]="formFields.Units" interface="popover" class="max-width100 no-padding-left">
                                        <ion-select-option *ngFor="let val of units; let i=index"
                                                           value="{{i}}">{{"units."+i|translate}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6">
                                <ion-item lines="none" class="ion-item-bordered">
                                    <ion-input [formControlName]="formFields.MaxDistance" name="price" appNumbersOnly></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-button color="secondary" type="submit" class="ion-margin-top" fill="solid" expand="block"
                        [disabled]="formService.isSubmitDisabled()">
                            {{'profile-form.button'| translate}}
                        </ion-button>
                    </ion-col>
                </ion-item>
            </form>
        </ion-col>
    </ion-row>
    <app-footer></app-footer>
</ion-content>
