<app-header></app-header>
<ion-content class="ion-padding-top">
  <app-content-wrapper>
    <app-column-header [previousLocationFallback]="'/service/publish/step-seven'">{{
      'service-publish.step-seven.departure.title' | translate
    }}</app-column-header>
    <form *ngIf="formService.form" [formGroup]="formService.form" (submit)="submitForm()">
      <ion-row>
        <ion-item lines="none">
          <div class="label-for-required-input">
            <b>
              {{ 'service-publish.step-seven.departure.description' | translate }}
            </b>
          </div>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none" class="ion-item-bordered ion-item-bottom-border">
            <ion-select [formControlName]="formFields.Units" interface="popover" class="max-width100 no-padding-left">
              <ion-select-option *ngFor="let val of units; let i = index" value="{{ i }}"
                >{{ 'units.' + i | translate }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none" class="ion-item-bordered">
            <ion-input [formControlName]="formFields.MaxDistance" name="price" appNumbersOnly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button
        type="submit"
        class="ion-margin-top"
        fill="solid"
        expand="block"
        [disabled]="formService.isSubmitDisabled()"
      >
        {{ 'profile-form.button' | translate }}
      </ion-button>
    </form>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
