:host {
  display: block;
}

.bottom-buttons {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.more-services {
  font-size: 1.1rem;
  color: var(--ion-color-primary);
}
