.like {
  position: absolute;
  top: 7px;
  right: 7px;
}
.content {
  display: flex;
  .avatar {
    border-radius: 9px;
    overflow: hidden;
    height: 100px;
    width: 100px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      display: flex;
      flex-direction: column;
      .full-name {
        color: var(--ion-color-dark);
        font-weight: bold;
        padding-bottom: 9px;
      }
      .company {
        color: var(--ion-color-medium);
      }
    }
    .rating {
      display: flex;
      flex-direction: column;
      .star-rating {
        padding-bottom: 5px;
        .star {
          padding-right: 5px;
        }
      }
      .reviews {
        color: var(--ion-color-primary);
        // --background-hover: var(--ion-background-color);
      }
    }
  }
}

.star {
  color: var(--ion-color-warning);
}
