<div class="content">
  <ion-img class="avatar" [src]="professional.user?.avatar || defaultAvatar"></ion-img>
  <div class="info">
    <div class="title">
      <ion-item [routerLink]="'/professional/' + professional.id" class="full-name ion-item-no-min-height fs16" lines="none" detail="false">
        {{ professional.name }}
      </ion-item>
      <div *ngIf="professional.company" class="company ion-padding-horizontal fs13">
        {{ professional.company || 'global.professional.private-person' | translate }}
      </div>
    </div>
    <div *ngIf="professional?.rating" class="rating">
      <ion-item class="star-rating ion-item-no-min-height" lines="none">
        <ion-icon name="star" class="star fs20"></ion-icon>
        <b>{{ professional?.rating }}</b>
      </ion-item>

      <ion-item class="reviews ion-item-no-min-height fs13" detail="false" lines="none">
        <a *ngIf="reviewsCount" [routerLink]="'/reviews/' + professional?.id" (click)="$event.stopPropagation()">
          {{ reviewsCount }} {{ declineReviews(reviewsCount) | translate }}
        </a>
      </ion-item>
    </div>
  </div>
</div>
