:host {
  display: grid;
  grid-template-columns: auto min-content;
}

.content {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.avatar {
  --size: 100px;
  flex-shrink: 0;
}

.rating {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.rating__reviews-link {
  padding-left: 0.5rem;
  color: var(--ion-color-primary);
  font-size: 0.8125rem;
}

.info {
  overflow: hidden;

  .title {
    font-size: 1rem;
    line-height: 20px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 0.8125rem;
    color: var(--ion-color-medium);
  }

  .city {
    font-size: 0.8125rem;
    color: var(--ion-color-secondary);
  }
}
