<div class="content">
  <ion-thumbnail class="avatar">
    <ion-img [src]="professional.user?.avatar || defaultAvatar"></ion-img>
  </ion-thumbnail>
  <div class="info">
    <div class="title">
      <a [routerLink]="'/professional/' + professional.id" class="ion-padding-horizontal fs16">
        {{ getName() }}
      </a>
      <div class="company ion-padding-horizontal fs13">
        {{ professional.name }}
      </div>
    </div>
    <div *ngIf="professional?.rating" class="rating">
      <ion-item class="star-rating ion-item-no-min-height" lines="none">
        <ion-icon name="star" class="star fs20"></ion-icon>
        <b>{{ professional?.rating }}</b>
      </ion-item>

      <ion-item class="reviews ion-item-no-min-height fs13" detail="false" lines="none">
        <a *ngIf="reviewsCount" [routerLink]="'/reviews/' + professional?.id" (click)="$event.stopPropagation()">
          {{ reviewsCount }} {{ declineReviews(reviewsCount) | translate }}
        </a>
      </ion-item>
    </div>
  </div>
</div>
<app-saved-professional-toggle [professionalId]="professional.id" class="like"></app-saved-professional-toggle>
