<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header>{{ 'reviews.title' | translate }}</app-column-header>
    <app-professional-card
      *ngIf="professional$ | async as professional; else loading"
      [professional]="professional"
      class="professional"
    ></app-professional-card>
    <ng-container *ngIf="reviews$ | async as reviews; else loading">
      <ion-item *ngIf="isAbleToReview$ | async" class="edit-review ion-text-center ion-item-no-border">
        <a [routerLink]="['/reviews', professionalId$ | async, 'edit-review']" (click)="$event.stopPropagation()">{{
          'reviews.send-review' | translate
        }}</a>
      </ion-item>
      <app-review-cards [reviews]="reviews"></app-review-cards>
    </ng-container>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
<ng-template #loading>
  <app-loading-indicator></app-loading-indicator>
</ng-template>
