<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header>{{ 'reviews.title' | translate }}</app-column-header>
    <app-professional-card
      *appIfSpinner="professional$ | ifSpinnerErrorState | async as professional"
      [professional]="professional"
      class="professional"
    ></app-professional-card>
    <ng-container *appIfSpinner="reviews$ | ifSpinnerErrorState | async as reviews">
      <ion-item *ngIf="isAbleToReview$ | async" class="edit-review ion-text-center" lines="none">
        <a [routerLink]="['/reviews', professionalId$ | async, 'edit-review']" (click)="$event.stopPropagation()">{{
          'reviews.send-review' | translate
        }}</a>
      </ion-item>
      <app-review-cards [reviews]="reviews"></app-review-cards>
    </ng-container>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
