<ion-card class="card">
    <ion-card-content>
        <ion-row class="ion-nowrap">
            <ion-avatar class="avatar">
                <ion-img src=""></ion-img>
            </ion-avatar>
            <ion-item class="ion-item-no-border">
                <ion-col>
                    <ion-row class="review-title">Lorem</ion-row>
                    <ion-row class="review-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </ion-row>
                </ion-col>
            </ion-item>
        </ion-row>
    </ion-card-content>
</ion-card>
