<ion-item lines="none">
  <ion-button slot="start" class="ion-align-self-center" (click)="shiftDate(-1)">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-label position="stacked" color="medium"> Выбранная дата </ion-label>
  <ion-input class="cursor-pointer" (click)="pickDate()">
    {{ currentlyViewedDate$ | async | date: 'yyyy-MM-dd' }}
  </ion-input>
  <ion-button slot="end" class="ion-align-self-center" (click)="shiftDate(1)">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-item>
<ng-container *ngFor="let interval of calendarIntervals$ | async">
  <app-section-heading>{{ interval.title }}</app-section-heading>
  <div class="timetable">
    <ion-button
      *ngFor="let unit of interval.units"
      class="interval-button"
      mode="ios"
      [fill]="getUnitFill(unit)"
      [color]="getUnitColor(unit)"
      [disabled]="disabled || !unit.enabled"
      (click)="setDatetime(unit)"
    >
      {{ unit.datetime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}
    </ion-button>
  </div>
</ng-container>
