<ion-item lines="none" *ngIf="selectedDatetime">
  <ion-label>
    {{ selectedDatetime | date: 'yyyy-MM-dd, HH:mm' }}
  </ion-label>
</ion-item>
<app-placeholder *ngIf="!selectedDatetime && !disabled"></app-placeholder>
<ion-item lines="none">
  <ion-button slot="start" (click)="shiftDate(-1)">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-label class="cursor-pointer" (click)="pickDate()">
    {{ currentlyViewedDate$ | async | date: 'yyyy-MM-dd' }}
  </ion-label>
  <ion-button slot="end" (click)="shiftDate(1)">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-item>
<ng-container *ngFor="let interval of calendarIntervals$ | async">
  <app-section-heading>{{ interval.title }}</app-section-heading>
  <div class="timetable">
    <ion-button
      *ngFor="let unit of interval.units"
      [fill]="getUnitFill(unit)"
      [color]="getUnitColor(unit)"
      [disabled]="disabled || !unit.enabled"
      (click)="setDatetime(unit)"
    >
      {{ unit.datetime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}
    </ion-button>
  </div>
</ng-container>
