<ion-app [class.dark-theme]="darkTheme">
    <ion-header>
        <ion-toolbar class="ion-text-center">
            <ion-text>{{getTitle()|titlecase}}</ion-text>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-toggle (ionChange)="changeMode($event)" [(ngModel)]="darkTheme"></ion-toggle>
            </ion-buttons>

            <ion-select interface="popover" slot="start"
                        [ngModel]="trans.getCurrentLang()"
                        (ionChange)="trans.setLang($event.detail.value)"
            >
                <ion-select-option *ngFor="let lang of trans.getLanguagesAsArray()" value="{{ lang }}">
                    {{ lang }}
                </ion-select-option>
            </ion-select>

            <ion-buttons slot="end" class="button-bar">
                <ion-button
                        color="default"
                        routerLink="/auth/login"
                        routerLinkActive="active"
                        routerDirection="forward"
                        expand="block"
                        title="sign-in"
                >
                    <ion-icon name="log-in"></ion-icon>
                </ion-button>
                <ion-button
                        color="default"
                        routerLink="/auth/registration"
                        routerLinkActive="active"
                        routerDirection="forward"
                        expand="block"
                        title="sign-up"
                >
                    <ion-icon name="clipboard"></ion-icon>
                </ion-button>
                <ion-button
                        color="default"
                        routerLink="/profile"
                        routerLinkActive="active"
                        routerDirection="forward"
                        expand="block"
                        title="profile"
                >
                    <ion-icon name="contact"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</ion-app>
