<form [formGroup]="form" (ngSubmit)="onSave()" *appIfSpinner="item">
  <ion-item>
    <ion-label color="medium" position="floating" class="label-for-required-input">
      {{ 'experience-edit-page.title' | translate }}
    </ion-label>
    <ion-input [formControlName]="formFields.title" name="title" type="text"></ion-input>
  </ion-item>
  <app-form-control-error [controlName]="formFields.title"> </app-form-control-error>

  <ion-item>
    <ion-label color="medium" position="floating" class="label-for-required-input">
      {{ 'experience-edit-page.company' | translate }}
    </ion-label>
    <ion-input [formControlName]="formFields.company" name="company" type="text"></ion-input>
  </ion-item>
  <app-form-control-error [controlName]="formFields.company"> </app-form-control-error>
  <app-date-interval-editor [formControlName]="formFields.interval"></app-date-interval-editor>
  <app-form-control-error [controlName]="formFields.interval"> </app-form-control-error>
  <ion-item>
    <ion-label color="medium" position="floating">
      {{ 'experience-edit-page.description' | translate }}
    </ion-label>
    <ion-input [formControlName]="formFields.description" name="title" type="text"></ion-input>
  </ion-item>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-col size="6">
      <ion-button (click)="onDelete()" *ngIf="item.id" color="light" expand="block" fill="solid" size="medium">
        {{ 'experience-edit-page.remove' | translate }}
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button type="submit" [disabled]="form.invalid || form.pristine" expand="block" fill="solid" size="medium">
        {{ 'experience-edit-page.save' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</form>
