<ion-buttons class="ion-justify-content-center">
    <ion-button
            id="camera-button"
            *ngIf="camera"
            type="button"
            (click)="createCameraSnap()"
    >
        <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
    <ion-button
            id="file-button"
            *ngIf="fileSystem && !platform.is('desktop')"
            type="button"
            (click)="getImageFile()"
    >
        <ion-icon name="folder-outline"></ion-icon>
    </ion-button>
    <ion-item *ngIf="fileSystem && platform.is('desktop')" class="ion-item-no-border">
        <ion-button
                appDebounce
                (debounceClick)="openAndSelectFile()"
                id="file-button"
        >
            <ion-icon class="file-picker-icon" name="folder-outline"></ion-icon>
        </ion-button>
        <ion-input
                accept="image/x-png,image/gif,image/jpeg"
                (ionChange)="onFileSelected()"
                #file
                class="file-picker-input"
                name="file"
                type="file"
                id="file-picker"
        ></ion-input>
    </ion-item>
</ion-buttons>
