<ion-item>
  <ion-label position="floating" class="label-for-required-input">
    {{ 'cancel-order-popover.reason-title' | translate }}
  </ion-label>
  <ion-select [formControl]="reasonControl">
    <ion-select-option [value]="reasons.dates">{{
      'cancel-order-popover.reasons-dates' | translate
    }}</ion-select-option>
    <ion-select-option [value]="reasons.other">{{
      'cancel-order-popover.reasons-other' | translate
    }}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label position="floating">
    {{ 'cancel-order-popover.note-title' | translate }}
  </ion-label>
  <ion-textarea [formControl]="noteControl" [maxlength]="200"></ion-textarea>
</ion-item>
<ion-button expand="block" (click)="confirm()" [disabled]="reasonControl.invalid">
  {{ 'cancel-order-popover.confirm' | translate }}
</ion-button>
