<ion-chip color="medium" (click)="onDelete()">
  <ion-label [ngSwitch]="filter.name">
    <ng-container *ngSwitchCase="fields.country">{{ (filter.value | countryById$ | async)?.name }}</ng-container>
    <ng-container *ngSwitchCase="fields.city">
      <b>{{ (filter.value | cityById$ | async)?.name }}</b>
    </ng-container>
    <ng-container *ngSwitchCase="fields.categories">{{ (filter.value | categoryById$ | async)?.name }}</ng-container>
    <ng-container *ngSwitchCase="fields.subcategories">
      {{ (filter.value | subcategoryById$ | async)?.name }}
    </ng-container>
    <ng-container *ngSwitchCase="fields.onlyWithAutoOrderConfirmation">
      {{ 'issuance.filters.main-tab.instant-booking' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="fields.startDatetime">
      {{ 'issuance.filters.main-tab.date-from' | translate }}
      {{ filter.value?.replace('T', ' ') | date: 'short' }}
    </ng-container>
    <ng-container *ngSwitchCase="fields.endDatetime">
      {{ 'issuance.filters.main-tab.date-to' | translate }}
      {{ filter.value?.replace('T', ' ') | date: 'short' }}
    </ng-container>
    <ng-container *ngSwitchCase="fields.serviceTypes">
      <span *ngFor="let type of filter.value.split(',')">
        {{ 'service-location.' + type | translate }}
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="fields.startPrice">
      {{ 'issuance.filters.main-tab.price-start' | translate }} {{ filter.value }}
    </ng-container>
    <ng-container *ngSwitchCase="fields.endPrice">
      {{ 'issuance.filters.main-tab.price-end' | translate }} {{ filter.value }}
    </ng-container>
    <ng-container *ngSwitchCase="fields.priceCurrency">
      {{ 'flag-menu.currency' | translate }} {{ filter.value }}
    </ng-container>

    <ng-container *ngSwitchDefault>{{ filter.name }}: {{ filter.value }}</ng-container>
  </ion-label>
  <ion-icon name="close-outline"></ion-icon>
</ion-chip>
