<app-header></app-header>
<ion-content *ngIf="context$ | async as context">
  <app-content-wrapper>
    <ion-item color="light" lines="full">
      <ion-buttons slot="start">
        <ion-button [routerLink]="getServicePageUrl(context.service.id)" routerDirection="back">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{'service-details.schedule-title' | translate}}</ion-title>
    </ion-item>

    <form [formGroup]="context.form" (ngSubmit)="submit(context)">
    </form>

  </app-content-wrapper>
<app-footer></app-footer>
</ion-content>
