<app-header></app-header>
<ion-content *ngIf="context$ | async as context">
  <app-content-wrapper>
    <app-column-header [previousLocationFallback]="getServicePageUrl(context.service.id)">{{
      'service-details.schedule-title' | translate
    }}</app-column-header>
    <form [formGroup]="context.form" (ngSubmit)="submit(context)">
      <ion-item lines="full">
        <ion-label>
          {{ 'service-details.is-base-schedule' | translate }}
        </ion-label>
        <ion-checkbox formControlName="is_base_schedule"></ion-checkbox>
      </ion-item>
      <app-schedule-editor
        *ngIf="!context.form.controls.is_base_schedule.value"
        [schedule]="schedule$ | async"
        formControlName="schedule"
      >
      </app-schedule-editor>

      <ion-button type="submit" expand="block" [disabled]="context.form.invalid || pending">
        {{ 'global.save' | translate }}
      </ion-button>
    </form>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
