<ion-row class="pb8">
  <ion-col size="3" *ngIf="certificate.photo">
    <ion-img class="certificate" [src]="certificate.photo"></ion-img>
  </ion-col>
  <ion-col size="{{ getInfoColSize() }}">
    <ion-label class="pb8 title">{{ certificate.name }}</ion-label>
    <ion-label color="medium" class="pb8 subtitle">{{ certificate.date }}</ion-label>
    <ion-label color="medium" class="pb8 subtitle" *ngIf="certificate.certificate_id">
      {{ 'master-profile.info.certificate-id' | translate }} : {{ certificate.certificate_id }}
    </ion-label>
    <a *ngIf="certificate.url" class="pb8 link" href="{{ certificate.url }}">
      {{ 'master-profile.info.certificate-url' | translate }} : {{ certificate.url }}
    </a>
  </ion-col>
</ion-row>
