:host {
  display: block;
}

.border-radius {
  border-radius: 5px;
  overflow: hidden;
}

.aie {
  align-items: flex-end;
}

.services-title {
  font-size: 12px;
  color: #989aa2;
}

.master-level {
  font-size: 12px;
  color: #0cd1e8;
}

.more-services {
  font-size: 16px;
  color: #3880ff;
}

.master-location-title {
  font-size: 12px;
  color: #989aa2;
}

.select-button-lg {
  @media (max-width: 540px) {
    display: none;
  }
}

.select-button-sm {
  @media (min-width: 540px) {
    display: none;
  }
}
