<ion-list lines="none">
    <ion-item *ngFor="let contact of clientContacts">
        <ion-icon name="{{ getContactIcon(contact.contact_display) }}"></ion-icon>
        <ion-label color="medium">
            {{ contact.contact_display }}
        </ion-label>
        <ion-text color="primary">
            {{ contact.value }}
        </ion-text>
        <ion-button *ngIf="interactable"
                    slot="end"
                    fill="clear"
                    routerLink="{{ editContactUrl + contact.id }}">
            <ion-icon name="create-outline"></ion-icon>
        </ion-button>
    </ion-item>
</ion-list>
<ion-item *ngIf="interactable"
          id="add-new-contact" [detail]="false"
          routerDirection="forward"
          routerLink="{{addNewContactUrl}}"
          routerLinkActive="active">
    <ion-icon slot="start" color="secondary" name="add-circle"></ion-icon>
    <ion-label>
        {{'contact-edit-page.add-new'|translate}}
    </ion-label>
</ion-item>
