<ion-list lines="none">
  <ion-item *ngFor="let contact of clientContacts">
    <ion-icon name="{{ getContactIcon(contact.contact_display) }}" color="secondary"></ion-icon>
    <ion-label color="medium" class="ion-padding-start">
      {{ contact.contact_display }}
    </ion-label>
    <ion-text color="secondary">
      {{ contact.value || '—' }}
    </ion-text>
    <ion-button *ngIf="interactable && contact.id"
                slot="end"
                fill="clear"
                routerLink="{{ editContactUrl + contact.id }}">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="interactable && !contact.id"
                slot="end"
                fill="clear"
                routerLink="{{ editDefaultContactUrl + contact.contact }}">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
<ion-item *ngIf="interactable"
          id="add-new-contact" [detail]="false"
          routerDirection="forward" lines="none"
          routerLink="{{addNewContactUrl}}"
          routerLinkActive="active">
  <ion-icon slot="start" name="add-circle" color="primary"></ion-icon>
  <ion-label>
    {{'contact-edit-page.add-new'|translate}}
  </ion-label>
</ion-item>
