<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitEducationForm()" (keydown.enter)="submitEducationForm()">
    <ion-row class="ion-justify-content-center">
      <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
        <ion-item>
          <ion-label color="medium" position="floating">{{ 'education' | translate }}</ion-label>
          <ion-input type="text" name="education" [formControlName]="formFields.Education" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
        <ion-item>
          <ion-label color="medium" position="floating">{{ 'experience' | translate }}</ion-label>
          <ion-input type="text" name="experience" [formControlName]="formFields.Experience" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div *ngFor="let cert of formService.certifications.controls; let i=index" [formArrayName]="formFields.Certifications">

      <ion-row class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          <ion-card [formGroupName]="i">
            <ion-card-content>
              <ion-item>
                <ion-label color="medium" position="floating">{{ 'title' | translate }}</ion-label>
                <ion-input [formControlName]="formFields.Certification_title" type="text" name="title"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="medium" position="floating">{{ 'photo' | translate }}</ion-label>
                <ion-input [formControlName]="formFields.Certification_photo" type="text" name="photo"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="medium" position="floating">{{ 'link' | translate }}</ion-label>
                <ion-input [formControlName]="formFields.Certification_link" type="text" name="link"></ion-input>
              </ion-item>
              <ion-button
                      expand="block"
                      fill="solid"
                      color="danger"
                      (click)="formService.removeCertification(i)"
              >{{ 'remove cert' | translate }}</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </div>

    <ion-row class="ion-justify-content-center">
      <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
        <ion-button
                expand="block"
                fill="solid"
                color="success"
                (click)="formService.addCertification()"
        >{{ 'add new certification' | translate }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
        <ion-button
                type="submit"
                expand="block"
                fill="solid"
                color="success"
                [disabled]="formService.isSubmitDisabled()"
        >{{ 'save' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
