<app-header></app-header>
<ion-content *ngIf="context$ | async as context">
  <app-content-wrapper>
    <app-column-header [backButtonUrl]="getServicePageUrl(context.service.id)">{{
      'service-details.location-title' | translate
    }}</app-column-header>
    <form [formGroup]="context.form" (ngSubmit)="submit(context)">
      <ion-item lines="full">
        <ion-label>
          {{ 'service-details.is-base-schedule' | translate }}
        </ion-label>
        <ion-checkbox formControlName="is_base_schedule"></ion-checkbox>
      </ion-item>
      <app-schedule-editor
        *ngIf="!context.form.controls.is_base_schedule.value"
        [schedule]="schedule$ | async"
        formControlName="schedule"
      >
      </app-schedule-editor>

      <section>
        <app-section-heading>{{ 'service-details.service-type' | translate }}</app-section-heading>
        <ion-radio-group formControlName="service_type">
          <ion-item *ngFor="let type of serviceTypes" lines="full">
            <ion-label>{{ 'service-location.' + type | translate }}</ion-label>
            <ion-radio value="{{ type }}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </section>

      <section>
        <app-service-location-editor
          [type]="(type$ | async) || context.service.service_type"
          [serviceId]="context.service.id"
          [professionalId]="context.service.professional"
          formControlName="location"
        >
        </app-service-location-editor>
      </section>
      <ion-button type="submit" expand="block" [disabled]="pending">
        {{ 'global.save' | translate }}
      </ion-button>
    </form>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
