<ng-container *ngIf="context$ | async as context">
  <section>
    <ion-list *ngIf="reviewsCount$ | async as reviewsCount; else noReviews" lines="none">
      <ion-item>
        <ion-label>
          {{ 'master-profile.main-info.rating' | translate }}
        </ion-label>
        <app-rating slot="end" [rating]="context.professional.rating"></app-rating>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ 'master-profile.main-info.reviews' | translate }}
        </ion-label>
        <ion-label slot="end" class="ion-text-end">
          <a [routerLink]="['/reviews', context.professional.id]">
            {{ reviewsCount | asReviews }}
          </a>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #noReviews>
      <ion-item lines="none">
        <ion-label>
          {{ 'master-profile.main-info.rating' | translate }}
        </ion-label>
        <ion-label slot="end" color="medium" class="ion-text-end">
          {{ 'master-profile.main-info.no-rating' | translate }}
        </ion-label>
      </ion-item>
    </ng-template>
  </section>

  <section *ngIf="context.canEdit; else viewContacts">
    <app-section-heading>
      {{ 'master-profile.info.contacts' | translate }}
    </app-section-heading>
    <app-contacts-edit
      *appIfSpinner="contactsWithDefault$ | ifSpinnerErrorState | async as contacts"
      [contacts]="contacts"
      [addNewContactUrl]="getNewContactUrl(context.professional.id)"
      editContactUrl="{{ editUrl }}"
      editDefaultContactUrl="{{ editDefaultUrl }}"
    ></app-contacts-edit>
  </section>
  <ng-template #viewContacts>
    <app-contacts-view [contacts]="context.professional.contacts"></app-contacts-view>
  </ng-template>

  <section>
    <app-section-heading>
      {{ 'master-profile.info.master-location' | translate }}
    </app-section-heading>
    <ion-list lines="none" *ngIf="context.canEdit; else viewLocations">
      <ion-item *ngFor="let location of editableLocations$ | async" lines="none">
        <app-location-viewer [location]="location"></app-location-viewer>
        <ion-button slot="end" color="medium" fill="clear" routerLink="location-edit/{{ location.id }}">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <app-add-button [routerLink]="getNewLocationUrl(context.professional.id)">{{
        'list-item.add-new-address' | translate
      }}</app-add-button>
    </ion-list>
    <ng-template #viewLocations>
      <ion-item *ngFor="let location of context.professional.locations" lines="none">
        <app-location-viewer [location]="location"></app-location-viewer>
      </ion-item>
      <ng-container *ngIf="!context.professional.locations?.length" [ngTemplateOutlet]="noData"></ng-container>
    </ng-template>
  </section>

  <app-collapse-item title="{{ 'master-profile.info.about' | translate }}">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>
          <h1>{{ 'master-profile.info.description' | translate }}</h1>
        </ion-label>
        <ion-button color="medium" routerLink="edit/{{ context.professional.id }}" *ngIf="context.canEdit">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngIf="context.professional.description">
        <ion-text class="ion-text-wrap">
          {{ context.professional.description }}
        </ion-text>
      </ion-item>
      <ion-item *ngIf="context.professional.experience">
        <ion-label>
          {{ 'master-profile.info.professional-experience' | translate }}
        </ion-label>
        <ion-text>
          {{ context.professional.experience | asYears }}
        </ion-text>
      </ion-item>
      <ion-item *ngIf="context.professional.level">
        <ion-label>
          {{ 'master-profile.info.professional-level' | translate }}
        </ion-label>
        <ion-text>
          {{ 'global.professional-level.' + context.professional.level | translate }}
        </ion-text>
      </ion-item>
      <ng-container
        *ngIf="!context.professional.description && !context.professional.experience && !context.professional.level"
        [ngTemplateOutlet]="noData"
      ></ng-container>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>
          <h1>{{ 'master-profile.info.information' | translate }}</h1>
        </ion-label>
        <ion-button *ngIf="context.canEdit" color="medium" fill="clear" routerLink="/profile/about">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngIf="context.user.gender">
        <ion-label>
          {{ 'master-profile.info.sex' | translate }}
        </ion-label>
        <ion-text>
          {{ 'global.sex.' + context.user.gender | translate }}
        </ion-text>
      </ion-item>
      <ion-item *ngIf="context.user.birthday">
        <ion-label>
          {{ 'master-profile.info.age' | translate }}
        </ion-label>
        <ion-text>
          {{ getYearsFromBirthday(context.user.birthday) | asYears }}
        </ion-text>
      </ion-item>
      <ion-item *ngIf="context.user.nationality">
        <ion-label>
          {{ 'master-profile.info.nationality' | translate }}
        </ion-label>
        <ion-text>
          {{ context.user.nationality.name }}
        </ion-text>
      </ion-item>
      <ng-container
        *ngIf="!context.user.gender && !context.user.birthday && !context.user.nationality"
        [ngTemplateOutlet]="noData"
      ></ng-container>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>
          <h1>{{ 'master-profile.info.languages' | translate }}</h1>
        </ion-label>
      </ion-list-header>
      <app-language *ngFor="let language of context.user.languages" [language]="language"></app-language>
      <ng-container *ngIf="!context.user.languages.length" [ngTemplateOutlet]="noData"></ng-container>
    </ion-list>
  </app-collapse-item>

  <app-collapse-item title="{{ 'master-profile.info.experience' | translate }}">
    <ion-item
      lines="none"
      class="ion-item-no-padding-right"
      *ngFor="let experience of context.professional.experience_entries"
    >
      <app-experience [editable]="context.canEdit" [exp]="experience"></app-experience>
    </ion-item>
    <ng-container *ngIf="!context.professional.experience_entries.length" [ngTemplateOutlet]="noData"></ng-container>
    <app-add-button *ngIf="context.canEdit" routerLink="experience-add/">
      {{ 'master-profile.info.add-new-exp' | translate }}
    </app-add-button>
  </app-collapse-item>

  <app-collapse-item title="{{ 'master-profile.info.education' | translate }}">
    <ion-item *ngFor="let education of context.professional.educations" lines="none" class="ion-item-no-padding-right">
      <app-education [education]="education" [editable]="context.canEdit"></app-education>
    </ion-item>
    <ng-container *ngIf="!context.professional.educations.length" [ngTemplateOutlet]="noData"></ng-container>
    <app-add-button *ngIf="context.canEdit" routerLink="education-add/">
      {{ 'master-profile.info.add-new-education' | translate }}
    </app-add-button>
  </app-collapse-item>

  <app-collapse-item title="{{ 'master-profile.info.certificates' | translate }}">
    <ion-item *ngFor="let certificate of context.professional.certificates">
      <app-certificate [certificate]="certificate" [editable]="context.canEdit"></app-certificate>
    </ion-item>
    <ng-container *ngIf="!context.professional.certificates.length" [ngTemplateOutlet]="noData"></ng-container>
    <app-add-button *ngIf="context.canEdit" routerLink="certificate-add/">
      {{ 'master-profile.info.add-new-certificate' | translate }}
    </app-add-button>
  </app-collapse-item>

  <app-collapse-item title="{{ 'master-profile.info.reviews' | translate }}">
    <app-review-cards [reviews]="reviews$ | async"></app-review-cards>
    <ion-item class="ion-text-center" lines="none">
      <a [routerLink]="['/reviews', context.professional.id]" class="ion-text-center">
        {{ 'reviews.all-reviews' | translate }}
      </a>
    </ion-item>
  </app-collapse-item>
</ng-container>

<ng-template #noData>
  <ion-item class="ion-text-center" lines="none">
    <ion-label color="medium">{{ 'master-profile.info.no-data' | translate }}</ion-label>
  </ion-item>
</ng-template>
