.top-padded {
  padding-top: 3.5rem;
}

.split-side-width {
  --side-min-width: 20rem;
}

.searchbar-container {
  display: flex;
  align-items: stretch;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  ion-searchbar {
    padding: 0;
  }

  ion-button {
    margin: 0;
    height: auto;
  }
}

.buttons-container {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.filters-panel__title {
  font-weight: bold;
}

.flex-column {
  flex-direction: column;
}
