<ion-row class="ion-justify-content-center" *ngIf="item">
  <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
    <ion-card>
      <ion-card-header>
        {{'experience-tab.experience.experience'|translate}}
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label color="medium" position="floating">{{'experience-tab.experience.title'|translate}}</ion-label>
          <ion-input [(ngModel)]="item.title" type="text" name="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium"
                     position="floating">{{'experience-tab.experience.company'|translate}}</ion-label>
          <ion-input [(ngModel)]="item.company" type="text" name="company"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label
                  color="medium">{{'experience-tab.experience.is_still_here'|translate}}</ion-label>
          <ion-toggle [(ngModel)]="item.is_still_here"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label color="medium"
                     position="floating">{{'experience-tab.experience.startDate'|translate}}</ion-label>
          <ion-datetime
                  display-format="YYYY-MM-DD"
                  [(ngModel)]="item.start_date"
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="medium"
                     position="floating">{{'experience-tab.experience.endDate'|translate}}</ion-label>
          <ion-datetime
                  display-format="YYYY-MM-DD"
                  [(ngModel)]="item.end_date"
          ></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label
                  color="medium" position="floating">{{'experience-tab.experience.description'|translate}}</ion-label>
          <ion-input [(ngModel)]="item.description" type="text" name="title"></ion-input>
        </ion-item>

        <ion-input [(ngModel)]="item.id" type="hidden"></ion-input>

        <ion-button
                *ngIf="interactive"
                expand="block"
                fill="solid"
                color="danger"
                (click)="delete()"
        >{{ 'experience-tab.experience.remove_experience' | translate }}</ion-button>

        <ion-button
                *ngIf="interactive"
                expand="block"
                (click)="save()"
        >{{ 'experience-tab.experience.save_experience' | translate }}</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
