<ng-container [ngSwitch]="service?.service_type">
  <ion-item lines="none" *ngSwitchCase="'online'">
    <ion-icon slot="start" name="globe-outline" color="primary"></ion-icon>
    <ion-text>{{ 'service-location.online' | translate }}</ion-text>
  </ion-item>
  <ion-item lines="none" *ngSwitchCase="'professional'">
    <ion-icon slot="start" name="location-outline" color="primary"></ion-icon>
    <ion-text>{{ 'service-location.professional' | translate }}</ion-text>
  </ion-item>
  <ion-item *ngFor="let serviceLocation of service?.locations" lines="none">
    <ion-icon slot="start"></ion-icon>
    <ion-text>
      <app-location-viewer [location]="serviceLocation.location"></app-location-viewer>
    </ion-text>
  </ion-item>
  <ion-item lines="none" *ngSwitchCase="'client'">
    <ion-icon slot="start" name="location-outline" color="primary"></ion-icon>
    <ion-text>{{ 'service-location.client' | translate }}</ion-text>
  </ion-item>
  <app-loading-indicator *ngSwitchDefault></app-loading-indicator>
</ng-container>
