<form [formGroup]="form">
  <ion-item lines="none">
    <ion-text>
      <b>{{ 'service-publish.step-three.title' | translate }}</b>
    </ion-text>
  </ion-item>
  <app-info-row>
    {{ 'service-publish.step-three.first-info-row' | translate }}
  </app-info-row>
  <section>
    <app-section-heading>{{ 'service-details.description' | translate }}</app-section-heading>
    <ion-item>
      <ion-textarea [autoGrow]="true" [formControlName]="formFields.description"></ion-textarea>
    </ion-item>
    <app-form-control-error [controlName]="formFields.description"></app-form-control-error>
  </section>

  <section>
    <app-section-heading>{{ 'service-details.photos' | translate }}</app-section-heading>
    <app-image-carousel
      class="ion-margin-vertical"
      [files]="this.files"
      [editable]="true"
      (add)="onSelect($event)"
      (remove)="onRemove($event)"
    ></app-image-carousel>
  </section>
</form>
