<ion-content>
    <form *ngIf="formService.form"
          [formGroup]="formService.form" (ngSubmit)="submitSettings()">
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-item>
                    <ion-label color="medium"
                               position="floating">interface language
                    </ion-label>
                    <ion-select
                            interface="popover"
                            formControlName="{{formFields.Language}}"
                    >
                        <ion-select-option *ngFor="let lang of formService.languages" value="{{ lang.value }}">
                            {{ lang.display_name }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-item>
                    <ion-label color="medium"
                               position="floating">currency
                    </ion-label>
                    <ion-select
                            interface="popover"
                            formControlName="{{formFields.Currency}}"
                    >
                        <ion-select-option *ngFor="let currency of formService.currency" value="{{ currency.value }}">
                            {{ currency.display_name }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-button type="submit" expand="block" [disabled]="formService.isSubmitDisabled()">save</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>

