<form *ngIf="formService.form"
      [formGroup]="formService.form" (ngSubmit)="submitSettings()">
    <ion-row class="ion-justify-content-center">
        <ion-col
                [sizeXs]="gridSizes.sizeXs"
                [sizeSm]="gridSizes.sizeSm"
                [sizeMd]="gridSizes.sizeMd"
                [sizeLg]="gridSizes.sizeLg"
                [sizeXl]="gridSizes.sizeXl"
        >
            <ion-item>
                <ion-label color="medium" position="floating">
                    interface language
                </ion-label>
                <ion-select
                        interface="popover"
                        formControlName="{{formFields.Language}}"
                >
                    <ion-select-option *ngFor="let lang of formService.languages" value="{{ lang.value }}">
                        {{ lang.display_name }}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col
                [sizeXs]="gridSizes.sizeXs"
                [sizeSm]="gridSizes.sizeSm"
                [sizeMd]="gridSizes.sizeMd"
                [sizeLg]="gridSizes.sizeLg"
                [sizeXl]="gridSizes.sizeXl"
        >
            <ion-item>
                <ion-label color="medium" position="floating">
                    currency
                </ion-label>
                <ion-select
                        interface="popover"
                        formControlName="{{formFields.Currency}}"
                >
                    <ion-select-option *ngFor="let currency of formService.currency" value="{{ currency.value }}">
                        {{ currency.display_name }}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-col
                [sizeXs]="gridSizes.sizeXs"
                [sizeSm]="gridSizes.sizeSm"
                [sizeMd]="gridSizes.sizeMd"
                [sizeLg]="gridSizes.sizeLg"
                [sizeXl]="gridSizes.sizeXl"
        >
            <ion-item>
                <ion-label color="medium" position="floating">
                    units
                </ion-label>
                <ion-select
                        interface="popover"
                        formControlName="{{formFields.Units}}"
                >
                    <ion-select-option *ngFor="let unit of formService.units; let i=index" value="{{ i | number }}">
                        {{ unit }}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="submittable">
        <ion-col [sizeXs]="gridSizes.sizeXs"
                 [sizeSm]="gridSizes.sizeSm"
                 [sizeMd]="gridSizes.sizeMd"
                 [sizeLg]="gridSizes.sizeLg"
                 [sizeXl]="gridSizes.sizeXl"
        >
            <ion-button type="submit" expand="block" [disabled]="formService.isSubmitDisabled()">save</ion-button>
        </ion-col>
    </ion-row>
</form>

