<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <ion-item lines="none">
      <ion-text>
        <b>{{ 'service-publish.step-three.title' | translate }}</b>
      </ion-text>
    </ion-item>
    <app-info-row>
      {{ 'service-publish.step-three.first-info-row' | translate }}
    </app-info-row>
    <ion-item lines="none" class="ion-margin-top">
      <b>
        {{ 'service-publish.step-three.photos' | translate }}
      </b>
    </ion-item>
    <app-image-carousel
      [files]="files"
      [editable]="true"
      (add)="onSelect($event)"
      (remove)="onRemove($event)"
    ></app-image-carousel>
    <ion-col class="ion-no-padding">
      <ion-row class="ion-justify-content-center ion-padding-horizontal ion-padding-bottom">
        <ion-col size="6">
          <ion-button
            size="medium"
            color="light"
            class="ion-margin-top"
            (click)="serviceStepsNavigationService.previous()"
            fill="solid"
            expand="block"
          >
            {{ 'service-publish.back-button' | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button size="medium" type="submit" (click)="submit()" class="ion-margin-top" fill="solid" expand="block">
            {{ 'service-publish.forward-button' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
