<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <ion-item lines="none">
      <ion-text>
        <b>{{ 'service-publish.step-three.title' | translate }}</b>
      </ion-text>
    </ion-item>
    <app-info-row>
      {{ 'service-publish.step-three.first-info-row' | translate }}
    </app-info-row>
    <ion-item lines="none" class="ion-margin-top">
      <b>
        {{ 'service-publish.step-three.photos' | translate }}
      </b>
    </ion-item>
    <ion-item class="ion-margin-bottom" lines="none">
      <ngx-dropzone class="width100" [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>
          <ion-row>
            {{ 'global.dropzone-label' | translate }}
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-item lines="none">
              <ion-icon name="download-outline"></ion-icon>
            </ion-item>
          </ion-row>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </ion-item>
    <ion-col class="ion-no-padding">
      <ion-row class="ion-justify-content-center ion-padding-horizontal ion-padding-bottom">
        <ion-col size="6">
          <ion-button
            size="medium"
            color="light"
            class="ion-margin-top"
            (click)="serviceStepsNavigationService.previous()"
            fill="solid"
            expand="block"
          >
            {{ 'service-publish.back-button' | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button size="medium" type="submit" (click)="submit()" class="ion-margin-top" fill="solid" expand="block">
            {{ 'service-publish.forward-button' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
