.price-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.duration-text {
  font-size: 12px;
  line-height: 16px;
}
@media (max-width: 520px) {
  .item {
    --padding-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-start: 0;
  }
  .publish-text {
    font-size: 14px;
  }
}
