<ion-button class="close-button" fill="clear" (click)="close()">
  <ion-icon name="close-circle-outline"></ion-icon>
</ion-button>
<ion-button class="nav-button prev-button" size="small" (click)="slidePrev()" *ngIf="photoIndex > 0">
  <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
</ion-button>

<ion-img [src]="photos[photoIndex]" class="image"></ion-img>

<ion-button class="nav-button next-button" size="small" (click)="slideNext()" *ngIf="photoIndex < photos?.length - 1">
  <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
</ion-button>
