<ion-row class="row">
    <ion-item (click)="selectTab(submenu.Services)" [class.active]="activeTab === submenu.Services"
              class="ion-item-no-border master-submenu-font cursor-pointer">
        {{"master-profile.submenu.services"|translate}}
    </ion-item>
    <ion-item (click)="selectTab(submenu.Info)" [class.active]="activeTab === submenu.Info"
              class="ion-item-no-border master-submenu-font cursor-pointer">
        {{"master-profile.submenu.info"|translate}}
    </ion-item>
    <ion-item (click)="selectTab(submenu.Calendar)" [class.active]="activeTab === submenu.Calendar"
              class="ion-item-no-border master-submenu-font cursor-pointer">
        {{"master-profile.submenu.calendar"|translate}}
    </ion-item>
    <ion-item (click)="selectTab(submenu.Portfolio)" [class.active]="activeTab === submenu.Portfolio"
              class="ion-item-no-border master-submenu-font cursor-pointer">
        {{"master-profile.submenu.portfolio"|translate}}
    </ion-item>
</ion-row>
