<ng-container [ngSwitch]="status">
    <ion-button *ngSwitchCase="'new'" [disabled]="true"
                class="opacity-full" color="warning">{{ 'order-status.pending' | translate }}</ion-button>
    <ion-button *ngSwitchCase="'confirmed'" [disabled]="true"
                class="opacity-full" color="success">{{ 'order-status.accepted' | translate }}</ion-button>
    <ion-button *ngSwitchCase="'archived'" [disabled]="true"
                class="opacity-full" color="dark">{{ 'order-status.archived' | translate }}</ion-button>
    <ion-button *ngSwitchCase="'completed'" [disabled]="true"
                class="opacity-full" color="medium">{{'order-status.completed'|translate}}</ion-button>
</ng-container>
