<ng-container [ngSwitch]="status">
  <ion-badge *ngSwitchCase="'not_confirmed'" color="light">{{ 'order-status.pending' | translate }}</ion-badge>
  <ion-badge *ngSwitchCase="'confirmed'" color="success">{{ 'order-status.accepted' | translate }}</ion-badge>
  <ion-badge *ngSwitchCase="'paid'" color="success">{{ 'order-status.paid' | translate }}</ion-badge>
  <ion-badge *ngSwitchCase="'completed'" color="dark">{{ 'order-status.completed' | translate }}</ion-badge>
  <ion-badge *ngSwitchCase="'canceled'" color="danger">{{ 'order-status.canceled' | translate }}</ion-badge>
</ng-container>
