<ion-col *ngIf="data" class="ion-no-margin ion-no-padding">
  <ion-row class="width100" *ngIf="false">
    <app-user-location-map [formControl]="coordinates" class="main-page-map-container-width location-map">
    </app-user-location-map>
  </ion-row>
  <ion-row *ngIf="renderCountry" class="width100">
    <app-country-selector [formControl]="country" class="width100"></app-country-selector>
  </ion-row>
  <ion-row *ngIf="renderCountry" class="width100">
    <app-city-selector [formControl]="city" [country]="country.value" class="width100"></app-city-selector>
  </ion-row>
</ion-col>
