<ion-content>
    <ion-row *ngIf="item" class="ion-justify-content-center">
        <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3" class="ion-no-padding ion-margin-top">
            <ion-item class="ion-item-no-border ion-item-bordered-first">
                <ion-col class="ion-no-padding">
                    <ion-row class="ion-justify-content-start ion-align-items-center">
                        <ion-item routerLink="/profile"
                                  routerDirection="back"
                                  routerLinkActive="active" class="ion-item-no-border ion-align-items-center">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </ion-item>
                        <ion-item class="ion-item-no-border">Адрес</ion-item>
                    </ion-row>
                </ion-col>
            </ion-item>
            <ion-item class="ion-item-no-border ion-item-bordered-others item-background-color-white">
                <ion-col class="ion-padding-vertical" size="12">
                    <ion-item>
                        <ion-label class="label-for-required-input" color="medium" position="floating">
                            {{ 'location.country' | translate }}
                        </ion-label>
                        <ionic-selectable
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [(ngModel)]="item.country"
                                (onSearch)="countrySelectable.onCountrySearch($event)"
                                (onChange)="onCountryChange()"
                        >
                        </ionic-selectable>
                    </ion-item>
                    <ion-item>
                        <ion-label color="medium" position="floating">
                            {{ 'location.region' | translate }}
                        </ion-label>
                        <ionic-selectable
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [(ngModel)]="item.region"
                                (onSearch)="regionSelectable.onRegionSearch($event, this.getRegionValue())"
                                (onChange)="onRegionChange()"
                                [isEnabled]="isRegionEnabled$|async"
                        >
                        </ionic-selectable>
                    </ion-item>
                    <ion-item>
                        <ion-label color="medium" position="floating">
                            {{ 'location.subregion' | translate }}
                        </ion-label>
                        <ionic-selectable
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [(ngModel)]="item.subregion"
                                (onSearch)="selectableSubregion.onSubregionSearch(
                                                $event,
                                                getCountryValue(),
                                                getRegionValue())"
                                [isEnabled]="isSubregionEnabled$|async"
                        >
                        </ionic-selectable>
                    </ion-item>
                    <ion-item>
                        <ion-label class="label-for-required-input" color="medium" position="floating">
                            {{ 'location.city' | translate }}
                        </ion-label>
                        <ionic-selectable
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [(ngModel)]="item.city"
                                (onSearch)="citySelectable.onCitySearch($event, this.getCountryValue())"
                                (onChange)="onCityChange()"
                                [isEnabled]="isCityEnabled$|async"
                        >
                        </ionic-selectable>
                    </ion-item>
                    <ion-item>
                        <ion-label color="medium" position="floating">
                            {{ 'location.district' | translate }}
                        </ion-label>
                        <ionic-selectable
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [(ngModel)]="item.district"
                                (onSearch)="districtSelectable.onDistrictSearch($event, getCityValue())"
                                [isEnabled]="isDistrictEnabled$|async"
                        >
                        </ionic-selectable>
                    </ion-item>
                    <app-user-location-map
                            [clientCoordinates]="item?.coordinates?.coordinates"
                            [(ngModel)]="item.coordinates"
                    >
                    </app-user-location-map>
                    <ion-item>
                        <ion-label color="medium"
                                   position="floating">{{ 'location.postal' | translate }}</ion-label>
                        <ion-input type="text"
                                   [(ngModel)]="item.postal_code" name="phone">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="medium"
                                   position="floating">{{ 'location.address' | translate }}
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="item.address" name="first_name">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="medium" position="floating">
                            {{ 'location.timezone' | translate }}
                        </ion-label>
                        <ionic-selectable
                                [items]="timezoneList$ | async"
                                itemValueField="value"
                                itemTextField="display_name"
                                [canSearch]="true"
                                [(ngModel)]="item.timezone"
                        >
                        </ionic-selectable>
                    </ion-item>
                    <ion-button
                            expand="block"
                            fill="solid"
                            color="danger"
                            (click)="delete()"
                            *ngIf="!item.is_default && locationId"
                    >
                        {{ 'location.remove_location' | translate }}
                    </ion-button>
                    <ion-button expand="block" (click)="save()">{{ 'location.save' | translate }}
                    </ion-button>
                </ion-col>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>
