<ng-container *ngFor="let filter of filters" [ngSwitch]="filter.name">
  <app-chip *ngSwitchCase="fields.query" (delete)="delete(filter.name)">
    {{ '"' + filter.value + '"' }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.country" (delete)="delete(filter.name)">
    {{ (filter.value | countryById$ | async)?.name }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.city" class="bold" (delete)="delete(filter.name)">
    <b>{{ (filter.value | cityById$ | async)?.name }}</b>
  </app-chip>
  <app-category-chips
    *ngSwitchCase="fields.categories"
    [categoryIds]="filter.value"
    (delete)="delete([filter.name, fields.subcategories])"
  ></app-category-chips>
  <app-category-chips
    *ngSwitchCase="fields.subcategories"
    [subcategoryIds]="filter.value"
    (delete)="delete(filter.name)"
  ></app-category-chips>
  <app-chip *ngSwitchCase="fields.onlyWithAutoOrderConfirmation" (delete)="delete(filter.name)">
    {{ 'issuance.filters.main-tab.instant-booking' | translate }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.startDatetime" (delete)="delete(filter.name)">
    {{ 'issuance.filters.main-tab.date-from' | translate }}
    {{ filter.value?.replace('T', ' ') | date: 'short' }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.endDatetime" (delete)="delete(filter.name)">
    {{ 'issuance.filters.main-tab.date-to' | translate }}
    {{ filter.value?.replace('T', ' ') | date: 'short' }}
  </app-chip>
  <app-service-type-chips
    *ngSwitchCase="fields.serviceTypes"
    [serviceTypes]="filter.value"
    (delete)="delete(filter.name, filter.value, $event)"
  ></app-service-type-chips>
  <app-chip *ngSwitchCase="fields.startPrice" (delete)="delete(filter.name)">
    {{ 'issuance.filters.main-tab.price-start' | translate }} {{ filter.value }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.endPrice" (delete)="delete(filter.name)">
    {{ 'issuance.filters.main-tab.price-end' | translate }} {{ filter.value }}
  </app-chip>
  <app-chip
    *ngSwitchCase="fields.priceCurrency"
    (delete)="delete([fields.startPrice, fields.endPrice, fields.priceCurrency])"
  >
    {{ 'flag-menu.currency' | translate }} {{ filter.value }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.exactDatetime" (delete)="delete(filter.name)">
    {{ 'issuance.filters.main-tab.exact-interval' | translate }}
  </app-chip>

  <!-- additional -->
  <app-chip *ngSwitchCase="fields.ratingFrom" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.rating' | translate }} {{ filter.value }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.onlyWithReviews" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.only-with-reviews' | translate }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.onlyWithPhotos" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.only-with-photos' | translate }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.onlyWithFixedPrice" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.only-with-fixed-price' | translate }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.onlyWithCertificates" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.only-with-certificates' | translate }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.startAge" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.start-age' | translate }} {{ filter.value }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.endAge" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.end-age' | translate }} {{ filter.value }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.nationalities" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.nationalities' | translate }}
  </app-chip>
  <app-language-chips
    *ngSwitchCase="fields.languages"
    [languages]="filter.value"
    (delete)="delete(filter.name, filter.value, $event)"
  >
    {{ 'issuance.filters.additional.languages' | translate }}
  </app-language-chips>
  <app-chip *ngSwitchCase="fields.professionalLevel" (delete)="delete(filter.name)">
    {{ 'global.professional-level.' + filter.value | translate }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.experience" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.experience' | translate }} {{ filter.value }}
  </app-chip>
  <app-chip *ngSwitchCase="fields.paymentMethods" (delete)="delete(filter.name)">
    {{ 'issuance.filters.additional.payment-methods' | translate }}
  </app-chip>
</ng-container>
