<app-header></app-header>
<ion-toolbar class="ion-item-border-top ion-item-bottom-border">
  <ion-row>
    <ion-col
      offset-xl="2"
      offset-lg="1"
      offset-md="0"
      offset-sm="0"
      offset-xs="0"
      size-xl="2"
      size-lg="2"
      size-md="2"
      size-sm="3"
      size-xs="2"
    >
      <ion-item lines="none" detail="false" button (click)="location.back()">
        <ion-icon class="ph5" name="arrow-back-outline"></ion-icon>
        <ion-label> {{"global.back"|translate}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-col
      offset-xl="2"
      offset-lg="3"
      offset-md="3"
      offset-sm="0"
      offset-xs="0"
      size-xl="6"
      size-lg="6"
      size-md="6"
      size-sm="9"
      size-xs="10"
    >
      <app-master-profile-submenu
        (selectedTab)="selectTab($event)"
        defaultTab="{{defaultTab}}"
      ></app-master-profile-submenu>
    </ion-col>
  </ion-row>
</ion-toolbar>
<ion-content class="">
  <ion-row class="ion-margin-bottom">
    <ion-col class="ion-no-padding" size="12">
      <ion-row class="ion-margin-top ion-justify-content-center">
        <ion-col size-xs="12" size-sm="6" size-md="5" size-lg="4" size-xl="3">
          <app-master-profile-main-info-section [context]="context$ | async"></app-master-profile-main-info-section>
        </ion-col>
        <ion-col size-xs="12" size-sm="10" size-md="6" size-lg="5" size-xl="4">
          <ng-container [ngSwitch]="tab$ | async">
            <app-master-profile-services *ngSwitchCase="menu.Services"></app-master-profile-services>
            <app-master-profile-info *ngSwitchCase="menu.Info"></app-master-profile-info>
            <app-master-profile-calendar *ngSwitchCase="menu.Calendar"></app-master-profile-calendar>
            <app-master-profile-portfolio *ngSwitchCase="menu.Portfolio"></app-master-profile-portfolio>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
