.master-submenu-font {
  font-size: 16px;
  line-height: 20px;
  color: #222428;
}

.master-profile-split-pane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}
