<app-header></app-header>
<ion-split-pane contentId="search-results" class="top-padded split-side-width">
  <!--  Filters pane -->
  <ion-content>
    <ion-item lines="full" color="light">
      <ion-icon name="funnel-outline" slot="start"></ion-icon>
      <ion-label class="filters-panel__title">
        {{ 'search.filters.title' | translate }}
      </ion-label>
    </ion-item>
    <app-basic-filters></app-basic-filters>
    <ion-item lines="none">
      <ion-button (click)="updateSearchResults()" color="primary" size="medium" slot="end">
        {{ 'search.filters.apply' | translate }}
      </ion-button>
    </ion-item>
  </ion-content>
  <!--  Search results -->
  <ion-content id="search-results">
    <app-content-wrapper color="light">
      <form [formGroup]="state.form" (ngSubmit)="updateSearchResults()" class="searchbar-container">
        <ion-searchbar [placeholder]="'issuance.search-placeholder' | translate" [formControl]="state.controls.query">
        </ion-searchbar>
        <ion-button type="submit">
          {{ 'search.search-button' | translate }}
        </ion-button>
      </form>
      <app-applied-filters
        [params]="params"
        (deleteFilter)="deleteFilter($event)"
        (updateFilter)="editFilter($event)"
      ></app-applied-filters>
      <ion-buttons class="buttons-container">
        <ion-button color="primary" fill="outline" routerLink="/search/filters">
          {{ 'search.add-filters-button' | translate }}
        </ion-button>
        <ion-button color="danger" fill="outline" routerLink="/search">
          {{ 'search.reset-filters-button' | translate }}
        </ion-button>
      </ion-buttons>
      <app-infinite-scroll-container
        [doLoad$]="doLoad$"
        (loadResults)="onLoadResults($event)"
        [emptyText]="'issuance.search-empty' | translate"
      >
        <ng-template appInfiniteScrollItem let-item>
          <app-search-result [data]="item" class="ion-margin-bottom"></app-search-result>
        </ng-template>
      </app-infinite-scroll-container>
    </app-content-wrapper>
    <app-footer></app-footer>
  </ion-content>
</ion-split-pane>
