<app-header></app-header>
<ion-content>
    <ion-grid class="no-horizontal-padding">
        <ion-row class="ion-justify-content-center ion-no-padding">
            <ion-col class="ion-no-padding" appMainColumn>
                <form *ngIf="profileService.avatarForm" [formGroup]="profileService.avatarForm">
                    <ion-row class="ion-justify-content-center">
                        <ion-col [sizeXs]="10" [sizeSm]="8" [sizeMd]="6" [sizeLg]="4" [sizeXl]="4">
                            <ion-img class="border-img" [src]="getAvatar()"></ion-img>
                            <app-picture-selector
                                    [camera]="true"
                                    [fileSystem]="true"
                                    [formControlName]="formFields.Avatar"
                            >
                            </app-picture-selector>
                        </ion-col>
                    </ion-row>
                </form>
                <ion-item class="ion-item-no-border ion-item-bordered-first" color="light" [detail]="false">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border"
                                      color="light">{{'profile-form.main'|translate}}</ion-item>
                            <ion-item routerLink="edit/" [detail]="false"
                                      routerDirection="forward"
                                      routerLinkActive="active"
                                      id="edit-main"
                                      color="light"
                                      class="ion-item-no-border ion-align-items-center">
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-others">
                    <ion-col class="ion-no-padding">
                        <ion-row *ngIf="user?.first_name || user?.last_name">
                            <ion-item id="username" class="ion-item-no-border ion-align-items-center">
                                {{user?.first_name}} {{user?.last_name}}
                            </ion-item>
                        </ion-row>
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                <ion-icon class="pr5" name="mail-outline"></ion-icon>
                                Email
                            </ion-item>
                            <ion-item id="email" class="ion-item-no-border">
                                {{user?.email}}
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-first" color="light">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border"
                                      color="light">{{'profile-form.contacts'|translate}}</ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-others">
                    <ion-col class="ion-no-padding ion-margin-start">
                        <app-abstract-contacts [clientContacts]="contacts"
                                               [interactable]="true"></app-abstract-contacts>
                    </ion-col>
                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-first" color="light">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border"
                                      color="light">{{'profile-page.your-address'|translate}}</ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-others">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                {{'profile-page.main-address'|translate}}
                            </ion-item>
                            <ion-item class="no-padding-right ion-item-no-border ion-align-items-center"
                                      routerLink="location-edit/{{(defaultLocation$ | async)?.id}}"
                                      routerDirection="forward" [detail]="false"
                                      routerLinkActive="active"
                            >
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-item>
                        </ion-row>
                        <ion-row class="ion-justify-content-start ion-align-items-center">
                            <ion-item id="default-location"
                                      class="ion-item-no-border ion-align-items-center ion-item-no-min-height ion-margin-bottom">
                                <ng-container *ngIf="(defaultLocation$|async)?.city">
                                    {{(defaultLocation$|async)?.country.name}}, {{(defaultLocation$|async)?.city?.name}}
                                </ng-container>
                                <ng-container *ngIf="!(defaultLocation$|async)?.city">{{(defaultLocation$|async)?.country.name}}</ng-container>
                            </ion-item>
                        </ion-row>
                        <ion-item *ngFor="let location of (additionalLocationsList$|async)"
                                  class="ion-item-no-border ion-no-padding ion-no-margin">
                            <ion-col class="ion-no-padding">
                                <ion-row class="ion-justify-content-between ion-align-items-center">
                                    <ion-item class="ion-item-no-border ion-align-items-center">
                                        {{'profile-page.additional-address'|translate}}
                                    </ion-item>
                                    <ion-item class="ion-item-no-side-padding ion-item-no-border ion-align-items-center"
                                              routerLink="location-edit/{{location.id}}"
                                              routerDirection="forward" [detail]="false"
                                              routerLinkActive="active">
                                        <ion-icon name="create-outline"></ion-icon>
                                    </ion-item>
                                </ion-row>
                                <ion-row class="ion-justify-content-start ion-align-items-center">
                                    <ion-item
                                            class="ion-item-no-border ion-align-items-center ion-item-no-min-height ion-margin-bottom">
                                        {{location.country.name}}, {{location.city.name}}
                                    </ion-item>
                                </ion-row>
                            </ion-col>
                        </ion-item>
                        <ion-row>
                            <ion-item routerLink="location-add/" [detail]="false"
                                      routerDirection="forward"
                                      routerLinkActive="active"
                                      class="cursor-pointer ion-item-no-border ion-no-padding ion-margin-start">
                                <ion-icon color="secondary" name="add-circle"></ion-icon>
                                <ion-label class="ion-padding-start">
                                    {{'profile-page.add-new-address'|translate}}
                                </ion-label>
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-first" color="light">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border"
                                      color="light">{{'profile-page.about'|translate}}</ion-item>
                            <ion-item routerLink="about/" [detail]="false"
                                      color="light"
                                      routerDirection="forward"
                                      routerLinkActive="active" class="ion-item-no-border ion-align-items-center">
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
                <ion-item class="ion-item-no-border ion-item-bordered-others">
                    <ion-col class="ion-no-padding">
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                {{'profile-page.age'|translate}}
                            </ion-item>
                            <ion-item class="ion-item-no-border">
                                {{user?.birthday || ('profile-page.not-specified'|translate)}}
                            </ion-item>
                        </ion-row>
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                {{'profile-page.nationality'|translate}}
                            </ion-item>
                            <ion-item class="ion-item-no-border">
                                {{nationality?.name || ('profile-page.not-specified'|translate)}}
                            </ion-item>
                        </ion-row>
                        <ion-row class="ion-justify-content-between ion-align-items-center">
                            <ion-item class="ion-item-no-border ion-align-items-center">
                                {{'profile-page.languages'|translate}}
                            </ion-item>
                            <ion-item class="ion-item-no-border">
                                <ng-container *ngFor="let lang of languages">
                                    {{lang.name}},
                                </ng-container>
                            </ion-item>
                        </ion-row>
                    </ion-col>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-footer></app-footer>
</ion-content>
