.app-thumb-mr100 {
  margin-right: 100px;
}
.thumbnail-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  .profile-thumbnail {
    --size: 120px;
    --border-radius: 9px;
  }
}
