<ion-content>
    <form
            *ngIf="formService.form"
            [formGroup]="formService.form" (ngSubmit)="submitForm()">

        <ion-grid>

            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-item>
                        <ion-label class="label-for-required-input" color="medium" position="floating">
                            {{ 'location.country' | translate }}
                        </ion-label>
                        <ionic-selectable
                                [items]="countryList$ | async"
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [formControlName]="formFields.Country"
                                (onSearch)="onCountrySearch($event)"
                                (onChange)="onCountryChange()"
                        >
                        </ionic-selectable>
                    </ion-item>
                </ion-col>
            </ion-row>



            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-item>
                        <ion-label color="medium" position="floating">
                            {{ 'location.region' | translate }}
                        </ion-label>
                        <ionic-selectable
                                [items]="regionList$ | async"
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [formControlName]="formFields.Region"
                                (onSearch)="onRegionSearch($event)"
                                (onChange)="onRegionChange()"
                        >
                        </ionic-selectable>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-item>
                        <ion-label color="medium" position="floating">
                            {{ 'location.subregion' | translate }}
                        </ion-label>
                        <ionic-selectable
                                [items]="subregionList$ | async"
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [formControlName]="formFields.Subregion"
                                (onSearch)="onSubregionSearch($event)"
                        >
                        </ionic-selectable>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-item>
                        <ion-label class="label-for-required-input" color="medium" position="floating">
                            {{ 'location.city' | translate }}
                        </ion-label>
                        <ionic-selectable
                                [items]="citiesList$ | async"
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [formControlName]="formFields.City"
                                (onSearch)="onCitySearch($event)"
                                (onChange)="onCityChange()"
                        >
                        </ionic-selectable>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-item>
                        <ion-label color="medium" position="floating">
                            {{ 'location.district' | translate }}
                        </ion-label>
                        <ionic-selectable
                                [items]="districtList$ | async"
                                itemValueField="id"
                                itemTextField="name"
                                [canSearch]="true"
                                [formControlName]="formFields.District"
                                (onSearch)="onDistrictSearch($event)"
                        >
                        </ionic-selectable>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-item>
                        <ion-label color="medium" position="floating">{{ 'location.postal' | translate }}</ion-label>
                        <ion-input type="text" name="phone" [formControlName]="formFields.PostalCode"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-item>
                        <ion-label color="medium"
                                   position="floating">{{ 'location.address' | translate }}
                        </ion-label>
                        <ion-input type="text" name="first_name"
                                   formControlName="{{formFields.Address}}"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-item>
                        <ion-label color="medium" position="floating">
                            {{ 'location.timezone' | translate }}
                        </ion-label>
                        <ionic-selectable
                                [items]="timezoneList$ | async"
                                itemValueField="value"
                                itemTextField="display_name"
                                [canSearch]="true"
                                [formControlName]="formFields.Timezone"
                        >
                        </ionic-selectable>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                    <ion-button type="submit" expand="block"
                                [disabled]="">{{ 'location.save' | translate }}
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>
</ion-content>
