<app-location-item
        *ngFor="let location of items; let i=index"
        [index]="i"
        [item]="location"
        [timezoneList$]="timezoneList$"
        (saveEmitter)="saveItem($event)"
        (deleteEmitter)="deleteItem($event)"
        [interactive]="interactive"
        [gridSizes]="gridSizes"
>
</app-location-item>

<ion-row *ngIf="interactive" class="ion-justify-content-center">
    <ion-col
            [sizeXs]="gridSizes.sizeXs"
            [sizeSm]="gridSizes.sizeSm"
            [sizeMd]="gridSizes.sizeMd"
            [sizeLg]="gridSizes.sizeLg"
            [sizeXl]="gridSizes.sizeXl"
    >
        <ion-item (click)="addNewItem()" class="cursor-pointer ion-item-no-border ion-no-padding pl5">
            <ion-icon color="secondary" name="add-circle"></ion-icon>
            <ion-label class="ion-padding-start">{{'list-item.add-new' | translate}}</ion-label>
        </ion-item>
    </ion-col>
</ion-row>


