<ion-toolbar>
    <ion-item>
        <ion-toggle (ionChange)="changeMode($event)" [checked]="darkTheme$ | async"></ion-toggle>
        <ion-select interface="alert" slot="start"
                    [ngModel]="trans.getCurrentLang()"
                    (ionChange)="trans.setLang($event.detail.value)"
        >
            <ion-select-option *ngFor="let lang of trans.getLanguagesAsArray()" value="{{ lang }}">
                {{ lang }}
            </ion-select-option>
        </ion-select>
    </ion-item>
</ion-toolbar>
