:host {
    .thumbnail {
        --size: 72px;
        --border-radius: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .spinner {
            position: absolute;
        }
    }

    &.loading .spinner {
        display: block;
    }

    .spinner {
        display: none;
    }
}
