.chat-container {
  padding-left: 20%;
  padding-right: 20%;
  @media (max-width: 1200px) {
    padding-right: 15%;
    padding-left: 15%;
  }
  @media (max-width: 992px) {
    padding-right: 5%;
    padding-left: 5%;
  }
  @media (max-width: 768px) {
    padding-right: 1%;
    padding-left: 1%;
  }
}

.default-message-container {
  text-overflow: ellipsis;
  overflow: hidden;
}

.messages-area {
  overflow-y: scroll;
  height: 80%;
}

.chat-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.wrap-text {
  overflow: hidden;
  -o-text-overflow: clip;
  text-overflow: clip;
}

.message {
  margin: 20px 26px 0 26px;
  display: inline-block;
  position: relative;
  max-width: 600px;
  white-space: pre-wrap;
  height: auto;
  min-height: 28px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  @media (max-width: 684px) {
    max-width: 500px;
  }
  @media (max-width: 582px) {
    max-width: 420px;
  }
  @media (max-width: 498px) {
    max-width: 350px;
  }
  @media (max-width: 412px) {
    max-width: 264px;
  }
}

.received-message {
  background-color: #c0d8ff;
  color: black;
}

.received-message:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -26px;
  right: auto;
  top: 0;
  bottom: auto;
  border: 26px solid;
  border-color: #c0d8ff transparent transparent transparent;
}

.sent-message {
  background-color: var(--ion-color-primary-shade);
  color: var(--ion-color-primary-contrast);
}

.sent-message:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -26px;
  top: 0;
  bottom: auto;
  border: 26px solid;
  border-color: var(--ion-color-primary-shade) transparent transparent transparent;
}

.message-text {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.timeline {
  font-size: 12px;
  line-height: 16px;
  min-height: 20px;
}

.timeline-received {
  margin-left: 28px;
  margin-top: 4px;
}

.timeline-sent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 28px;
}

.checkmark {
  height: 22px;
  width: 20px;
  margin-left: 4px;
  margin-bottom: 4px;
}

:host {
  display: flex;
  min-height: 100%;
  .content-grid {
    margin: 0;
    --ion-grid-padding: 0;
    --ion-grid-column-padding-xs: 0;
    --ion-grid-column-padding-sm: 1rem;
    --ion-grid-column-padding-md: 1rem;
    --ion-grid-column-padding-lg: 1rem;
    --ion-grid-column-padding-xl: 2rem;
    background-color: var(--ion-color-light);
    .content-row {
      height: 100%;
      .content-col {
        background: var(--ion-background-color);
        padding-top: 0;
        padding-bottom: 16px;
      }
    }
  }
}

.messages-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  .messages-header {
    flex: 0 1 auto;
  }
  .messages-content {
    flex: 1 1 auto;
  }
  .messages-footer {
    flex: 0 1 auto;
  }
}
