.chat-container {
  padding-left: 20%;
  padding-right: 20%;
}
.messages-area {
  overflow-y: scroll;
  height: 80%;
}
.chat-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.message-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.message {
  margin: 20px 26px 0 26px;
  display: inline-block;
  position: relative;
  max-width: 400px;
  height: auto;
  min-height: 28px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
}
.received-message {
  background-color: #c0d8ff;
  color: black;
}
.received-message:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -26px;
  right: auto;
  top: 0;
  bottom: auto;
  border: 26px solid;
  border-color: #c0d8ff transparent transparent transparent;
}
.sent-message {
  background-color: #3171E0;
  color: white;
}
.sent-message:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -26px;
  top: 0;
  bottom: auto;
  border: 26px solid;
  border-color: #3171E0 transparent transparent transparent;
}
.message-text {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.timeline {
  font-size: 12px;
  line-height: 16px;
  min-height: 20px;
}
.timeline-received {
  margin-left: 28px;
  margin-top: 4px;
}
.timeline-sent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 28px;
}
.checkmark {
  height: 22px;
  width: 20px;
  margin-left: 4px;
  margin-bottom: 4px;
}
