<app-header></app-header>
<app-column-header [previousLocationFallback]="'/message'">
  <ng-container *ngIf="interlocutorData$ | async as interlocutorData">
    <ion-avatar slot="start">
      <img src="{{ interlocutorData?.interlocutor_avatar_thumbnail }}" alt="avatar" />
    </ion-avatar>
    <ion-label>
      <h3>
        {{ interlocutorData?.interlocutor }}
      </h3>
    </ion-label>
  </ng-container>
</app-column-header>
<ion-content [scrollEvents]="true">
  <app-content-wrapper>
    <div class="messages-container">
      <ion-infinite-scroll threshold="800px" [disabled]="true" (ionInfinite)="loadData()" position="top">
        <ion-infinite-scroll-content loadingText="{{ 'messages.direct.loading-text' | translate }}">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div *ngFor="let message of directService.messages$ | async; let i = index">
        <div class="ion-text-center" *ngIf="message.id && needToRenderDateString(i) | async">
          {{ getDateString(message.created) }}
        </div>
        <ng-container *ngIf="message.sender !== directService.currentUserId && directService.currentUserId">
          <div class="message-container">
            <div class="received-message message">
              <div class="message-text">{{ message.body }}</div>
            </div>
            <div class="timestamp timestamp-received">
              {{ timeFromDatetime(message.created) }}
            </div>
          </div>
        </ng-container>
        <ng-container id="{{ message?.id }}"
                      *ngIf="message.sender === directService.currentUserId && directService.currentUserId">
          <div class="message-container" (contextmenu)="initMessageMenuContext($event, message)">
            <div class="sent-message message">
              <div class="message-text">{{ message.body }}</div>
            </div>
            <div class="timestamp timestamp-sent width100" *ngIf="message.id">
              {{ timeFromDatetime(message.created) }}
              <ion-icon
                class="checkmark"
                color="{{ getCheckmarkColor(message) }}"
                name="checkmark-done-outline"
              ></ion-icon>
            </div>
            <div class="timestamp timestamp-sent width100" *ngIf="!message.id">
              <ion-icon name="time-outline"></ion-icon>
            </div>
          </div>
        </ng-container>
      </div>
      <div #bottomPoint></div>
    </div>
  </app-content-wrapper>
</ion-content>
<ion-footer class="ion-no-border">
  <app-content-wrapper [preservePaddings]="true" style="overflow-y: scroll">
    <ion-item
      *ngIf="editingMode"
      (click)="showUpdatingMessage()">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      <ion-label>{{ 'messages.direct.edit-message' | translate }}</ion-label>
      <ion-icon name="close-outline" slot="end" (click)="cancelUpdate()"></ion-icon>
    </ion-item>
    <form (ngSubmit)="send()">
      <ion-item class="ion-item-bordered border-radius24">
        <ion-input *ngIf="!editingMode" [(ngModel)]="directService.message" name="message"></ion-input>
        <ion-input
          *ngIf="editingMode"
          [(ngModel)]="directService.updateMessage.body"
          name="message"
        ></ion-input>
        <ion-button
          type="submit"
          fill="clear"
          size="default"
          [disabled]="editingMode ? !directService.updateMessage.body?.length : !directService.message?.length"
        >
          <ion-icon name="send-sharp"></ion-icon>
        </ion-button>
      </ion-item>
    </form>
  </app-content-wrapper>
</ion-footer>
