<ion-content>
    <form (submit)="submitForm()" *ngIf="form" [formGroup]="form">
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeLg]="4" [sizeMd]="6" [sizeSm]="6" [sizeXl]="3" [sizeXs]="12">
                <app-tags-select-input formControlName="tags"></app-tags-select-input>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col [sizeLg]="4" [sizeMd]="6" [sizeSm]="6" [sizeXl]="3" [sizeXs]="12">
                <ion-button color="primary" expand="block" fill="solid" type="submit">submit</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
