<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div>
        <ion-item class="fs18" lines="none">
          <ion-text>
            <b>{{ 'service-publish.step-one.title' | translate }}</b>
          </ion-text>
        </ion-item>
        <app-info-row>
          {{ 'service-publish.step-one.description' | translate }}
          {{ 'service-publish.step-one.subdesc' | translate }}
        </app-info-row>
      </div>
      <div>
        <ion-col class="ion-padding-vertical" size="12">
          <ion-item lines="none" class="ion-item-no-side-padding">
            <div class="label-for-required-input">
              {{ 'service-publish.step-one.category-title' | translate }}
            </div>
          </ion-item>
          <app-category-selector [formControlName]="formFields.Category"></app-category-selector>
          <app-form-control-error [controlName]="formFields.Category"></app-form-control-error>
          <ion-item lines="none" class="ion-item-no-side-padding ion-padding-top">
            <div class="label-for-required-input">
              {{ 'service-publish.step-one.subcategory-title' | translate }}
            </div>
          </ion-item>
          <app-subcategory-selector
            [formControlName]="formFields.Subcategory"
            [category]="this.form.controls[formFields.Category].value"
          ></app-subcategory-selector>
          <app-form-control-error [controlName]="formFields.Subcategory"></app-form-control-error>
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-button size="medium" color="light" class="ion-margin-top" fill="solid" expand="block">
                {{ 'service-publish.back-button' | translate }}
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="medium" type="submit" class="ion-margin-top" fill="solid" expand="block">
                {{ 'service-publish.forward-button' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </div>
    </form>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
