/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  .label-for-required-input::after {
    content: "*";
    color: red;
    margin-left: .1em;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .hover-bg-dark-grey:hover {
    --ion-background-color: #cdd5df;
  }

  .not-clickable {
    pointer-events: none;
  }

  .fs18 {
    font-size: 18px;
  }

  .fs14 {
    font-size: 14px;
  }

  .fs16 {
    font-size: 16px;
  }

  .fs20 {
    font-size: 20px;
  }

  .fs13 {
    font-size: 13px;
  }

  .pt10 {
    padding-top: 10px;
  }

  .pl5 {
    padding-left: 5px;
  }

  .pr5 {
    padding-right: 5px;
  }

  .width100 {
    width: 100%;
  }

  .height100 {
    height: 100%;
  }

  .max-width100 {
    max-width: 100%;
  }

  .ion-item-no-border {
    --border-width: 0;
    --inner-border-width: 0;
  }

  .d8b-gradient-bgc {
    --ion-background-color: linear-gradient(0deg, #0CD1E8 11.37%, #3880FF 125.68%);
  }

  .d8b-container {
    @media (min-width: 577px) {
      padding-left: 10%;
      padding-right: 10%;
    }
    @media (max-width: 576px) {
      padding-right: 3%;
      padding-left: 3%;
    }
  }

  .no-horizontal-padding {
    padding-right: 0;
    padding-left: 0;
  }

  .text-blue {
    color: #3880FF;
  }

  .no-padding-right {
    padding-right: 0;
    --padding-end: 0;
  }

  .no-padding-left {
    padding-left: 0;
    --padding-start: 0;
  }

  .base-blue {
    color: #0CD1E8;
  }

  .ion-item-bordered-first {
    border: 1px solid rgba(0, 0, 0, 0.13);
  }

  .text-red {
    color: #F04141;
  }

  .text-grey {
    color: #86888F;
  }

  .ion-item-bordered-others {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgba(0, 0, 0, 0.13);
  }

  .ion-item-no-side-padding {
    --padding-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-start: 0;
  }

  .ion-item-no-padding-right {
    --padding-end: 0;
    --inner-padding-end: 0;
  }

  .ion-item-no-vertical-padding {
    --padding-top: 0;
    --padding-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .ion-item-bordered {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgba(0, 0, 0, 0.13);
  }

  .ion-item-border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
  }

  .ion-item-bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  }

  .ion-item-no-min-height {
    --min-height: 0px;
  }

  .min-height-36 {
    --min-height: 36px;
  }

  .border-radius5 {
    border-radius: 5px;
  }

  .border-radius24 {
    border-radius: 24px;
  }
}
