/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --service-photo-thumb-size: 72px;
}

.title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.label-for-required-input::after {
  content: "*";
  color: red;
  margin-left: .1em;
}

.ion-item-default-bgc {
  --background: var(--ion-background-color)
}

.map-popover-width {
  --width: 40vw;
  @media (max-width: 1200px) {
    --width: 50vw;
  }
  @media (max-width: 992px) {
    --width: 60vw;
  }
  @media (max-width: 768px) {
    --width: 80vw;
  }
  @media (max-width: 576px) {
    --width: 95vw;
  }
}

.main-page-map-container-width {
  width: 40vw;
  @media (max-width: 1200px) {
    width: 50vw;
  }
  @media (max-width: 992px) {
    width: 60vw;
  }
  @media (max-width: 768px) {
    width: 80vw;
  }
  @media (max-width: 576px) {
    width: 95vw;
  }
}

.text-end {
  text-align: end;
}

.map-popover-city-height {
  --height: 515px;
}

.map-popover-height {
  --height: 400px;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-bg-dark-grey:hover {
  --ion-background-color: #cdd5df;
}

.text-color-success {
  color: var(--ion-color-success);
}

.text-color-danger {
  color: var(--ion-color-danger);
}

.text-secondary {
  color: #3880ff;
}

.space-between-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.not-clickable {
  pointer-events: none;
}

.fs18 {
  font-size: 18px;
}

.fs14 {
  font-size: 14px;
}

.mr10 {
  margin-right: 10px;
}

.fs16 {
  font-size: 16px;
}

.fs20 {
  font-size: 20px;
}

.fs13 {
  font-size: 13px;
}

.pt10 {
  padding-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pr5 {
  padding-right: 5px;
}

.pv5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ph5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.max-width100 {
  max-width: 100%;
}

.ion-d8b-gradient-bgc {
  --ion-background-color: linear-gradient(0deg, #0CD1E8 11.37%, #3880FF 125.68%);
}

.d8b-gradient-bgc {
  background: linear-gradient(0deg, #0CD1E8 11.37%, #3880FF 125.68%);
}

.d8b-container {
  @media (min-width: 577px) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (max-width: 576px) {
    padding-right: 3%;
    padding-left: 3%;
  }
}

.no-horizontal-padding {
  padding-right: 0;
  padding-left: 0;
  --padding-end: 0;
  --padding-start: 0;
}

.text-blue {
  color: #3880FF;
}

.no-padding-right {
  padding-right: 0;
  --padding-end: 0;
}

.no-padding-left {
  padding-left: 0;
  --padding-start: 0;
}

.base-blue {
  color: #0CD1E8;
}

.ion-item-bordered-first {
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.text-red {
  color: #F04141;
}

.text-grey {
  color: #86888F;
}

.ion-item-bordered-others {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.ion-item-no-side-padding {
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-start: 0;
}

.ion-item-no-padding-right {
  --padding-end: 0;
  --inner-padding-end: 0;
}

.ion-item-no-vertical-padding {
  --padding-top: 0;
  --padding-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.ion-item-bordered {
  --border-width: 0;
  --inner-border-width: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  border-right: 1px solid rgba(0, 0, 0, 0.13);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.ion-item-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.ion-item-bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.ion-item-no-min-height {
  --min-height: 0px;
}

.min-height-36 {
  --min-height: 36px;
}

.border-radius5 {
  border-radius: 5px;
}

.border-radius24 {
  border-radius: 24px;
}

.ion-item-tag {
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-start: 0;
  padding: 8px 12px;
  background-color: #EEF5FF;
  --ion-item-background: #EEF5FF;
  border-radius: 16px;
  margin: 2px 7px;
  font-size: 12px;
  line-height: 16px;
}

.active {
  font-weight: bold;
}

.split-pane-visible > .split-pane-side {
  max-width: 300px;
}

.popover-big {
  --width: 90%;
  --height: 90%;
}

.modal-fullscreen {
  --width: 100%;
  --height: 100%;
}

.master-profile-tab-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--ion-color-dark);
}

.sc-ion-label-md-s h1 {
  font-weight: bold;
  font-size: 1rem;
  --ion-padding: 0;
}

.preserve-line-breaks {
  white-space: pre-line;
}

.background-color-white {
  --ion-background-color: var(--ion-color-light);
}

section {
  margin-top: 1rem;
}

header {
  padding-left: 1rem;
  font-weight: bold;
}
