<app-header></app-header>
<ion-content class="background-color-white">
  <ion-grid class="ion-no-padding">
    <ion-row class="d8b-gradient-bgc ion-justify-content-center ion-align-items-center ion-no-padding">
      <ion-col class="ion-d8b-gradient-bgc ion-padding-vertical" size="6" size-sm="10" size-xs="11">
        <form (ngSubmit)="onSubmit()" action="">
          <ion-searchbar
            [formControl]="state.searchForm.get('query')"
            name="search"
            animated
            class="ion-margin-vertical"
            color="light"
            placeholder="{{ 'issuance.search-placeholder' | translate }}"
          ></ion-searchbar>
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!needToRenderFilters()" class="ion-justify-content-around ion-margin-top">
      <ion-item
        lines="none"
        class="cursor-pointer ion-item-no-side-padding ion-item-no-vertical-padding ion-item-no-min-height filters-sort-btn-sm"
        routerDirection="forward"
        routerLink="filters/"
        routerLinkActive="active"
      >
        {{ 'issuance.filters.title' | translate }}
        <ion-icon class="ion-no-margin ion-margin-start" name="funnel-outline"></ion-icon>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-bottom ion-margin-top">
      <ion-col class="ion-no-padding" size="12">
        <ion-row class="ion-margin-top">
          <ion-col
            *ngIf="needToRenderFilters()"
            offset="0"
            offset-lg="1"
            offset-md="0"
            offset-sm="1"
            offset-xl="1"
            size-lg="4"
            size-md="5"
            size-sm="10"
            size-xl="3"
            size-xs="12"
          >
            <app-search-filters></app-search-filters>
          </ion-col>
          <ion-col
            offset="0"
            offset-lg="1"
            offset-md="2"
            offset-sm="1"
            offset-xl="1"
            size-lg="5"
            size-md="8"
            size-sm="10"
            size-xl="5"
            size-xs="12"
          >
            <ion-row *ngIf="searchResultTitle && searchResult?.length">
              <ion-item
                lines="none"
                class="cursor-pointer ion-item-no-side-padding ion-item-no-vertical-padding ion-item-no-min-height filters-sort-btn-sm"
              >
                {{ 'issuance.result.sort' | translate }}
                <ion-icon class="ion-no-margin ion-margin-start" name="swap-vertical-outline"></ion-icon>
              </ion-item>
            </ion-row>
            <ion-item
              *ngIf="searchResultTitle && searchResult?.length"
              class="search-title ion-margin-bottom"
              lines="none"
            >
              {{ searchResult.length }}&nbsp;{{ declineProposal(searchResult.length) | translate }}&nbsp; "{{
                searchResultTitle
              }}"&nbsp;{{ declineIsWaiting(searchResult.length) | translate }}&nbsp;
              {{ 'issuance.result.you' | translate }}
            </ion-item>
            <app-infinite-scroll-container
              [doLoad$]="doLoad$"
              (loadResults)="onLoadResults($event)"
              [emptyText]="'issuance.search-empty' | translate"
            >
              <ng-template appInfiniteScrollItem let-item>
                <app-search-result [data]="item" class="search-result"></app-search-result>
              </ng-template>
            </app-infinite-scroll-container>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
