<app-header></app-header>
<ion-content>
  <app-content-wrapper *ngIf="context$ | async as context">
    <ion-item color="light" lines="full">
      <ion-buttons slot="start">
        <ion-button routerLink="/service/{{ context?.service.id }}" routerDirection="back">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ (currentStep$ | async).title | translate }}</ion-title>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header class="fs20">
            {{ 'order.selected-service' | translate }}
          </ion-list-header>
          <app-service-widget [service]="context?.service" [master]="context.professional"></app-service-widget>
          <app-order-details [order]="orderDetailsState$ | async"></app-order-details>
        </ion-list>
      </ion-col>
    </ion-row>
    <ng-content></ng-content>
    <ion-row>
      <ion-col>
        <ng-container *ngIf="(isPrevDisabled$ | async) === false">
          <ion-button expand="block" color="medium" (click)="prevStep()">
            {{ 'global.back' | translate }}
          </ion-button>
        </ng-container>
      </ion-col>
      <ion-col>
        <ng-container *ngIf="!isWizardDisabled">
          <ion-button *ngIf="isLastStep$ | async; else isNotLastStep" expand="block" color="success" (click)="submit()">{{
            'order.order-service' | translate
          }}</ion-button>
          <ng-template #isNotLastStep>
            <ion-button expand="block" (click)="nextStep()" [disabled]="isNextDisabled$ | async">{{
              'global.forward' | translate
            }}</ion-button>
          </ng-template>
        </ng-container>
      </ion-col>
    </ion-row>
  </app-content-wrapper>
</ion-content>
