<app-header>
  <div class="header">
    <ion-item lines="none" class="header__service-name">
      <ion-buttons slot="start">
        <ion-button [disabled]="isFirstStep$ | async" (click)="prevStep()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>{{ (currentStep$ | async)?.title | translate }}</ion-label>
    </ion-item>
  </div>
</app-header>
<ion-content>
  <app-content-wrapper>
    <ng-container *ngIf="context$ | async as context">
      <ng-content></ng-content>
    </ng-container>
  </app-content-wrapper>
</ion-content>
<ion-footer>
  <div class="footer">
    <ion-button
      *ngIf="isLastStep$ | async; else isNotLastStep"
      expand="block"
      (click)="submit()"
      class="footer__button"
    >
      {{ 'order.order-service' | translate }}
    </ion-button>
    <ng-template #isNotLastStep>
      <ion-button expand="block" (click)="nextStep()" class="footer__button">
        {{ 'order.forward' | translate }}
      </ion-button>
    </ng-template>
  </div>
</ion-footer>
