<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header [backButtonUrl]="professionalServicesUrl">
      {{ 'service-created.title' | translate }}
    </app-column-header>
    <div class="service-created">
      <span class="service-created__icon"><img src="assets/images/calendar.svg" alt="sent order" /></span>
      <h1 class="service-created__heading">{{ 'service-created.message' | translate }}</h1>
      <span class="service-created__details">{{ 'service-created.details' | translate }}</span>
    </div>
    <ion-card *ngIf="service$ | async as service" class="service-card">
      <app-service-title [service]="service"></app-service-title>
    </ion-card>
    <ion-button expand="block" [routerLink]="addNewServiceUrl">
      {{ 'service-created.add-new-service' | translate }}
    </ion-button>
  </app-content-wrapper>
</ion-content>
