.master-address {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #222428;
}

.location-map-link {
  font-size: 16px;
  line-height: 20px;
  color: #3880FF;
}

.availability-subtitle {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
