<header>{{ 'issuance.filters.main-tab.country' | translate }}</header>
<app-country-selector
  [formControl]="form.controls[formFields.country]"
  [title]="'issuance.filters.main-tab.country-placeholder' | translate"
  [itemClass]="'ion-item-bordered'"
>
</app-country-selector>

<header>{{ 'issuance.filters.main-tab.city' | translate }}</header>
<app-city-selector
  [formControl]="form.controls[formFields.city]"
  [country]="form.controls[formFields.country].value"
  [itemClass]="'ion-item-bordered'"
  [title]="'issuance.filters.main-tab.city-placeholder' | translate"
></app-city-selector>

<header>{{ 'issuance.filters.main-tab.categories' | translate }}</header>
<ion-item class="ion-item-bordered">
  <ion-label color="medium" position="floating">
    {{ 'issuance.filters.main-tab.categories-select' | translate }}
  </ion-label>
  <ionic-selectable
    (onChange)="initSubcategories($event.value)"
    [formControl]="form.get(formFields.category)"
    [canSearch]="true"
    [canClear]="true"
    [isMultiple]="true"
    [items]="categoryList$ | async"
    closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
    itemTextField="name"
    itemValueField="id"
    searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
    searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
  >
  </ionic-selectable>
</ion-item>

<header>{{ 'issuance.filters.main-tab.subcategories' | translate }}</header>
<ion-item class="ion-item-bordered">
  <ion-label color="medium" position="floating">
    {{ 'issuance.filters.main-tab.subcategories-select' | translate }}
  </ion-label>
  <ionic-selectable
    [formControl]="form.get(formFields.subcategory)"
    [canSearch]="true"
    [canClear]="true"
    [isEnabled]="!!form.get(formFields.category).value && !!subcategoriesList?.length"
    [isMultiple]="true"
    [items]="subcategoriesList"
    closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
    itemTextField="name"
    itemValueField="id"
    searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
    searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
  >
  </ionic-selectable>
</ion-item>
<ion-item lines="full">
  <ion-label>
    {{ 'issuance.filters.main-tab.instant-booking' | translate }}
    <app-hint hint="{{ 'issuance.filters.main-tab.instant-booking-desc' | translate }}"></app-hint>
  </ion-label>
  <ion-checkbox [formControl]="form.get(formFields.isInstantBooking)"></ion-checkbox>
</ion-item>
<app-collapse-item title="{{ 'issuance.filters.main-tab.datetime' | translate }}">
  <ion-item>
    <ion-label>{{ 'issuance.filters.main-tab.date-from' | translate }}</ion-label>
    <ion-input
      type="date"
      [min]="stateManager.minDate"
      [max]="stateManager.maxDate"
      [formControl]="form.controls[formFields.dateFrom]"
    ></ion-input>
  </ion-item>
  <ion-item [hidden]="!form.controls[formFields.dateFrom].value">
    <ion-icon name="return-down-forward-outline" slot="start"></ion-icon>
    <ion-label>{{ 'issuance.filters.main-tab.time-from' | translate }}</ion-label>
    <ion-input type="time" [formControl]="form.controls[formFields.timeFrom]"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'issuance.filters.main-tab.date-to' | translate }}</ion-label>
    <ion-input
      type="date"
      [min]="stateManager.minDate"
      [max]="stateManager.maxDate"
      [formControl]="form.controls[formFields.dateTo]"
    ></ion-input>
  </ion-item>
  <ion-item [hidden]="!form.controls[formFields.dateTo].value">
    <ion-icon name="return-down-forward-outline" slot="start"></ion-icon>
    <ion-label>{{ 'issuance.filters.main-tab.time-to' | translate }}</ion-label>
    <ion-input type="time" [formControl]="form.controls[formFields.timeTo]"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'issuance.filters.main-tab.exact-interval' | translate }}</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
</app-collapse-item>
<app-collapse-item title="{{ 'issuance.filters.main-tab.availability' | translate }}">
  <ion-item lines="none">
    <ion-label>{{ 'service-location.online' | translate }}</ion-label>
    <ion-checkbox [formControl]="form.get(formFields.isOnlineService)" class="ion-no-margin" slot="end"></ion-checkbox>
  </ion-item>
  <ion-item lines="none">
    <ion-label>{{ 'service-location.professional' | translate }}</ion-label>
    <ion-checkbox
      [formControl]="form.get(formFields.isAtMasterLocationService)"
      class="ion-no-margin"
      slot="end"
    ></ion-checkbox>
  </ion-item>
  <ion-item lines="none">
    <ion-label>{{ 'service-location.client' | translate }}</ion-label>
    <ion-checkbox
      [formControl]="form.get(formFields.isAtClientLocationService)"
      class="ion-no-margin"
      slot="end"
    ></ion-checkbox>
  </ion-item>
  <ion-item
    lines="none"
    class="ion-item-no-side-padding ion-margin-top ion-item-bottom-border ion-item-no-min-height"
  ></ion-item>
</app-collapse-item>
<app-collapse-item title="{{ 'issuance.filters.main-tab.price' | translate }}">
  <ion-item class="ion-item-bordered">
    <ionic-selectable
      itemValueField="currency"
      itemTextField="title"
      [canSearch]="true"
      [canClear]="true"
      [items]="rates$ | async"
      [formControl]="form.controls[formFields.priceCurrency]"
      closeButtonText="{{ 'ion-selectable.close-button-text' | translate }}"
      searchFailText="{{ 'ion-selectable.search-fail-text' | translate }}"
      searchPlaceholder="{{ 'ion-selectable.search-text' | translate }}"
    >
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{ 'issuance.filters.main-tab.price-start' | translate }}</ion-label>
    <ion-input appNumbersOnly [formControl]="form.controls[formFields.priceStart]"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{ 'issuance.filters.main-tab.price-end' | translate }}</ion-label>
    <ion-input appNumbersOnly [formControl]="form.controls[formFields.priceEnd]"></ion-input>
  </ion-item>
</app-collapse-item>
