<ion-card class="ion-no-margin mv5" [routerLink]="['/my-orders', 'outbox', order.id]">
  <ion-item lines="none">
    <ion-label>
      <div><b>{{ order.start_datetime | date:'mediumDate'}}</b></div>
      <div><b>{{ order.start_datetime | date:'hh:mm'}} — {{ order.end_datetime | date:'hh:mm'}}</b></div>
    </ion-label>
    <app-order-status [status]="order.status"></app-order-status>
  </ion-item>
  <app-professional-card *ngIf="master" [professional]="master" class="ion-padding-horizontal"></app-professional-card>
  <ion-item *ngIf="service" lines="none">
    <ion-label class="ion-text-wrap">
      {{ service.name }}
    </ion-label>
    <ion-label class="text-end" slot="end">
      <app-price [price]="service?.price"></app-price>
      <app-duration-viewer [duration]="service.duration"></app-duration-viewer>
    </ion-label>
  </ion-item>
</ion-card>
