<ion-card *ngIf="order">
  <ion-item lines="none">
    <ion-label>
      <div>{{ order.start_datetime | date: 'mediumDate' }}</div>
      <div>{{ order.start_datetime | date: 'hh:mm' }} — {{ order.end_datetime | date: 'hh:mm' }}</div>
    </ion-label>
    <app-order-status [status]="order.status"></app-order-status>
  </ion-item>
  <app-professional-card *ngIf="master" [professional]="master" class="ion-padding-horizontal"></app-professional-card>
  <app-service-title [service]="service"></app-service-title>
  <ion-item lines="none" *appIfSpinner="!pending">
    <ion-button [routerLink]="['/my-orders', 'outbox', order.id]" color="secondary">
      {{ 'sent_orders.view' | translate }}
    </ion-button>
    <ng-container *ngIf="order.status === 'not_confirmed'">
      <ion-button slot="end" color="danger" (click)="onDiscardClick()">
        {{ 'sent_orders.discard' | translate }}
      </ion-button>
    </ng-container>
  </ion-item>
</ion-card>
