<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <app-column-header [backButtonUrl]="'/service/publish/step-seven'">{{
      'service-publish.step-seven.timetable.title' | translate
    }}</app-column-header>
    <app-schedule-editor [formControl]="scheduleEditor"></app-schedule-editor>
    <ion-button type="submit" expand="block" [disabled]="scheduleEditor.invalid" (click)="saveTimetable()">
      {{ 'global.save' | translate }}
    </ion-button>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
