<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <ion-item color="light">
      <ion-col class="ion-no-padding">
        <ion-row class="ion-justify-content-start ion-align-items-center">
          <ion-item
            routerLink="/service/publish/step-seven"
            routerDirection="back"
            routerLinkActive="active"
            class="ion-item-no-border ion-align-items-center"
            color="light"
          >
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-item>
          <ion-item class="ion-item-no-border" color="light">
            {{ 'service-publish.step-seven.timetable.title' | translate }}
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-item>
    <app-schedule-editor [formControl]="scheduleEditor"></app-schedule-editor>
    <ion-button type="submit" expand="block" [disabled]="scheduleEditor.invalid" (click)="saveTimetable()">
      {{ 'global.save' | translate }}
    </ion-button>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
