<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      <ion-label>
        <app-location-viewer type="short" [location]="defaultLocation$ | async"></app-location-viewer>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="userSettingsService.userSettings$ | async as userSettings">
  <ion-list class="ion-no-padding">
    <ion-item class="ion-activatable cursor-pointer">
      {{ 'flag-menu.language' | translate }}:
      <ion-select
        (ionChange)="userSettingsService.setLanguage($event.detail.value)"
        [value]="userSettings?.language"
        interface="alert"
      >
        <ion-select-option *ngFor="let lang of userSettingsService.langList" value="{{ lang }}">
          {{ lang }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="rateList$ | async as rateList" class="ion-activatable cursor-pointer">
      {{ 'flag-menu.currency' | translate }}:
      <ion-select
        (ionChange)="userSettingsService.setCurrency($event.detail.value)"
        [value]="userSettings?.currency"
        interface="alert"
        property="currency"
      >
        <ion-select-option *ngFor="let rate of rateList" [value]="rate.currency">
          {{ rate.currency | titlecase }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-activatable cursor-pointer">
      {{ 'flag-menu.units' | translate }}:
      <ion-select
        (ionChange)="userSettingsService.setUnits($event.detail.value)"
        [value]="userSettings?.units"
        interface="alert"
      >
        <ion-select-option *ngFor="let unit of userSettingsService.unitsList" [value]="unit">
          {{ 'units.' + unit | translate | titlecase }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-activatable cursor-pointer">
      {{ 'flag-menu.dark-theme' | translate }}:
      <ion-toggle (ionChange)="changeMode($event)" [checked]="darkTheme$ | async"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
