<app-header></app-header>
<ion-content>
  <app-content-wrapper>
    <form [formGroup]="formService.form" (ngSubmit)="reset()" (keydown.enter)="reset()">
      <error-flashbag [messages]="errorMessages"></error-flashbag>
      <app-success-flashbag [messages]="successMessages"></app-success-flashbag>
      <ion-item>
        <ion-label class="label-for-required-input" color="medium" position="floating">
          {{ 'reset-password.password' | translate }}
        </ion-label>
        <ion-input type="password" name="password" [formControlName]="formFields.Password"></ion-input>
      </ion-item>
      <app-form-control-error [controlName]="formFields.Password"></app-form-control-error>
      <ion-item>
        <ion-label class="label-for-required-input" color="medium" position="floating">
          {{ 'reset-password.confirm' | translate }}
        </ion-label>
        <ion-input type="password" name="confirm" [formControlName]="formFields.Confirm"></ion-input>
      </ion-item>
      <app-form-control-error [controlName]="formFields.Confirm"></app-form-control-error>
      <app-form-control-error [control]="formService.form" [showErrors]="['passwordMismatch']"></app-form-control-error>>
      <ion-button [disabled]="formService.form.invalid" type="submit" expand="block" fill="solid" color="success">
        {{'reset-password.submit' | translate}}
      </ion-button>
    </form>
  </app-content-wrapper>
</ion-content>
