<app-header></app-header>
<ion-content>
  <form [formGroup]="formService.form" (ngSubmit)="reset()" (keydown.enter)="reset()">
    <ion-row class="ion-justify-content-center">
      <ion-col appMainColumn>
        <error-flashbag [messages]="errorMessages"></error-flashbag>
        <app-success-flashbag [messages]="successMessages"></app-success-flashbag>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col appMainColumn>
        <ion-item>
          <ion-label class="label-for-required-input" color="medium" position="floating">
            {{ 'reset-password.password' | translate }}
          </ion-label>
          <ion-input type="password" name="password" [formControlName]="formFields.Password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col appMainColumn>
        <ion-item>
          <ion-label class="label-for-required-input" color="medium" position="floating">
            {{ 'reset-password.confirm' | translate }}
          </ion-label>
          <ion-input type="password" name="confirm" [formControlName]="formFields.Confirm"></ion-input>
        </ion-item>
        <app-input-error-description text="error.password-mismatch"
                                     *ngIf="formService.form.get(formFields.Confirm).invalid && formService.form.get(formFields.Confirm).dirty">
        </app-input-error-description>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col appMainColumn>
        <ion-button
          [disabled]="formService.form.invalid"
          type="submit"
          expand="block"
          fill="solid"
          color="success">
          {{'reset-password.submit' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
