<app-header></app-header>
<ion-content>
    <form [formGroup]="formService.form" (ngSubmit)="reset()" (keydown.enter)="reset()">

        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <error-flashbag [message]="errorMessage"></error-flashbag>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-item>
                    <ion-label class="label-for-required-input" color="medium" position="floating">password</ion-label>
                    <ion-input type="password" name="password" [formControlName]="formFields.Password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-item>
                    <ion-label class="label-for-required-input" color="medium" position="floating">confirm</ion-label>
                    <ion-input type="password" name="confirm" [formControlName]="formFields.Confirm"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col [sizeXs]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
                <ion-button
                        type="submit"
                        expand="block"
                        fill="solid"
                        color="success"
                >change password</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
