<app-header></app-header>
<ion-content *ngIf="context$ | async as context">
  <app-content-wrapper>
    <app-column-header [previousLocationFallback]="getServicePageUrl(context.service.id)">{{
      'service-details.title' | translate
    }}</app-column-header>
    <form [formGroup]="context.form" (ngSubmit)="submit(context)">
      <section>
        <header>{{ 'service-details.name' | translate }}</header>
        <ion-item>
          <ion-input [formControlName]="formFields.name"></ion-input>
        </ion-item>
      </section>

      <section>
        <header>{{ 'service-details.duration-and-price' | translate }}</header>
        <app-duration-editor class="ion-margin" [formControlName]="formFields.duration"></app-duration-editor>
        <app-price-editor class="ion-margin" [formControlName]="formFields.price"></app-price-editor>
      </section>

      <section>
        <header>{{ 'service-details.payment-methods' | translate }}</header>
        <app-payment-method-editor [formControlName]="formFields.paymentMethods"></app-payment-method-editor>
      </section>

      <ion-button type="submit" expand="block">{{ 'global.save' | translate }}</ion-button>
    </form>
  </app-content-wrapper>
  <app-footer></app-footer>
</ion-content>
