<app-header></app-header>
<ion-content *ngIf="service$ | async as service">
  <app-content-wrapper>
    <ion-item lines="full">
      <ion-buttons slot="start">
        <ion-button [routerLink]="'/service/' + service.id + '/edit'" routerDirection="back">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'service-details.edit' | translate }}</ion-title>
    </ion-item>

  </app-content-wrapper>
</ion-content>
<app-footer></app-footer>
