.top-icon {
  height: 1.6rem;
  width: 1.6rem;
}
.cent-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__left {
    padding-bottom: 1.8rem;
  }
  &__right {
    padding-bottom: 1rem;
  }
}
.avatar {
  --border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.avatar-img {
  @media (max-width: 575px) {
    width: 80%;
  }
  @media (max-width: 475px) {
    width: 100%;
  }
}
.rating {
  font-size: 20px;
  line-height: 24px;
  padding-left: 0.5rem;
  font-weight: bold;
}
.review-count {
  font-weight: bold;
  font-size: 20px;
  line-height: 10px;
}
.review-title {
  font-weight: normal;
  font-size: 11px;
}
.name-title {
  font-size: 18px;
  font-weight: bold;
}

.add-photo {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  size: 4rem;
  border: 3px solid var(--ion-color-light);
  border-radius: 50%;
  &:hover {
    color: var(--ion-color-primary);
  }
  @media (max-width: 575px) {
    right: 0.9rem;
    bottom: 0.9rem;
  }
  @media (max-width: 475px) {
    right: 0.4rem;
    bottom: 0.4rem;
  }
}
