<app-header></app-header>
<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
            <ion-col appMainColumn>
                <ion-item color="light" lines="full">
                    <ion-buttons slot="start">
                        <ion-button routerLink="/search" routerDirection="back">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-label>
                        <h1>{{ 'service-details.title' | translate }}</h1>
                    </ion-label>
                </ion-item>
                <ng-container *ngIf="service">
                    <app-service-widget [service]="service" [master]="master"
                                        [alwaysExpanded]="true">
                    </app-service-widget>
                    <ion-button [routerLink]="'/order/' + service.id" size="full">
                        {{ 'order.order-service' | translate }}
                    </ion-button>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
